force-app/main/default/flows/AF_Evaluate_The_Best_Candidate_Before_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigment_Clean_Work_Offers_Other_Candidates</name>
        <label>Assigment Clean Work Offers Other Candidates</label>
        <locationX>1188</locationX>
        <locationY>2072</locationY>
        <assignmentItems>
            <assignToReference>WorkOfferDetailsCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CleanWorkOffersDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Others_Work_Offers_By_Service_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Overdue_Work_Offers</name>
        <label>Assignment Overdue Work Offers</label>
        <locationX>156</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>WorkOffersDetailsRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Work_Offers_By_Service_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffersDetailsRecord.WOM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffersDetailsRecord.WOM_Acceptance_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Excluded by Better Offer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOfferDetailsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOffersDetailsRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Work_Offers_By_Service_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Service_Resource_For_Best_Candidate</name>
        <label>Assignment Service Resource For Best Candidate</label>
        <locationX>1276</locationX>
        <locationY>1880</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Sort_Order_Work_Offer_Accepted.WOM_Service_Resource__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sort_Order_Work_Offer_Accepted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Values_Work_Offers_Acceptd_Equals_1</name>
        <label>Assignment Values Work Offers Acceptd Equals 1</label>
        <locationX>264</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Work_Offers_Accepted_equals_1.WOM_Service_Resource__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Work_Offers_Accepted_equals_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Values_Work_Offers_Accepted_Greater_Than_1</name>
        <label>Assignment Values Work Offers Accepted Greater Than 1</label>
        <locationX>660</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WorkOffers_Accepted_Greater_than_1.WOM_Service_Resource__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Others_Work_Offers_By_Service_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_Overdue_Work_Offer</name>
        <label>Assignment Overdue Work Offer</label>
        <locationX>1452</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>WorkOffersDetailsRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WorkOffers_Accepted_Greater_than_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffersDetailsRecord.WOM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffersDetailsRecord.WOM_Acceptance_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Excluded by Better Offer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOfferDetailsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOffersDetailsRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_WorkOffers_Accepted_Greater_than_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Others_Work_Offers_By_Loop_Service_Resource</name>
        <label>Count Others Work Offers By Loop Service Resource</label>
        <locationX>924</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CountOthersWorkOffersByLoop</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Others_Work_Offers_By_Loop_Service_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valdate_Other_Work_Offers_By_Loop_Service_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Others_Work_Offers_By_Other_Appointments</name>
        <label>Count Others Work Offers By Other Appointments</label>
        <locationX>1364</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CountOthersWorkOffersByAppointments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Work_Offer_By_Other_Appointments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Other_Candidates_By_Other_Appointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Work_Offers_Acepted</name>
        <label>Count Work Offers Acepted</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CountWorkOffersAccepted</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Work_Offers_Accpted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evalute_Number_Of_Candidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Work_Offers_Acepted_By_Service_Resource</name>
        <label>Count Work Offers Acepted By Service Resource</label>
        <locationX>176</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>CountWorkOffersAcceptedByServiceResource</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Others_Work_Offers_By_Service_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_Other_Work_Offer_Accepted_By_Service_Resource</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Work_Offer_Accepted_1</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Filter Work Offer Accepted 1</label>
        <locationX>572</locationX>
        <locationY>2414</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Work_Offers_Accpted</collectionReference>
        <connector>
            <targetReference>Loop_Work_Offers_Accepted_equals_1</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>WOM_Grade__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Order_Work_Offer_Accepted</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Order Work Offer Accepted</label>
        <locationX>1188</locationX>
        <locationY>1664</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Work_Offers_Accpted</collectionReference>
        <connector>
            <targetReference>Loop_Sort_Order_Work_Offer_Accepted</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>WOM_Grade__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Evalute_Number_Of_Candidate</name>
        <label>Evalute Number Of Candidate</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountWorkOffersAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>0</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountWorkOffersAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Work_Offers_Accepted_equals_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>Mayor_que_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountWorkOffersAccepted</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_WorkOffers_Accepted_Greater_than_1</targetReference>
            </connector>
            <label>Mayor que 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Other_Work_Offer_Accepted_By_Service_Resource</name>
        <label>Exist Other Work Offer Accepted By Service Resource</label>
        <locationX>176</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>Update_Others_Work_Offers_Details_By_Other_Appointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountWorkOffersAcceptedByServiceResource</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Work_Offers_By_Service_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valdate_Other_Work_Offers_By_Loop_Service_Resource</name>
        <label>Valdate Other Work Offers By Loop Service Resource</label>
        <locationX>924</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_Others_Work_Offers_By_Loop_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_WorkOffers_ByLoop_ServiceResource_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOthersWorkOffersByLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Values_Work_Offers_Accepted_Greater_Than_1</targetReference>
            </connector>
            <label>0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Other_Candidates_By_Other_Appointments</name>
        <label>Validate Other Candidates By Other Appointments</label>
        <locationX>1364</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assignment_Overdue_Work_Offer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_Or_Equals_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOthersWorkOffersByAppointments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Others_Work_Offers_By_Loop_Service_Resource</targetReference>
            </connector>
            <label>Greater Than Or Equals 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ServiceAppointmentId18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!ServiceAppointmentId})</expression>
    </formulas>
    <interviewLabel>AF Evaluate The Best Candidate Before Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF Evaluate The Best Candidate Before Schedule</label>
    <loops>
        <name>Loop_Others_Work_Offers_By_Loop_Service_Resource</name>
        <label>Loop Others Work Offers By Loop Service Resource</label>
        <locationX>1188</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Others_Work_Offers_By_Loop_Service_Resource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Work_Offer_By_Other_Appointments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Work_Offer_Accepted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Sort_Order_Work_Offer_Accepted</name>
        <label>Loop Sort Order Work Offer Accepted</label>
        <locationX>1188</locationX>
        <locationY>1772</locationY>
        <collectionReference>Get_Work_Offers_Accpted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Service_Resource_For_Best_Candidate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assigment_Clean_Work_Offers_Other_Candidates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Work_Offers_Accepted_equals_1</name>
        <label>Loop Work Offers Accepted equals 1</label>
        <locationX>176</locationX>
        <locationY>2606</locationY>
        <collectionReference>Get_Work_Offers_Accpted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Values_Work_Offers_Acceptd_Equals_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Others_Work_Offers_By_Service_Resource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Work_Offers_By_Service_Resource</name>
        <label>Loop Work Offers By Service Resource</label>
        <locationX>68</locationX>
        <locationY>3230</locationY>
        <collectionReference>Get_Others_Work_Offers_By_Service_Resource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Overdue_Work_Offers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Others_Work_Offers_Details_By_Other_Appointments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_WorkOffers_Accepted_Greater_than_1</name>
        <label>Loop WorkOffers Accepted Greater than 1</label>
        <locationX>572</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Work_Offers_Accpted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Others_Work_Offers_By_Loop_Service_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Work_Offer_Accepted_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Others_Work_Offers_By_Loop_Service_Resource</name>
        <label>Get Others Work Offers By Loop Service Resource</label>
        <locationX>924</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Others_Work_Offers_By_Loop_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WOM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId18</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOM_Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_WorkOffers_Accepted_Greater_than_1.WOM_Service_Resource__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOM_Acceptance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WOM_WorkOfferDetail__c</object>
        <sortField>WOM_Grade__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Others_Work_Offers_By_Service_Resource</name>
        <label>Get Others Work Offers By Service Resource</label>
        <locationX>176</locationX>
        <locationY>2906</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Work_Offers_Acepted_By_Service_Resource</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>WOM_Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId18</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOM_Acceptance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>WOM_Acceptance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WOM_WorkOfferDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Offer_By_Other_Appointments</name>
        <label>Get Work Offer By Other Appointments</label>
        <locationX>1364</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Others_Work_Offers_By_Other_Appointments</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Others_Work_Offers_By_Loop_Service_Resource.ServiceAppointment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WOM_Service_Resource__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Loop_WorkOffers_Accepted_Greater_than_1.WOM_Service_Resource__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOM_Acceptance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>WOM_Acceptance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WOM_WorkOfferDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Offers_Accpted</name>
        <label>Get Work Offers Accpted</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Work_Offers_Acepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOM_Acceptance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>WOM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WOM_WorkOfferDetail__c</object>
        <sortField>WOM_Grade__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Others_Work_Offers_Details_By_Other_Appointments</name>
        <label>Update Others Work Offers Details By Other Appointments</label>
        <locationX>176</locationX>
        <locationY>3614</locationY>
        <inputReference>WorkOfferDetailsCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Offers_Accpted</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CleanWorkOffersDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WOM_WorkOfferDetail__c</objectType>
    </variables>
    <variables>
        <name>CountOthersWorkOffersByAppointments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOthersWorkOffersByLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountWorkOffersAccepted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountWorkOffersAcceptedByServiceResource</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RoundCandidates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOfferDetailsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WOM_WorkOfferDetail__c</objectType>
    </variables>
    <variables>
        <name>WorkOffersDetailsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WOM_WorkOfferDetail__c</objectType>
    </variables>
</Flow>
