force-app/main/default/flows/AF_Notify_Work_Offer_Base.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Base</name>
        <label>Notify Base</label>
        <locationX>264</locationX>
        <locationY>1490</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Share_Work_Offer_Details_With_Partner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsIdsBase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Nueva Oferta:  {!WorkOfferDetailRecord.ServiceAppointment_Number__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop_WorkOffer_Collection.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment</name>
        <label>Assignment Recipients Ids</label>
        <locationX>264</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIdsBase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_WorkOffer_Collection.WOM_ServiceResource_AdminUser__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Base</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Id_Bases</name>
        <label>Assignment Id Basesrec</label>
        <locationX>440</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>WorkOfferDetailRecord.ServiceAppointment_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_Work_Offer_Details_By_Base.ServiceAppointment_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOfferDetailRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_Work_Offer_Details_By_Base.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOfferDetailRecord.WOM_ServiceResource_AdminUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Admin_Base_For_Technician.Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOfferDetailsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOfferDetailRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientsIdsBase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Work_Offer_Details_By_Base</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Info</name>
        <label>Assignment Info</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Admin_Base_For_Technician.Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Id_Bases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_collection</name>
        <label>Clean collection</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIdsBase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WorkOffer_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_collection_Base</name>
        <label>Clean collection Base</label>
        <locationX>264</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIdsBase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WorkOffer_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Work_Offer_Details</name>
        <label>Count Work Offer Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CountWorkOfferDetails</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Work_Offer_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Work_Offer_Details_By_Base</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_it_the_same_resource</name>
        <label>Is it the same resource?</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assignment_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientsIdsBase</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Admin_Base_For_Technician.Service_Resource__r.RelatedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Get_Work_Offer_Details_By_Base</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AF Notify Work Offer Base {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF Notify Work Offer Base</label>
    <loops>
        <name>Loop_Get_Work_Offer_Details_By_Base</name>
        <label>Loop Get Work Offer  Details By Base</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Work_Offer_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Admin_Base_For_Technician</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Custom_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_WorkOffer_Collection</name>
        <label>Loop WorkOffer Collection</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <collectionReference>WorkOfferDetailsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Work_Offer_Details_With_Partner</name>
        <label>Share Work Offer Details With Partner</label>
        <locationX>264</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Share_Work_Offer_With_Partner</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Loop_WorkOffer_Collection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Loop_WorkOffer_Collection.WOM_ServiceResource_AdminUser__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WOM_WorkOfferDetail__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_Work_Offer_With_Partner</name>
        <label>Share Work Offer With Partner</label>
        <locationX>264</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Clean_collection_Base</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>WorkOfferId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Loop_WorkOffer_Collection.WOM_ServiceResource_AdminUser__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WOM_WorkOffer__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Admin_Base_For_Technician</name>
        <label>Get Admin Base For Technician</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_the_same_resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Get_Work_Offer_Details_By_Base.WOM_Service_Resource__r.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReportsToId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clean_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoIT_WOM_Notify_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Offer_Details</name>
        <label>Get Work Offer Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Work_Offer_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WOM_WorkOffer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOfferId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WOM_Acceptance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_OutsideOfTheRing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WOM_WorkOfferDetail__c</object>
        <sortField>WOM_Grade__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Offer_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AppointmentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BlankValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountWorkOfferDetails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Por favor revise la oferta de Cita de Servicio</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecipientsIdsBase</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOfferDetailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WOM_WorkOfferDetail__c</objectType>
    </variables>
    <variables>
        <name>WorkOfferDetailsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WOM_WorkOfferDetail__c</objectType>
    </variables>
    <variables>
        <name>WorkOfferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
