force-app/main/default/flows/Appointment_Assistant_URL_Notifications_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_on_Travel_Status</name>
        <label>Email on Travel Status</label>
        <locationX>380</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_a_Prrogrammed_WT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>santiago.pelaez@colibriit.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Nos encontramos en ruta para atender tu servicio</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyTemplateAA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notificacion_Programmed</name>
        <label>Notificacion Programmed</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>Get_Service_Appointment.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>Get_Service_Appointment.Contact.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Service_Appointment.Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <stringValue>-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notificación salesforce</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Service_Appointment.Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>Get_Service_Appointment.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <stringValue>Service Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_TravelNotificacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>Get_Service_Appointment.ActualStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>Get_Service_Appointment.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>Get_Service_Appointment.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
            <value>
                <stringValue>-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>Get_Service_Appointment.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Appointment.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_on_Travel_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Appointment_Has_Contact</name>
        <label>Appointment Has Contact?</label>
        <locationX>858</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_With_Contact_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Has_Email</targetReference>
            </connector>
            <label>Appointment With Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Has_Email</name>
        <label>Contact Has Email?</label>
        <locationX>611</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Has_Email_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email</targetReference>
            </connector>
            <label>Contact Has Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_SA_Status</name>
        <label>Evaluate SA Status</label>
        <locationX>1114</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Travel_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Has_Contact</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_Prrogrammed_WT</name>
        <label>Is a Prrogrammed WT</label>
        <locationX>380</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Programmed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.CoIT_WOM_Scheduling_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Programmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pertenece_a</targetReference>
            </connector>
            <label>Yes Is Programmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pertenece_a</name>
        <label>Pertenece a</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>(1 AND 7) OR (2 AND 7) OR (3 AND 7) OR (4 AND 7) OR (5 AND 7) OR (6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Elegido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Traslado aeropuerto o terminal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Mensajeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Familiar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Cerrajeria - General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Appointment.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notificacion_Programmed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>- Template for Self Scheduling v2
- Implementacion Integracion SMS</description>
    <environments>Default</environments>
    <interviewLabel>Appointment Assistant URL Notifications Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Assistant URL Notifications Email2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>1114</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_SA_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1114</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>1114</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>1114</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>988</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApptAssistantInfoUrl</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApptAssistantInfoUrl</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AssignedResource</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>BodyTemplateAA</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Apreciado cliente su cita ha sido agendada, ha sido vista por el técnico y en este momento se encuentra en camino, para visualizar su ubicación seleccione el siguiente link :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Get_Assigned_Resource.ApptAssistantInfoUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Consulta en Donde esta tu Tècnico&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MailTemplateAA</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;Apreciado cliente, su cita ha sido agendada, para confirmar su cita por favor siga el siguiente enlace:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>T_TravelNotificacion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: ¡ya va en camino su servicio de {!Get_Work_Order.WorkType.CoIT_NameClean__c}! {!Get_Service_Appointment.FSSK__FSK_Assigned_Service_Resource__r.Name} llegará a las {!$Record.ServiceAppointment.ActualStartTime}a la {!Get_Service_Appointment.Street}. Haga seguimiento a su servicio aquí:  {[{!Get_Assigned_Resource.ApptAssistantInfoUrl} ]}</text>
    </textTemplates>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
