force-app/main/default/flows/CoIT_SF_CreateNew_BusinessBehaivor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_FaultResult</name>
        <label>Assignment Fault Result</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_BusinessBehaivor_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewWorkTypeBusinessBehaivor1</name>
        <label>Assignment New Work Type Business Behaivor</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.WorkType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_WorkType1.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.Scheduling_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SchedulingType1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.Scheduling_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SchedulingModel1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_Entitlement1.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.First_SchedulingPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_FirstSchedulingPolicy1.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.Second_SchedulingPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_SecondSchedulingPolicy1.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.Third_SchedulingPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_ThirdSchedulingPolicy1.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.CoIT_RequireRescheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ch_Requiere_reschedule1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_WorkTypeBusinessBehaivor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewWorkTypeBusinessBehaivor2</name>
        <label>Assignment New Work Type Business Behaivor</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.WorkType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_WorkType2.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.Scheduling_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SchedulingType2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.Scheduling_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SchedulingModel2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_Entitlement2.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.First_SchedulingPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_FirstSchedulingPolicy2.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.Second_SchedulingPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_SecondSchedulingPolicy2.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.Third_SchedulingPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_ThirdSchedulingPolicy2.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.CoIT_RequireRescheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ch_Requiere_reschedule2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessBehaivor_Record.ServiceTerritory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_ServiceTerritory2.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WorkTypeBusinessBehaivor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ResultCreate</name>
        <label>Assignment Result Create</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>ResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registro creado con Exito</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ok</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_BusinessBehaivor_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ResultUpdate</name>
        <label>Assignment Result Update</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registro actualizado con Exito</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ok</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_BusinessBehaivor_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ValuesSelected_InitialScreen</name>
        <label>Assignment Values Selected Initial creen</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>WorkTypeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_WorkType_Query1.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SchedulingTypeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SchedulingType_Query1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTerritorySelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTerritoryDisabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BusinessBehaivor_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ValuesSelected_Screen3</name>
        <label>Assignment Values Selected Screen 3</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>WorkTypeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_WorkType_Query3.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SchedulingTypeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SchedulingType_Query3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTerritorySelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChLU_ServiceTerritory_Query3.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTerritoryDisabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_CreateBusinessBehaivor2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignmet_Count_BusinessBehaivorResult</name>
        <label>Assignmet Count Business Behaivor Result</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>BusinessBehaivorResult</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>BusinessBehaivor_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_BusinessBehaivorResult</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ch_Add</name>
        <choiceText>Otro Comportamiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Exit</name>
        <choiceText>Salir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_New</name>
        <choiceText>Nuevo Comportamiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Evaluate_BusinessBehaivorResult</name>
        <label>Evaluate Business Behaivor Result</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal0_BusinessBehaivorResult_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessBehaivorResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_CreateBusinessBehaivor1</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>Equal1_BusinessBehaivorResult_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessBehaivorResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Screen_CreateBusinessBehaivor2</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>GreaterThan1_BusinessBehaivorResult_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessBehaivorResult</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Step2</targetReference>
            </connector>
            <label>Mayor que 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_BusinessBehaivor</name>
        <label>Exist Business Behaivor?</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_BusinessBehaivor_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessBehaivor_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ValuesSelected_Screen3</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_BusinessBehaivor_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessBehaivor_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_UpdateBusinessBehaivor3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CCS_ServiceTerritory</name>
        <collectionReference>BusinessBehaivor_Collection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>CoIT_WorkType_BusinessBehaivor__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_SchedulingModel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Scheduling_Model__c</picklistField>
        <picklistObject>CoIT_WorkType_BusinessBehaivor__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_SchedulingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Scheduling_Type__c</picklistField>
        <picklistObject>CoIT_WorkType_BusinessBehaivor__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Entitlement</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_SchedulingPolicy</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>FSL__Scheduling_Policy__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_ServiceTerritory</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_WorkType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>WorkType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CoIT SF Create New Business Behaivor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT SF Create New Business Behaivor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_WorkTypeBusinessBehaivor</name>
        <label>Create Work Type Business Behaivor</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assignment_ResultCreate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assignment_FaultResult</targetReference>
        </faultConnector>
        <inputReference>NewBusinessBehaivor_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>BusinessBehaivor_Collection</name>
        <label>Get Business Behaivor Collection</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignmet_Count_BusinessBehaivorResult</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchedulingTypeSelected</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoIT_WorkType_BusinessBehaivor__c</object>
        <sortField>ServiceTerritory__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BusinessBehaivor_Record</name>
        <label>Get Business Behaivor</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_BusinessBehaivor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChLU_WorkType_Query3.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PL_SchedulingType_Query3</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceTerritory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChLU_ServiceTerritory_Query3.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CoIT_WorkType_BusinessBehaivor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BusinessBehaivor</name>
        <label>Update Business Behaivor</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Assignment_ResultUpdate</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assignment_FaultResult</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessBehaivor_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_RequireRescheduled__c</field>
            <value>
                <elementReference>Ch_Requiere_reschedule3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_SchedulingPolicy__c</field>
            <value>
                <elementReference>ChLU_FirstSchedulingPolicy3.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduling_Model__c</field>
            <value>
                <elementReference>PL_SchedulingModel3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_SchedulingPolicy__c</field>
            <value>
                <elementReference>ChLU_SecondSchedulingPolicy3.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_SchedulingPolicy__c</field>
            <value>
                <elementReference>ChLU_ThirdSchedulingPolicy3.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_WorkType_BusinessBehaivor__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_BusinessBehaivor_Result</name>
        <label>Business Behaivor Result</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_ResultSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(50, 102, 71); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;{!ResultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Result</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ok</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_ResultFail</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(202, 44, 44);&quot;&gt;{!ResultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Result</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Error</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_CreateBusinessBehaivor1</name>
        <label>Create Business Behaivor</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_NewWorkTypeBusinessBehaivor1</targetReference>
        </connector>
        <fields>
            <name>ChLU_WorkType1</name>
            <choiceReferences>RCS_WorkType</choiceReferences>
            <defaultValue>
                <elementReference>WorkTypeSelected</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Work Type</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_SchedulingType1</name>
            <choiceReferences>PCS_SchedulingType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SchedulingTypeSelected</elementReference>
            </defaultValue>
            <fieldText>Scheduling Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChLU_WorkType_Query1.selectedChoiceLabels</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PL_SchedulingModel1</name>
            <choiceReferences>PCS_SchedulingModel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Scheduling Model</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_Entitlement1</name>
            <choiceReferences>RCS_Entitlement</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Entitlement Process</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_FirstSchedulingPolicy1</name>
            <choiceReferences>RCS_SchedulingPolicy</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>First Scheduling Policy</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_SecondSchedulingPolicy1</name>
            <choiceReferences>RCS_SchedulingPolicy</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Second Scheduling Policy</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_ThirdSchedulingPolicy1</name>
            <choiceReferences>RCS_SchedulingPolicy</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Third Scheduling Policy</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ch_Requiere_reschedule1</name>
            <dataType>Boolean</dataType>
            <fieldText>Requiere re-schedule</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_CreateBusinessBehaivor2</name>
        <label>Create Business Behaivor</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_NewWorkTypeBusinessBehaivor2</targetReference>
        </connector>
        <fields>
            <name>DT_ResultSuccess2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(50, 102, 71);&quot;&gt;{!ResultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_WorkType2</name>
            <choiceReferences>RCS_WorkType</choiceReferences>
            <defaultValue>
                <elementReference>WorkTypeSelected</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Work Type</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_SchedulingType2</name>
            <choiceReferences>PCS_SchedulingType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SchedulingTypeSelected</elementReference>
            </defaultValue>
            <fieldText>Scheduling Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChLU_WorkType_Query1.selectedChoiceLabels</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChLU_ServiceTerritory2</name>
            <choiceReferences>RCS_ServiceTerritory</choiceReferences>
            <defaultValue>
                <elementReference>ServiceTerritorySelected</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Service Territory</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <elementReference>ServiceTerritoryDisabled</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_SchedulingModel2</name>
            <choiceReferences>PCS_SchedulingModel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Scheduling Model</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_Entitlement2</name>
            <choiceReferences>RCS_Entitlement</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Entitlement Process</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_FirstSchedulingPolicy2</name>
            <choiceReferences>RCS_SchedulingPolicy</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>First Scheduling Policy</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_SecondSchedulingPolicy2</name>
            <choiceReferences>RCS_SchedulingPolicy</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Second Scheduling Policy</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_ThirdSchedulingPolicy2</name>
            <choiceReferences>RCS_SchedulingPolicy</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Third Scheduling Policy</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ch_Requiere_reschedule2</name>
            <dataType>Boolean</dataType>
            <fieldText>Requiere re-schedule</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Step1</name>
        <label>Select Work Type &amp;  Scheduling Type</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_ValuesSelected_InitialScreen</targetReference>
        </connector>
        <fields>
            <name>ChLU_WorkType_Query1</name>
            <choiceReferences>RCS_WorkType</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Work Type</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_SchedulingType_Query1</name>
            <choiceReferences>PCS_SchedulingType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Scheduling Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChLU_WorkType_Query1.selectedChoiceLabels</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Step2</name>
        <label>Select Service Territory</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BusinessBehaivor_Record</targetReference>
        </connector>
        <fields>
            <name>DT_ResultSuccess3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(50, 102, 71); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;{!ResultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_WorkType_Query3</name>
            <choiceReferences>RCS_WorkType</choiceReferences>
            <defaultValue>
                <elementReference>WorkTypeSelected</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Work Type</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_SchedulingType_Query3</name>
            <choiceReferences>PCS_SchedulingType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SchedulingTypeSelected</elementReference>
            </defaultValue>
            <fieldText>Scheduling Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChLU_WorkType_Query1.selectedChoiceLabels</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChLU_ServiceTerritory_Query3</name>
            <choiceReferences>RCS_ServiceTerritory</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Service Territory</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_AvailableBusinessBehaivor</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CoIT_WorkType_BusinessBehaivor__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Available Business Behaivor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>BusinessBehaivor_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CoIT_ServiceTerritory_Name__c&quot;,&quot;guid&quot;:&quot;column-e239&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Service Territory&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Service Territory Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Scheduling_Model__c&quot;,&quot;guid&quot;:&quot;column-eeca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Scheduling Model&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Scheduling Model&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CoIT_Entitlement_Name__c&quot;,&quot;guid&quot;:&quot;column-71a8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Entitlement&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Entitlement Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CoIT_First_SchedulingPolicy_Name__c&quot;,&quot;guid&quot;:&quot;column-498a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;First Scheduling Policy&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;First Scheduling Policy Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CoIT_Second_SchedulingPolicy_Name__c&quot;,&quot;guid&quot;:&quot;column-5211&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Second Scheduling Policy&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Second Scheduling Policy Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CoIT_Third_SchedulingPolicy_Name__c&quot;,&quot;guid&quot;:&quot;column-5f86&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Third Scheduling Policy&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Third Scheduling Policy Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CoIT_RequireRescheduled__c&quot;,&quot;guid&quot;:&quot;column-f5ce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Requiere re-schedule&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Require Rescheduled?&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_UpdateBusinessBehaivor3</name>
        <label>Update Business Behaivor</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_BusinessBehaivor</targetReference>
        </connector>
        <fields>
            <name>ChLU_WorkType3</name>
            <choiceReferences>RCS_WorkType</choiceReferences>
            <defaultValue>
                <elementReference>ChLU_WorkType_Query1.selectedChoiceValues</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Work Type</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_SchedulingType3</name>
            <choiceReferences>PCS_SchedulingType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PL_SchedulingType_Query3</elementReference>
            </defaultValue>
            <fieldText>Scheduling Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChLU_WorkType_Query1.selectedChoiceLabels</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Service_Territory</name>
            <choiceReferences>RCS_ServiceTerritory</choiceReferences>
            <defaultValue>
                <elementReference>ChLU_ServiceTerritory_Query3.selectedChoiceValues</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Service Territory</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_SchedulingModel3</name>
            <choiceReferences>PCS_SchedulingModel</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BusinessBehaivor_Record.Scheduling_Model__c</elementReference>
            </defaultValue>
            <fieldText>Scheduling Model</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_Entitlement3</name>
            <choiceReferences>RCS_Entitlement</choiceReferences>
            <defaultValue>
                <elementReference>BusinessBehaivor_Record.Entitlement__r.Id</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Entitlement Process</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_FirstSchedulingPolicy3</name>
            <choiceReferences>RCS_SchedulingPolicy</choiceReferences>
            <defaultValue>
                <elementReference>BusinessBehaivor_Record.First_SchedulingPolicy__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>First Scheduling Policy</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_SecondSchedulingPolicy3</name>
            <choiceReferences>RCS_SchedulingPolicy</choiceReferences>
            <defaultValue>
                <elementReference>BusinessBehaivor_Record.Second_SchedulingPolicy__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Second Scheduling Policy</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChLU_ThirdSchedulingPolicy3</name>
            <choiceReferences>RCS_SchedulingPolicy</choiceReferences>
            <defaultValue>
                <elementReference>BusinessBehaivor_Record.Third_SchedulingPolicy__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Third Scheduling Policy</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ch_Requiere_reschedule3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>BusinessBehaivor_Record.CoIT_RequireRescheduled__c</elementReference>
            </defaultValue>
            <fieldText>Requiere re-schedule</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Step1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BusinessBehaivorResult</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_AllServiceTerritory_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>NewBusinessBehaivor_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CoIT_WorkType_BusinessBehaivor__c</objectType>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SchedulingTypeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryDisabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritorySelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
