force-app/main/default/flows/CoIT_Create_WO_Entrega.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Tipo_de_impacto</name>
        <label>Tipo de impacto?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Obtener_SR_Asesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alto</defaultConnectorLabel>
        <rules>
            <name>Medio_o_bajo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_servicio_mediante_videollamada_a_WO_Entrega</targetReference>
            </connector>
            <label>Medio o bajo</label>
        </rules>
    </decisions>
    <description>- Asignación de entitlement
- Asignacion de WT mediante su busqueda mediante el nombre.
- Asignacion del campo CoIT_Proveedor_ID a la WO-Entrega y sus SA</description>
    <environments>Default</environments>
    <interviewLabel>CoIT Create WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT Create WO Entrega</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Appointment_Dependency_para_las_SA</name>
        <label>Appointment Dependency para las SA</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Creacion_WO_Entrega_Exitosa</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_1__c</field>
            <value>
                <elementReference>Obtener_SA_Asesor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_2__c</field>
            <value>
                <elementReference>Obtener_SA_Tecnico.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSL__Time_Dependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Wo_entrega</name>
        <label>Crear Wo-entrega</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Obtener_WT_WOLI_Asesor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Creacion_WO_Entrega_fallida</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Case.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Obtener_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Impacto__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Impacto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Proveedor_ID__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Proveedor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Obtener_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Obtener_Entitlement_WO_Entrega.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q8I000000LCOJQA4</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_WOLI_Tecnico</name>
        <label>Crear WOLI-Tecnico</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Tipo_de_impacto</targetReference>
        </connector>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Crear_Wo_entrega</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Obtener_WT_WOLI_Tecnico.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Resource_preference_WO_Asesor</name>
        <label>Resource preference WO-Asesor</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Resource_preference_WOLI_Tecnico</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Crear_Wo_entrega</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Obtener_SR_Asesor.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Resource_preference_WOLI_Tecnico</name>
        <label>Resource preference WOLI-Tecnico</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Obtener_WO_Entrega</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Crear_WOLI_Tecnico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Obtener_Case.null__NotFound.Service_Resource__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Case</name>
        <label>Obtener Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Entitlement_WO_Entrega</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Entitlement_WO_Entrega</name>
        <label>Obtener Entitlement WO-Entrega</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Wo_entrega</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orden de Trabajo - Entrega</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_SA_Asesor</name>
        <label>Obtener SA-Asesor</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_SA_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Wo_entrega</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_SA_Tecnico</name>
        <label>Obtener SA-Tecnico</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Service_Appointment_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Tecnico</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_SR_Asesor</name>
        <label>Obtener SR-Asesor</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_preference_WO_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Case.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_WO_Entrega</name>
        <label>Obtener WO-Entrega</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_SA_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Wo_entrega</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_WT_WOLI_Asesor</name>
        <label>Obtener WT WOLI-Asesor</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_WT_WOLI_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entrega Asesor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_WT_WOLI_Tecnico</name>
        <label>Obtener WT WOLI Tecnico</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_WOLI_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entrega Técnico (Acompañamiento)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_SA_Asesor</name>
        <label>Actualizar SA-Asesor</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Actualizar_SA_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Wo_entrega</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsOffsiteAppointment</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_SA_Tecnico</name>
        <label>Actualizar SA-Tecnico</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Obtener_SR_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Tecnico</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsOffsiteAppointment</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_servicio_mediante_videollamada_a_WO_Entrega</name>
        <label>Asignar &quot;servicio mediante videollamada&quot; a WO - Entrega</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Actualizar_SA_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Wo_entrega</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Servicio_mediante_videollamada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment_Asesor</name>
        <label>Update Service Appointment Asesor</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Update_Service_Appointment_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_SA_Asesor.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Proveedor_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Related_Service__c</field>
            <value>
                <elementReference>Obtener_SA_Tecnico.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Time_Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment_Tecnico</name>
        <label>Update Service Appointment Tecnico</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Appointment_Dependency_para_las_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_SA_Tecnico.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Proveedor_ID__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Proveedor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Related_Service__c</field>
            <value>
                <elementReference>Obtener_SA_Asesor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Time_Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Creacion_WO_Entrega_Exitosa</name>
        <label>Creacion WO Entrega Exitosa</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_WO_Entrega_Exitosa</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Se ha creado exitosamente la Orden de trabajo para la Entrega:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Orden de trabajo: {!Obtener_WO_Entrega.WorkOrderNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Creacion_WO_Entrega_fallida</name>
        <label>Creacion WO Entrega fallida</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_WO_Rep_fallida</name>
            <fieldText>&lt;p&gt;No es posible crea Ordenes de trabajo para Entrega.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Por favor revisa que el propietario (Owner) del Caso (Case) sea un usuario y no una cola (Queue).&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Case</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
