force-app/main/default/flows/CoIT_AF_Create_Service_Appointment_Status_History.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Scheduled_Status</name>
        <label>Is Scheduled Status</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsScheduled_Outcome</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>V_ServiceAppointmentStatusPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AF_Assigment_Automatic_Scheduling_By_Work_Offers_Process</targetReference>
            </connector>
            <label>Is Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Change_Status</name>
        <label>Is there a Change Status?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Change_Status_Outcome</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>V_ServiceAppointmentStatusPrior</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ServiceAppointmentRecord.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource_Record</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Prior_Is_Null</name>
        <label>Status Prior Is Null ?</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_ServiceAppointmentStatusPrior</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Change_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>- Añadido Previous Status
-Asignado Work Type a la vista
-  Solo permitir guardar cambios de estado cuando el anterior y el nuevo son diferentes
-Actualización 15-04-2024
-Fix Status Change. Solo se guarda cuando se realiza el cambio de estado
- Agregar cuando hay cambio de Assigned resource</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>CoIT TF Create Service Appointment Status History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Create Service Appointment Status History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Appointment_Status_History_Record</name>
        <label>Create Service Appointment Status History Record</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Is_Scheduled_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Date__c</field>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Last_Date_Location__c</field>
            <value>
                <elementReference>Get_Service_Resource_Record.LastKnownLocationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Last_Latitud_Location__c</field>
            <value>
                <elementReference>Get_Service_Resource_Record.LastKnownLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Last_Longitude_Location__c</field>
            <value>
                <elementReference>Get_Service_Resource_Record.LastKnownLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_New_Status__c</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Previous_Status__c</field>
            <value>
                <elementReference>V_ServiceAppointmentStatusPrior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Service_Appointment__c</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Service_Resource__c</field>
            <value>
                <elementReference>Get_Service_Resource_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Work_Type__c</field>
            <value>
                <elementReference>ServiceAppointmentRecord.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_Service_Appointment_Status_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Resource_Record</name>
        <label>Get Service Resource Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Service_Appointment_Status_History_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.FSSK__FSK_Assigned_Service_Resource__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Prior_Is_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AF_Assigment_Automatic_Scheduling_By_Work_Offers_Process</name>
        <label>AF Assigment Automatic Scheduling By Work Offers Process</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>AF_Assigment_Automatic_Scheduling_By_Work_Offers_Process</flowName>
        <inputAssignments>
            <name>ServiceAppointmentStatusHistoryId</name>
            <value>
                <elementReference>Create_Service_Appointment_Status_History_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>V_AssignedResourcePrior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_ServiceAppointmentStatusPrior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
