force-app/main/default/flows/CoIT_WOM_1_ALF_Create_Work_Order_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_AppointmentDependency_IPUDO</name>
        <label>Set Appointment Dependency Pick Up &amp; Inmediately Drop Off</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>AppointmentDependency_NewRecord.FSL__Service_Appointment_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_PickUp_ServiceAppointmentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentDependency_NewRecord.FSL__Service_Appointment_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_DropOff_ServiceAppointment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentDependency_NewRecord.FSL__Same_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentDependency_NewRecord.FSL__Dependency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Immediately Follow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AppointmentDependency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AppointmentDependency_PUDO</name>
        <label>Set Appointment Dependency Pick Up &amp; Drop Off</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>AppointmentDependency_NewRecord.FSL__Service_Appointment_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_PickUp_ServiceAppointmentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentDependency_NewRecord.FSL__Service_Appointment_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_DropOff_ServiceAppointment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentDependency_NewRecord.FSL__Same_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentDependency_NewRecord.FSL__Dependency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Start After Finish And Same Day</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AppointmentDependency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_AppointmentDependency</name>
        <label>Set Error Appointment Dependency</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_WOLI_DropOff</name>
        <label>Set Error Work Order Line Item Drop Off</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_WOLI_PickUp</name>
        <label>Set Error Work Order Line Item Pick Up</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_New_PickUp_DropOff_WOLIs</name>
        <label>Set New Pick Up &amp; Drop Off Work Order Line Items</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>New_PickUp_WOLIID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLI_PickUp_NewRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_DropOff_WOLIID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLI_DropOff_NewRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CoIT_AF_Create_Skill_Requirement_For_WOLI_PickUP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Result_Value</name>
        <label>Set Result Value</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_WOLI_DropOff_Data</name>
        <label>Set Work Order Line Item Drop Off Data</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_DropOff_Data.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritoryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_Subject_DropOff</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_DropOff_Data.EstimatedDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_DropOff_Data.DurationInMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_DropOff_Data.DurationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EarliestStartPermitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_DropOff_EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCode2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latitude2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Longitude2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_DropOff_NewRecord.Address_complement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DestinationAddressComplement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WOLI_PickUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WOLI_PickUp_Data</name>
        <label>Set Work Order Line Item Pick Up Data</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_PickUp_Data.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritoryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_Subject_PickUp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_PickUp_Data.EstimatedDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_PickUp_Data.DurationInMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_PickUp_Data.DurationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EarliestStartPermitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_PickUp_EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_PickUp_NewRecord.Address_complement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartAddressComplement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_WOLI_DropOff_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DCS_AppointmentType</name>
        <label>Evaluate Appointment Type</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCS_Outcome_AppointmentType_PUDO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PickUp and Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AppointmentDependency_PUDO</targetReference>
            </connector>
            <label>Pick Up &amp; Drop Off Appointment</label>
        </rules>
        <rules>
            <name>DCS_AppointmentType_IPUDO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PickUp and Immediately Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AppointmentDependency_IPUDO</targetReference>
            </connector>
            <label>PickUp and Immediately Drop Off</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>F_DropOff_EndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!EarliestStartPermitted}+({!Get_WorkType_PickUp_Data.DurationInMinutes}/24/60)+({!Get_WorkType_PickUp_Data.FSL__Due_Date_Offset__c}/24/60)+({!Get_WorkType_DropOff_Data.DurationInMinutes}/24/60)+({!Get_WorkType_DropOff_Data.FSL__Due_Date_Offset__c}/24/60)</expression>
    </formulas>
    <formulas>
        <name>F_PickUp_EndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!EarliestStartPermitted}+({!Get_WorkType_PickUp_Data.DurationInMinutes}/24/60)+({!Get_WorkType_PickUp_Data.FSL__Due_Date_Offset__c}/24/60)</expression>
    </formulas>
    <formulas>
        <name>F_Subject_DropOff</name>
        <dataType>String</dataType>
        <expression>{!Subject}+&quot; &quot;+{!Get_WorkType_DropOff_Data.CoIT_NameClean__c}</expression>
    </formulas>
    <formulas>
        <name>F_Subject_PickUp</name>
        <dataType>String</dataType>
        <expression>{!Subject}+&quot; &quot;+{!Get_WorkType_PickUp_Data.CoIT_NameClean__c}</expression>
    </formulas>
    <interviewLabel>CoIT WOM 1 ALF Create Work Order Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT WOM 1 ALF Create Work Order Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AppointmentDependency</name>
        <label>Create Appointment Dependency</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Set_Result_Value</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_AppointmentDependency</targetReference>
        </faultConnector>
        <inputReference>AppointmentDependency_NewRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_DropOff</name>
        <label>Create Work Order Line Item Drop Off</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Set_New_PickUp_DropOff_WOLIs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_WOLI_DropOff</targetReference>
        </faultConnector>
        <inputReference>WOLI_DropOff_NewRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_PickUp</name>
        <label>Create Work Order Line Item Pick Up</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_WOLI_DropOff</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_WOLI_PickUp</targetReference>
        </faultConnector>
        <inputReference>WOLI_PickUp_NewRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_WorkType_DropOff_Data</name>
        <label>Get Work Type Drop Off Data</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_WOLI_PickUp_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drop Off</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkType_PickUp_Data</name>
        <label>Get Work Type Pick Up Data</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkType_DropOff_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pick Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WorkType_PickUp_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CoIT_AF_Create_Skill_Requirement_For_WOLI_DropOff</name>
        <label>CoIT AF Create Skill Requirement For WOLI DropOff</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Pick_Up_Service_Appointment</targetReference>
        </connector>
        <flowName>CoIT_AF_Create_SkillRequirement_For_WOLIs</flowName>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderLineItemId</name>
            <value>
                <elementReference>New_DropOff_WOLIID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CoIT_AF_Create_Skill_Requirement_For_WOLI_PickUP</name>
        <label>CoIT AF Create Skill Requirement For WOLI PickUP</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>CoIT_AF_Create_Skill_Requirement_For_WOLI_DropOff</targetReference>
        </connector>
        <flowName>CoIT_AF_Create_SkillRequirement_For_WOLIs</flowName>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderLineItemId</name>
            <value>
                <elementReference>New_PickUp_WOLIID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Drop_Off_Service_Appointment</name>
        <label>Create Drop Off Service Appointment</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>DCS_AppointmentType</targetReference>
        </connector>
        <flowName>CoIT_WOM_1_ALF_Create_Service_Appointment</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentType</name>
            <value>
                <elementReference>AppointmentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BusinessLine</name>
            <value>
                <elementReference>BusinessLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>City</name>
            <value>
                <elementReference>City2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Country</name>
            <value>
                <elementReference>Country2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DestinationAddressComplement</name>
            <value>
                <elementReference>DestinationAddressComplement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DueDate</name>
            <value>
                <elementReference>F_DropOff_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EarliestStartPermitted</name>
            <value>
                <elementReference>EarliestStartPermitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GanttLabel</name>
            <value>
                <elementReference>F_Subject_DropOff</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Latitude</name>
            <value>
                <elementReference>Latitude2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Longitude</name>
            <value>
                <elementReference>Longitude2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentRecordID</name>
            <value>
                <elementReference>New_DropOff_WOLIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentRecordType</name>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PostalCode</name>
            <value>
                <elementReference>PostalCode2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequiredRescheduled</name>
            <value>
                <elementReference>RequiredRescheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingModel</name>
            <value>
                <elementReference>SchedulingModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingPolicy</name>
            <value>
                <elementReference>SchedulingPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingType</name>
            <value>
                <elementReference>SchedulingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SecondSchedulingPolicy</name>
            <value>
                <elementReference>SecondSchedulingPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceTerritoryID</name>
            <value>
                <elementReference>ServiceTerritoryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartAddressComplement</name>
            <value>
                <elementReference>StartAddressComplement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>State</name>
            <value>
                <elementReference>State2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street</name>
            <value>
                <elementReference>Street2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ThirdSchedulingPolicy</name>
            <value>
                <elementReference>ThirdSchedulingPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderID</name>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkTypeID</name>
            <value>
                <elementReference>Get_WorkType_DropOff_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>New_DropOff_ServiceAppointment</assignToReference>
            <name>New_ServiceAppointmentID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultMessage</assignToReference>
            <name>ResultMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Pick_Up_Service_Appointment</name>
        <label>Create Pick Up Service Appointment</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Create_Drop_Off_Service_Appointment</targetReference>
        </connector>
        <flowName>CoIT_WOM_1_ALF_Create_Service_Appointment</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentType</name>
            <value>
                <elementReference>AppointmentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArrivalWindowEnd</name>
            <value>
                <elementReference>ArrivalWindowEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArrivalWindowStart</name>
            <value>
                <elementReference>ArrivalWindowStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BusinessLine</name>
            <value>
                <elementReference>BusinessLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>City</name>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Country</name>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DestinationAddressComplement</name>
            <value>
                <elementReference>DestinationAddressComplement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DueDate</name>
            <value>
                <elementReference>F_PickUp_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EarliestStartPermitted</name>
            <value>
                <elementReference>EarliestStartPermitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GanttLabel</name>
            <value>
                <elementReference>F_Subject_PickUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Latitude</name>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Longitude</name>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentRecordID</name>
            <value>
                <elementReference>New_PickUp_WOLIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentRecordType</name>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PostalCode</name>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequiredRescheduled</name>
            <value>
                <elementReference>RequiredRescheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingModel</name>
            <value>
                <elementReference>SchedulingModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingPolicy</name>
            <value>
                <elementReference>SchedulingPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingType</name>
            <value>
                <elementReference>SchedulingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SecondSchedulingPolicy</name>
            <value>
                <elementReference>SecondSchedulingPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceTerritoryID</name>
            <value>
                <elementReference>ServiceTerritoryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartAddressComplement</name>
            <value>
                <elementReference>StartAddressComplement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>State</name>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street</name>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ThirdSchedulingPolicy</name>
            <value>
                <elementReference>ThirdSchedulingPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderID</name>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkTypeID</name>
            <value>
                <elementReference>Get_WorkType_PickUp_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>New_PickUp_ServiceAppointmentID</assignToReference>
            <name>New_ServiceAppointmentID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultMessage</assignToReference>
            <name>ResultMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AppointmentDependency_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL__Time_Dependency__c</objectType>
    </variables>
    <variables>
        <name>AppointmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArrivalWindowEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArrivalWindowStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>City2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DestinationAddressComplement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EarliestStartPermitted</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GanttLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Latitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
    </variables>
    <variables>
        <name>Latitude2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
    </variables>
    <variables>
        <name>Longitude2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
    </variables>
    <variables>
        <name>New_DropOff_ServiceAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_DropOff_WOLIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_PickUp_ServiceAppointmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_PickUp_WOLIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostalCode2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiredRescheduled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchedulingModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchedulingPolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchedulingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondSchedulingPolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartAddressComplement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThirdSchedulingPolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLI_DropOff_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLI_PickUp_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
