force-app/main/default/flows/CoIT_WOM_2_AF_Lauch_Schedule_Extended.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_WorkOfferDetails</name>
        <label>Generate Work Offer Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CoIT_WOM_GenerateWorkOfferDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Order_WorkOfferByGrade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>schedulingPolicyId</name>
            <value>
                <elementReference>SchedulingPolicyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CoIT_WOM_GenerateWorkOfferDetails</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <collectionProcessors>
        <name>Order_WorkOfferByGrade</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Order Work Offer By Grade</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Generate_WorkOfferDetails.wOffers</collectionReference>
        <connector>
            <targetReference>Loop_WorkOfferByGrade</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>WOM_Grade__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>CoIT WOM 2 AF Lauch Schedule Extended {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT WOM 2 AF Lauch Schedule Extended</label>
    <loops>
        <name>Loop_WorkOfferByGrade</name>
        <label>Loop Work Offer By Grade</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Generate_WorkOfferDetails.wOffers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Register_Resource_Preference</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_WorkOfferDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Register_Resource_Preference</name>
        <label>Register Resource Preference</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Loop_WorkOfferByGrade</targetReference>
        </connector>
        <flowName>CoIT_AF_Create_Service_Resource_Preference_for_Work_Order</flowName>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>Loop_WorkOfferByGrade.WOM_Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TransactionAfterScheduled</name>
            <value>
                <elementReference>TransactionAfterSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_PreferenceType</name>
            <value>
                <elementReference>PreferenceType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>PreferenceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchedulingPolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionAfterSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
