force-app/main/default/flows/COIT_AF_Case_Created_Notification_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Cuando se marca el servicio Completado y es un servicio de
(AA) Carro Taller - General</description>
        <name>CompletedCarroTaller</name>
        <label>CompletedCarroTaller</label>
        <locationX>3746</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <elementReference>URL_TemplateStatusCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_CompletedCarroTaller</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
            <value>
                <stringValue>-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca el servicio completado y es un servicio de
(AA) Grua automotores la floresta
(AA) Grua concesionario
(AA) Grua Livianos
(AA) Grua Pesados
(AA) Grua Pesados Planchon

Para las Tareas Pickup-Dropoff solo se envía para las Dropoff (Todas son PUDO)</description>
        <name>CompletedEmergencyNotificacionGrua</name>
        <label>CompletedEmergencyNotificacionGrua</label>
        <locationX>3482</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_CompletedGrua</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <elementReference>URL_TemplateStatusCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se completa un servicio de Emergencia de Asistencia de:
(AA) Asistencia Movil presencial
o
(AA) Abogado - Asistencia General</description>
        <name>CompletedNotificacionAbogado_Asistencia</name>
        <label>CompletedNotificacionAbogado/Asistencia</label>
        <locationX>2162</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>CompletedNotificacionAsistenciaAbogado</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
            <value>
                <stringValue>-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <elementReference>URL_TemplateStatusCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca un servicio en completado desde en sitio para un servicio de emergencia de:

(AA) Conductor Elegido

Solo se envía para las drop off</description>
        <name>CompletedNotificacionConductorElegido</name>
        <label>CompletedNotificacionConductorElegido</label>
        <locationX>2426</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_CompletedNotificacionConductorElegido</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
            <value>
                <stringValue>-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <elementReference>URL_TemplateStatusCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca el servicio completado desde en sitio para un servicio de emergencia de:

(AA) Cerrajeria - General</description>
        <name>CompletedNotificacionEmergencyCerrajeria</name>
        <label>CompletedNotificacionEmergencyCerrajeria</label>
        <locationX>2690</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_CompletedCerrajeria</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <elementReference>URL_TemplateStatusCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca el servicio completado desde en sitio y es un servicio de emergencia de:

(AA) Conductor familiar</description>
        <name>CompletedNotificacionEmergencyConductorFamiliar</name>
        <label>CompletedNotificacionEmergencyConductorFamiliar</label>
        <locationX>2954</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_CompletedConductorFamiliar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <elementReference>URL_TemplateStatusCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca el servicio Finalizado y es un servicio de
(AA) Mensajeria</description>
        <name>CompletedNotificacionEmergencyMensajeria</name>
        <label>CompletedNotificacionEmergencyMensajeria</label>
        <locationX>3218</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_CompletedMensajeria</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <elementReference>URL_TemplateStatusCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca el servicio Completado y es un servicio de
(AA) Carro Taller - General</description>
        <name>Copy_1_of_CompletedCarroTaller</name>
        <label>traslado Aeropuerto</label>
        <locationX>4010</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <elementReference>URL_TemplateStatusCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_CompletedTrasladoAeropuerto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
            <value>
                <stringValue>-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca En Sitio (Desde en viaje) una tarea de Autos, Emergencia o Programado diferente de:
(AA) Conductor Elegido
(AA) Traslado aeropuerto o terminal
(AA) Transporte funcionarios
(AA) Mensajeria (programado)
(AA) Cerrajeria - General (programado)
(AA) Conductor Familiar (programado)
(AA) Conductor Profesional (programado)</description>
        <name>Copy_1_of_Onsite_Conductor_Elegido_Familiar_Profesional</name>
        <label>HogarOnsite</label>
        <locationX>1634</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_OnsiteHogar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca en sitio un servicio programado de:

(AA) Conductor Elegido
(AA) Traslado Aeropuerto o terminal
(AA) Cerrageria General
(AA) Conductor Familiar
(AA) Conductor Profesional

Para las Tareas Pickup-Dropoff solo se envía en la pick up</description>
        <name>Onsite_Conductor_Elegido_Familiar_Profesional</name>
        <label>Onsite Programed Conductor Elegido/Familiar/Profesional</label>
        <locationX>842</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_OnsiteAutos</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
            <value>
                <stringValue>-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca En Sitio (Desde en viaje) una tarea de Autos, Emergencia o Programado diferente de:
(AA) Conductor Elegido
(AA) Traslado aeropuerto o terminal
(AA) Transporte funcionarios
(AA) Mensajeria (programado)
(AA) Cerrajeria - General (programado)
(AA) Conductor Familiar (programado)
(AA) Conductor Profesional (programado)</description>
        <name>Onsite_Conductor_Elegido_Familiar_Profesional_Programmed</name>
        <label>Onsite Conductor Elegido/Familiar/Profesional</label>
        <locationX>1370</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_OnsiteCarroTaller</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca en sitio un servicio programado de:

(AA) Mensajeria

Para las Tareas Pickup-Dropoff solo se envía para las pick up</description>
        <name>Onsite_Programed_Mensajeria</name>
        <label>Onsite Programed Mensajeria</label>
        <locationX>1106</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_OnsiteMensajeria</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca En Viaje (Desde Aceptado o Reconocido) una tarea de Asistencia Hogares o Autos, Emergencia o Programado diferente de:
(AA) Conductor Elegido
(AA) Traslado aeropuerto o terminal
(AA) Mensajeria (programado)
(AA) Cerrajeria - General (programado)
(AA) Conductor Familiar (programado)
(AA) Conductor Profesional (programado)</description>
        <name>Travel_Emergency_Otros</name>
        <label>Travel hogar</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <elementReference>URL_TravelTechnichian</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_Travelhogar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Cuando se marca el servicio en Viaje y es un servicio de Emergencia de:
(AA) Traslado Aeropuerto o terminal
(AA) Transporte funcionarios

Para las Tareas Pickup-Dropoff solo se envía para las Pickup</description>
        <name>Travel_Emergency_Translado</name>
        <label>Travel autos</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
            <value>
                <elementReference>URL_TravelTechnichian</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_TravelAutos</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Es_Translado</name>
        <label>Que tipo de servicio pertenece</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Mensa</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Translado</name>
            <conditionLogic>((1 OR 2 OR 3 OR 6 OR 10) AND 9) OR (4 OR 5 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Traslado aeropuerto o terminal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Elegido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Transporte Pasajeros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Familiar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Grua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Carro Taller - General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Cerrajeria - General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Mensajeria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Travel_Emergency_Translado</targetReference>
            </connector>
            <label>Autos</label>
        </rules>
        <rules>
            <name>OtherWT2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(AH)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Travel_Emergency_Otros</targetReference>
            </connector>
            <label>Hogar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_Cita_de_Servicio</name>
        <label>Estado Cita de Servicio</label>
        <locationX>2426</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_Translado</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
        <rules>
            <name>On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Que_Servicio_Pertenece_Onsite_Programmed</targetReference>
            </connector>
            <label>On Site</label>
        </rules>
        <rules>
            <name>Completada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pertenece_a</targetReference>
            </connector>
            <label>Completada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pertenece_a</name>
        <label>Pertenece a</label>
        <locationX>3218</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asistencia_Abogado_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Asistencia Movil presencial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Abogado - Asistencia General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedNotificacionAbogado_Asistencia</targetReference>
            </connector>
            <label>Asistencia/Abogado</label>
        </rules>
        <rules>
            <name>Conductor_Elegido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Elegido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedNotificacionConductorElegido</targetReference>
            </connector>
            <label>Conductor Elegido</label>
        </rules>
        <rules>
            <name>Cerrajeria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Cerrajeria - General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedNotificacionEmergencyCerrajeria</targetReference>
            </connector>
            <label>Cerrajeria</label>
        </rules>
        <rules>
            <name>Conductor_Familiar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Familiar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedNotificacionEmergencyConductorFamiliar</targetReference>
            </connector>
            <label>Conductor Familiar</label>
        </rules>
        <rules>
            <name>Mensajeria_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Mensajeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedNotificacionEmergencyMensajeria</targetReference>
            </connector>
            <label>Mensajeria</label>
        </rules>
        <rules>
            <name>Grua_Emergency_Outcome</name>
            <conditionLogic>(1 AND 4 ) OR (2 AND 4) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Grua Livianos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Grua Pesados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Grua Pesados Planchon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedEmergencyNotificacionGrua</targetReference>
            </connector>
            <label>Grua</label>
        </rules>
        <rules>
            <name>Carro_Taller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Carro Taller - General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedCarroTaller</targetReference>
            </connector>
            <label>Carro Taller</label>
        </rules>
        <rules>
            <name>Traslado_Aeropuerto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Traslado aeropuerto o terminal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_CompletedCarroTaller</targetReference>
            </connector>
            <label>Traslado Aeropuerto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_Servicio_Pertenece_Onsite_Programmed</name>
        <label>Que Servicio Pertenece</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conductor_Elegido_Onsite_Programmed_Outcome</name>
            <conditionLogic>((1 OR 2 OR 3 OR 6) AND 7) OR (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Traslado aeropuerto o terminal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Elegido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Transporte Pasajeros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Familiar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Grua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onsite_Conductor_Elegido_Familiar_Profesional</targetReference>
            </connector>
            <label>Autos</label>
        </rules>
        <rules>
            <name>Mensajeria_Onsite_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Mensajeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onsite_Programed_Mensajeria</targetReference>
            </connector>
            <label>Mensajeria</label>
        </rules>
        <rules>
            <name>OtherWT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Cerrajeria - General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Carro Taller - General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onsite_Conductor_Elegido_Familiar_Profesional_Programmed</targetReference>
            </connector>
            <label>Carro Taller/Cerrjaeria</label>
        </rules>
        <rules>
            <name>Hogar_Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(AH)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Onsite_Conductor_Elegido_Familiar_Profesional</targetReference>
            </connector>
            <label>HogarOnsite</label>
        </rules>
    </decisions>
    <description>quitar el nombre del tecnico</description>
    <environments>Default</environments>
    <formulas>
        <name>Capturarhoradecampofech</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT( TIMEVALUE({!$Record.SchedStartTime} -(5/24) ) ), 5)</expression>
    </formulas>
    <formulas>
        <description>sumas 10 min a scheduled start</description>
        <name>COIT_scheduledStartPlus10</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.SchedStartTime}+(10/1440)</expression>
    </formulas>
    <formulas>
        <name>Fecha_programada</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE({!$Record.SchedStartTime})))+ &quot;/&quot; + TEXT(MONTH(DATEVALUE({!$Record.SchedStartTime})))+ &quot;/&quot; + TEXT(YEAR(DATEVALUE({!$Record.SchedStartTime})))</expression>
    </formulas>
    <formulas>
        <name>ScheduleDateLast</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.EarliestStartTime}) + (15/1440)</expression>
    </formulas>
    <formulas>
        <name>URL_Encuesta</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(
  &quot;https://survey.survicate.com/755051211ce43f78/?embebido=CC%7C&quot; &amp;
  URLENCODE($Record.Contact.CoIT_N_Documento__c) &amp; 
  &quot;%7C&quot; &amp; URLENCODE($Record.Contact.Phone) &amp; 
  &quot;%7C%7C%7C10%7C1%7C&quot; &amp; URLENCODE(Get_Work_Order_Id.CoIT_Authorization_Number__c) &amp; &quot;%7C&quot;,
  &quot;Completar Encuesta&quot;
)</expression>
    </formulas>
    <interviewLabel>COIT AF Case Created Notification Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COIT AF Case Created Notification Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assigned_Resource_Id</name>
        <label>Get Assigned Resource Id</label>
        <locationX>2426</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estado_Cita_de_Servicio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Id</name>
        <label>Get Case Id</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Resource_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Id.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Id</name>
        <label>Get Work Order Id</label>
        <locationX>2426</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Work_Order_Id</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Cuando se completa un servicio de Emergencia de Asistencia de:
(AA) Asistencia Movil presencial
o
(AA) Abogado - Asistencia General</description>
        <name>CompletedNotificacionAsistenciaAbogado</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Hola! En 1 minuto cuéntenos cómo fue su experiencia con el servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} . Clic aquí https://survey.survicate.com/e4bf2b6ccc3d3b02/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!$Record.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}</text>
    </textTemplates>
    <textTemplates>
        <name>CompletedProgramedConductor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Work_Order_Id.WorkType.CoIT_NameClean__c}: su opinión nos ayuda a crecer, por favor, tómese 1 minuto para calificar su experiencia con el conductor en el siguiente enlace https://survey.survicate.com/599524d5f29f103b/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!$Record.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}|</text>
    </textTemplates>
    <textTemplates>
        <name>None_AllServices</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Asistencia Bolívar: Hola, para nosotros es un placer atenderlo. Le confirmamos que nos encontramos gestionando su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} en breve confirmaremos la persona que prestará el servicio.</text>
    </textTemplates>
    <textTemplates>
        <name>None_TransladoAeropuerto</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>¡Su servicio de {!Get_Work_Order_Id.WorkType.Name} ha sido agendado con éxito! Estamos buscando su conductor, por favor lea estas recomendaciones mientras espera https://cutt.ly/DQ57wP2 . Descargue Bolívar Conmigo y conozca el estado en tiempo real de su servicio. https://cutt.ly/wCTrvKG</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se despacha un servicio programado de Asistencia de:
(AA) Cerrajeria - General
(AA) Mensajeria</description>
        <name>NotificacionAsistenciaCerrajeriayMensajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: estamos gestionando su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c}. Pronto le enviaremos los datos del técnico que prestará el servicio.</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se despacha una Tarea de Asistencia que sea diferente de los siguientes tipos en Click:
(AA) Asistencia movil reacción virtual
(AA) Asistencia movil apoyo virtual
(AH) Cotizaciones,
NO USAR (AH Supervisor Virtual
(AH) Supervisor - virtual
(AA) Traslado aeropuerto terminal
(AA) Transporte funcuionarios
NO (AH) Supervision virtual
(AH) Supervisor - virtual mal 1</description>
        <name>NotificacionAsistenciaDieferenteATecnico</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Asistencia Bolívar: Hola, Hemos asignado un servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c}, para el día {!$Record.SchedStartTime}, {!$Record.CoIT_Assigned_Service_Resource_Id__r.Name}.&amp;nbsp;Por favor ingrese en Click para hacer seguimiento de los cambios de estado de su técnico. Tenga en cuenta que si el servicio no se reconoce en menos de dos minutos será reasignado a otro técnico.</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se despacha una Tarea de Asistencia que sea diferente de los siguientes tipos en Click:
(AA) Asistencia movil reacción virtual
(AA) Asistencia movil apoyo virtual
(AH) Cotizaciones, 
NO USAR (AH Supervisor Virtual
(AH) Supervisor - virtual
(AA) Traslado aeropuerto terminal
(AA) Transporte funcuionarios
NO (AH) Supervision virtual
(AH) Supervisor - virtual mal 1</description>
        <name>NotificacionAsistenciaDiferentea</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Asistencia Bolívar: Hola, Le hemos asignado un servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c}, para el día {!$Record.SchedStartTime}. Nuestro cliente le espera, por favor ingrese a Salesforce Field Service para conocer en detalle la información del servicio.</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se despacha un servicio programado de Asistencia de:
(AA) Conductor Elegido
(AA) Conductor Familiar
(AA) Conductor Profesional
(AA) Traslado aeropuerto o terminal</description>
        <name>NotificacionConductorElegidoyFamiliar</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: estamos gestionando su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c}. Pronto le enviaremos los datos del conductor que prestará el servicio.</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se despacha un servicio de Emergencia de Asistencia de:
(AA) Conductor Elegido
(AA) Conductor Familiar</description>
        <name>NotificacionEmergenciaAsistenciaConductor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Hola, Su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} será prestado por {!$Record.FSSK__FSK_Assigned_Service_Resource__r.Name} entre la(s) {!$Record.SchedStartTime}y {!COIT_scheduledStartPlus10}.</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se despacha un servicio de Emergencia de Asistencia de:
(AA) Mensajeria</description>
        <name>NotificacionEmergenciaMensajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Hola, Su servicio de  {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} será prestado por {!$Record.FSSK__FSK_Assigned_Service_Resource__r.Name} entre la(s) {!$Record.SchedStartTime} y {!COIT_scheduledStartPlus10}</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca el servicio Completado y es un servicio de
(AA) Carro Taller - General</description>
        <name>T_CompletedCarroTaller</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: ¡Su servicio ha finalizado!  Cuéntenos en un minuto cómo fue su experiencia Clic aquí https://survey.survicate.com/74004d64ef726ceb/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!$Record.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}|</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca el servicio completado desde en sitio para un servicio de emergencia de:

(AA) Cerrajeria - General</description>
        <name>T_CompletedCerrajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: ¡Su servicio ha finalizado!  Cuéntenos en un minuto cómo fue su experiencia Clic aquí: https://survey.survicate.com/148ad3ae89b1c1c3/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!$Record.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}|</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca el servicio completado desde en sitio y es un servicio de emergencia de:

(AA) Conductor familiar</description>
        <name>T_CompletedConductorFamiliar</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: ¡Su servicio ha finalizado!  Cuéntenos en un minuto cómo fue su experiencia Clic aquí: https://survey.survicate.com/755051211ce43f78/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!$Record.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}|</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca el servicio completado y es un servicio de
(AA) Grua automotores la floresta
(AA) Grua concesionario
(AA) Grua Livianos
(AA) Grua Pesados
(AA) Grua Pesados Planchon

Para las Tareas Pickup-Dropoff solo se envía para las Dropoff (Todas son PUDO)</description>
        <name>T_CompletedGrua</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: ¡Su servicio ha finalizado!  Cuéntenos en un minuto cómo fue su experiencia Clic aquí https://survey.survicate.com/3de3291ac3ae4d69/?embebido=CC|{!$Record.Contact.CoIT_N_Documento__c}|{!$Record.Contact.Phone}|||10|1|{!Get_Work_Order_Id.CoIT_Authorization_Number__c}|</text>
    </textTemplates>
    <textTemplates>
        <name>T_CompletedMensajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Su paquete ha sido entregado en {!$Record.Street} Cuéntenos en un minuto su experiencia con nuestro servicio. Clic aquí: https://survey.survicate.com/a292ff3d87ac8e8b/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!$Record.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}|</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca un servicio en completado desde en sitio para un servicio de emergencia de:

(AA) Conductor Elegido

Solo se envía para las drop off</description>
        <name>T_CompletedNotificacionConductorElegido</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: ¡Su servicio ha finalizado!  Cuéntenos en un minuto cómo fue su experiencia Clic aquí: https://survey.survicate.com/599524d5f29f103b/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!Get_Work_Order_Id.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca el servicio completado desde en sitio para un servicio programado de:

(AA) Cerrajeria - General</description>
        <name>T_CompletedProgramedCerrajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Hola! En 1 minuto cuéntenos cómo fue su experiencia con el servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} . Clic aquí https://survey.survicate.com/148ad3ae89b1c1c3/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!$Record.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}|</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca el servicio completado desde en sitio y es un servicio programado de:

(AA) Conductor familiar</description>
        <name>T_CompletedProgramedConductorFamiliar</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Conductor Familiar: su opinión nos ayuda a crecer, por favor, tómese 1 minuto para calificar su experiencia con el conductor en el siguiente enlace Seguros Bolívar: Hola! En 1 minuto cuéntenos cómo fue su experiencia con el servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} . Clic aquí https://survey.survicate.com/755051211ce43f78/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!$Record.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}|</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca el servicio completado desde en sitio para un servicio programado de:
(AA) Mensajeria
Aplica para la tarea drop off</description>
        <name>T_CompletedProgrammedMensajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Hola! En 1 minuto cuéntenos cómo fue su experiencia con el servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} . Clic aquí https://survey.survicate.com/a292ff3d87ac8e8b/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!$Record.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}|</text>
    </textTemplates>
    <textTemplates>
        <name>T_CompletedTrasladoAeropuerto</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: ¡Su servicio ha finalizado!  Cuéntenos en un minuto cómo fue su experiencia Clic aquí: https://survey.survicate.com/bd20e5240776cf04/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!Get_Work_Order_Id.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}</text>
    </textTemplates>
    <textTemplates>
        <name>T_OnsiteAutos</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Su conductor ha llegado a la dirección {!$Record.Street}. Recuerde que lo esperará máximo 15 minutos. ¡Disfrute su servicio!</text>
    </textTemplates>
    <textTemplates>
        <name>T_OnsiteCarroTaller</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Su técnico ha llegado a la dirección {!$Record.Street}. Recuerde que lo esperará máximo 15 minutos. ¡Disfrute su servicio!</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca En Sitio (Desde en viaje) una tarea de Autos, Emergencia o Programado diferente de:
(AA) Conductor Elegido
(AA) Traslado aeropuerto o terminal
(AA) Transporte funcionarios
(AA) Mensajeria (programado)
(AA) Cerrajeria - General (programado)
(AA) Conductor Familiar (programado)
(AA) Conductor Profesional (programado)</description>
        <name>T_OnsiteHogar</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: {!$Record.FSSK__FSK_Assigned_Service_Resource__r.Name} ha llegado a la dirección {!$Record.Street}.</text>
    </textTemplates>
    <textTemplates>
        <name>T_OnsiteMensajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Su mensajero ha llegado a la dirección {!$Record.Street}. Recuerde que lo esperará máximo 15 minutos. ¡Disfrute su servicio!</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca en sitio un servicio programado de:

(AA) Mensajeria

Para las Tareas Pickup-Dropoff solo se envía para las pick up</description>
        <name>T_OnsiteProgrammedMensajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: {!$Record.FSSK__FSK_Assigned_Service_Resource__r.Name} ha llegado a la dirección. Recuerde que lo esperará máximo 15 minutos.</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca el servicio en Viaje y es un servicio de Emergencia de:
(AA) Traslado Aeropuerto o terminal
(AA) Transporte funcionarios

Para las Tareas Pickup-Dropoff solo se envía para las Pickup</description>
        <name>T_TravelAutos</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} ya está en camino. El conductor llegará a la dirección {!$Record.Street} a la(s) {!Capturarhoradecampofech}</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca en Viaje (Desde Reconocido o Aceptado) una tarea de Emergencia Conductor Elegido. Se activa solo para la Pickup.</description>
        <name>T_TravelEmergencyConductorElegido</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Hola, para nosotros es un placer atenderlo. Su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} será prestado por {!$Record.FSSK__FSK_Assigned_Service_Resource__r.Name} entre la(s) {!$Record.SchedStartTime} y la(s) {!COIT_scheduledStartPlus10} Le recordamos que nuestro tiempo máximo de espera son 15 Minutos.</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca En Viaje (Desde Aceptado o Reconocido) una tarea de Asistencia Hogares o Autos, Emergencia o Programado diferente de:
(AA) Conductor Elegido
(AA) Traslado aeropuerto o terminal
(AA) Mensajeria (programado)
(AA) Cerrajeria - General (programado)
(AA) Conductor Familiar (programado)
(AA) Conductor Profesional (programado)</description>
        <name>T_Travelhogar</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} ya está en camino. El técnico llegará a la dirección {!$Record.Street} a la(s) {!Capturarhoradecampofech}</text>
    </textTemplates>
    <textTemplates>
        <description>Cuando se marca en viaje un servicio Programado de:
(AA) Conductor Elegido
(AA) Traslado aeropuerto o terminal
(AA) Mensajeria
(AA) Conductor Familiar
(AA) Conductor Profesional
(AA) Cerrajeria - General

Para las Tareas Pickup-Dropoff solo se envía para las Pick Up</description>
        <name>T_TravelProgrammedConductorelegido</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: ¡ya va en camino su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c}!  {!$Record.FSSK__FSK_Assigned_Service_Resource__r.Name} llegará a la(s) {!$Record.SchedStartTime} a la {!$Record.Street}.</text>
    </textTemplates>
    <textTemplates>
        <name>URL_TemplateStatusCompleted</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>https://survey.survicate.com/755051211ce43f78/?embebido=CC|{!Get_Work_Order_Id.CoIT_Documento_Asegurado__c}|{!$Record.Contact.Phone}|||{!Get_Case_Id.CoIT_Codigo_del_Producto__c}|1|{!Get_Work_Order_Id.CoIT_Numero_Siniestro__c}|</text>
    </textTemplates>
    <textTemplates>
        <name>URL_TravelTechnichian</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Assigned_Resource_Id.ApptAssistantInfoUrl}</text>
    </textTemplates>
</Flow>
