force-app/main/default/flows/CoIT_AF_Update_CloseDate_For_InJeopardyHistory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Evaluate_ServiceAppointmentStatus</name>
        <label>Evaluate Service Appointment Status</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_InJeopardyHistory_Scheduled</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_InJeopardyHistory_Dispatched</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_InJeopardyHistory_Travel</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_InJeopardyHistory_InProgress</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_In_Jeopardy_History_Cannot_Complete</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_InJeopardyHistory_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_In_Jeopardy_History_Canceled</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT AF Update Close Date For In Jeopardy History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Update Close Date For In Jeopardy History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_In_Jeopardy_History_Canceled</name>
        <label>Update In Jeopardy History Canceled</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_Date_Close__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Date_Close__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_In_Jeopardy_History_Cannot_Complete</name>
        <label>Update In Jeopardy History Cannot Complete</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_Date_Close__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Date_Close__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InJeopardyHistory_Completed</name>
        <label>Update In Jeopardy History Completed</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technician is taking more time than required</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Date_Close__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InJeopardyHistory_Dispatched</name>
        <label>Update In Jeopardy History Dispatched</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service not dispatched to technician</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Date_Close__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InJeopardyHistory_InProgress</name>
        <label>Update In Jeopardy History In Progress</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technician has not arrived on site</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Date_Close__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InJeopardyHistory_Scheduled</name>
        <label>Update In Jeopardy History Scheduled</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>CoIT_Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unscheduled service</stringValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No candidates found</stringValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>The service has not been accepted by any technician</stringValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No technicians were found available for the offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service accepted but not scheduled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Date_Close__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InJeopardyHistory_Travel</name>
        <label>Update In Jeopardy History Travel</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technician has not started travel</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Date_Close__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_ServiceAppointmentStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
