force-app/main/default/flows/CoIT_AF_Actions_From_Change_SA_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Failed_Status_Approval_Process</name>
        <label>Failed Status Approval Process</label>
        <locationX>1194</locationX>
        <locationY>1106</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ServiceAppointmentRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Por favor revisar el registro de la cita de servicio en estado &quot;Fallido&quot; y aprobar o rechazar de acuerdo a su criterio.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>ServiceAppointmentRecord.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ApproversIdFailedStatus</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Canceled_SA_Email</name>
        <label>Send Canceled SA Email</label>
        <locationX>666</locationX>
        <locationY>1490</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailNotificationCanceled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>santiago.pelaez@colibriit.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cita nueva creada lista para agendar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyTemplateSACanceled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email_Notification_Canceled</name>
        <label>Assign Email Notification Canceled</label>
        <locationX>666</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>EmailNotificationCanceled</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Prestador_Admin_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Canceled_SA_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approver_User_For_Failed_Status</name>
        <label>Set Approver User For Failed Status</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ApproversIdFailedStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.FSSK__FSK_Work_Order__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failed_Status_Approval_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Date_Time_Null</name>
        <label>Set Default Date Time Null</label>
        <locationX>1986</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.CoIT_Rescheduling_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTimeNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Default_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Failed_Date_Time_Null</name>
        <label>Set Failed Date Time Null</label>
        <locationX>1128</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.CoIT_Rescheduling_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTimeNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_failed_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_Schedule_Required</name>
        <label>Auto Schedule Required?</label>
        <locationX>534</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Create_New_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_AutoSchedule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No reporta ausencia y/o técnico ocupado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazo de servicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Técnico y/o proveedor no contesta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_SA_Auto_Schedule</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_A_Failed_Approval_Status</name>
        <label>Is There A Failed Approval Status?</label>
        <locationX>1128</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>SA_Work_Type_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Failed_Appoval_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Aproval_Failed_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_An_Appointment_Dependency</name>
        <label>Is There An Appointment Dependency</label>
        <locationX>336</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Auto_Schedule_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Appointment_Dependency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Appointment_Dependency.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Appointment_1</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_An_Assigned_Service_Resource</name>
        <label>Is There An Assigned Service Resource?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Appointment_Dependency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Assigned_resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedServiceResourceRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Resource_Preference</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Work_Type_Group</name>
        <label>SA Work Type Group</label>
        <locationX>1326</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hogares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA_Work_Type_Group_Member.WorkTypeGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hogares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approver_User_For_Failed_Status</targetReference>
            </connector>
            <label>Hogares</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Reason</name>
        <label>Status Reason</label>
        <locationX>1161</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Date_Time_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Novedades_con_Proveedor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Novedades con Proveedor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Subreason</targetReference>
            </connector>
            <label>Novedades con Proveedor</label>
        </rules>
        <rules>
            <name>Fallido</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CoIT_Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Failed_Date_Time_Null</targetReference>
            </connector>
            <label>Fallido</label>
        </rules>
        <rules>
            <name>Cannot_complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El cliente solicita reagendar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Falta herramientas y/o repuesto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguimiento de caso presencial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguimiento de caso virtual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actions_From_Change_Status_Cannot_Complete</targetReference>
            </connector>
            <label>Cannot complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Subreason</name>
        <label>Status Subreason</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Appointment_Dependency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requiere_excluir_Consultor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Técnico y/o proveedor no contesta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No reporta ausencia y/o técnico ocupado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazo de servicio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_There_An_Assigned_Service_Resource</targetReference>
            </connector>
            <label>Requiere excluir Consultor</label>
        </rules>
    </decisions>
    <description>-Añadida variable Assigned resource
-Añadida Notificación email cuando se Cancela SA
-añadido accion enviar email SA Cancelada
-añadido  acciones flujo inconpleto
-DateTimeNUll agregado
-Añadido accion de subbmit el proceso de aprobacion en estado Fallido.
-Variable Assigned Service Resource
-Submiter para el proceso de aprobación (partner funcionality)
-Aprobador de estado fallido - Owner de la WO</description>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeNull</name>
        <dataType>DateTime</dataType>
        <expression>Null</expression>
    </formulas>
    <interviewLabel>oIT AF Actions From Change SA Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Actions From Change SA Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Appointment_Dependency</name>
        <label>Create New Appointment Dependency</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <inputAssignments>
            <field>FSL__Dependency__c</field>
            <value>
                <elementReference>Get_Appointment_Dependency.FSL__Dependency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <elementReference>Get_Appointment_Dependency.FSL__Same_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_1__c</field>
            <value>
                <elementReference>Create_New_Service_Appointment_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_2__c</field>
            <value>
                <elementReference>Create_New_Service_Appointment_2</elementReference>
            </value>
        </inputAssignments>
        <object>FSL__Time_Dependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Resource_Preference</name>
        <label>Create New Resource Preference</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Appointment_Dependency</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>ServiceAppointmentRecord.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>AssignedServiceResourceRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_SA</name>
        <label>Create New SA</label>
        <locationX>666</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Assign_Email_Notification_Canceled</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>ServiceAppointmentRecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ServiceAppointmentRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>ServiceAppointmentRecord.DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <elementReference>ServiceAppointmentRecord.DurationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>ServiceAppointmentRecord.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Work_Order__c</field>
            <value>
                <elementReference>ServiceAppointmentRecord.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>ServiceAppointmentRecord.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_SA_Auto_Schedule</name>
        <label>Create New SA Auto-Schedule</label>
        <locationX>402</locationX>
        <locationY>1274</locationY>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>ServiceAppointmentRecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ServiceAppointmentRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>ServiceAppointmentRecord.DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <elementReference>ServiceAppointmentRecord.DurationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>ServiceAppointmentRecord.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Auto_Schedule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Work_Order__c</field>
            <value>
                <elementReference>ServiceAppointmentRecord.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>ServiceAppointmentRecord.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>ServiceAppointmentRecord.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Service_Appointment_1</name>
        <label>Create New Service Appointment 1</label>
        <locationX>138</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Create_New_Service_Appointment_2</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Service_Appointment_1.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Service_Appointment_1.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_Service_Appointment_1.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>Get_Service_Appointment_1.DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Get_Service_Appointment_1.Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <elementReference>Get_Service_Appointment_1.DurationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>Get_Service_Appointment_1.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Auto_Schedule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Work_Order__c</field>
            <value>
                <elementReference>Get_Service_Appointment_1.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>Get_Service_Appointment_1.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>Get_Service_Appointment_1.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Get_Service_Appointment_1.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Service_Appointment_1.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Service_Appointment_1.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Service_Appointment_2</name>
        <label>Create New Service Appointment 2</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Create_New_Appointment_Dependency</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Service_Appointment_2.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Service_Appointment_2.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_Service_Appointment_2.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>Get_Service_Appointment_2.DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Get_Service_Appointment_2.Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <elementReference>Get_Service_Appointment_2.DurationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>Get_Service_Appointment_2.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Work_Order__c</field>
            <value>
                <elementReference>Get_Service_Appointment_2.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>Get_Service_Appointment_2.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>Get_Service_Appointment_2.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Get_Service_Appointment_2.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Service_Appointment_2.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Service_Appointment_2.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Appointment_Dependency</name>
        <label>Get Appointment Dependency</label>
        <locationX>336</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_An_Appointment_Dependency</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FSL__Service_Appointment_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL__Time_Dependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_Resource_Contact</name>
        <label>Get Assigned Resource Contact</label>
        <locationX>1161</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prestador_Admin_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignedServiceResourceRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prestador_Admin_Contact</name>
        <label>Get Prestador Admin Contact</label>
        <locationX>1161</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assigned_Resource_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Work_Type_Group_Member</name>
        <label>Get SA Work Type Group Member</label>
        <locationX>1128</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_A_Failed_Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_1</name>
        <label>Get Service Appointment 1</label>
        <locationX>138</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Appointment_Dependency.FSL__Service_Appointment_1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_2</name>
        <label>Get Service Appointment 2</label>
        <locationX>138</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Service_Appointment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Appointment_Dependency.FSL__Service_Appointment_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Default_Service_Appointment</name>
        <label>Update Default Service Appointment</label>
        <locationX>1986</locationX>
        <locationY>566</locationY>
        <inputReference>ServiceAppointmentRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_failed_Service_Appointment</name>
        <label>Update failed Service Appointment</label>
        <locationX>1128</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_SA_Work_Type_Group_Member</targetReference>
        </connector>
        <inputReference>ServiceAppointmentRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>1035</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assigned_Resource_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Actions_From_Change_Status_Cannot_Complete</name>
        <label>Actions From Change Status Cannot Complete</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <flowName>CoIT_AF_Actions_From_Change_Status_Cannot_Complete</flowName>
        <inputAssignments>
            <name>AppointmentDependencyRecord</name>
            <value>
                <elementReference>AppointmentDependencyRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssignedResourceRecord</name>
            <value>
                <elementReference>AssignedResourceRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentRecord</name>
            <value>
                <elementReference>ServiceAppointmentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResourcePreferenceRecord</name>
            <value>
                <elementReference>ResourcePreferenceRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>BodyTemplateSACanceled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;La cita de servicio numero: {!ServiceAppointmentRecord.AppointmentNumber} ha sido cancelada y se ha creado una nueva con el numero: {!Create_New_SA}. Por favor ingrese a la organización y asignela.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AppointmentDependencyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL__Time_Dependency__c</objectType>
    </variables>
    <variables>
        <name>ApproversIdFailedStatus</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignedResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>AssignedServiceResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>EmailNotificationCanceled</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourcePreferenceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
