force-app/main/default/flows/CoIT_AF_Create_Case_from_SFS_Interaction_Click.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apply_Case_Assignment_Rules</name>
        <label>Apply Case Assignment Rules</label>
        <locationX>314</locationX>
        <locationY>2063</locationY>
        <actionName>ApplyCaseAssignmentRules</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>Case_NewRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ApplyCaseAssignmentRules</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_nuevo_contacto_a_variable_obtener_contacto_y_email</name>
        <label>Asignar nuevo contacto a variable obtener contacto y email</label>
        <locationX>116</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Obtener_Contact_Cliente.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_cliente_contacto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Data_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Data_New_Case</name>
        <label>Set Data for New Case</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Causa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Cause__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Click_Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Severity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Diagnostico__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Diagnosis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Is_info_from_click__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Motivo_No_Prestacion_Del_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Reason_for_non_provision_of_service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Partner_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Contact_Tecnico.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Proveedor_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Contact_Tecnico.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_SFS_Interaction_Click__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Contact_Cliente.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.Numero_Caso_SIAB_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Numero_Caso_SIAB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Numero_Autorizacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Source_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012O8000000jva1IAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Numero_del_Siniestro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Numero_Caso_SIAB__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_severidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Impacto_Severidad_Alto</name>
        <label>Set Impacto for Severidad Alto</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Impacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Management_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alto impacto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Impacto_Severidad_Bajo</name>
        <label>Set Impacto for Severidad Bajo</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Impacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bajo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Management_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bajo/medio impacto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Impacto_Severidad_Medio</name>
        <label>Set Impacto for Severidad Medio</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Impacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Management_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bajo/medio impacto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_contacto_cliente</name>
        <label>Existe contacto cliente?</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Existe_una_nueva_direcci_n</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si existe</defaultConnectorLabel>
        <rules>
            <name>No_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Contact_Cliente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_cliente_contacto</targetReference>
            </connector>
            <label>No existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_un_Nuevo_Correo_Electronico</name>
        <label>Existe un Nuevo Correo Electronico</label>
        <locationX>512</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Data_New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Client_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Correo</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_una_nueva_direcci_n</name>
        <label>Existe una nueva dirección?</label>
        <locationX>512</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Existe_un_Nuevo_Correo_Electronico</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Client_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Direcci_n_Cliente</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_severidad</name>
        <label>Tipo de severidad?</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Obtener_Entitlement_Caso_Alto_Impacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alto</defaultConnectorLabel>
        <rules>
            <name>Bajo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo Impacto: 0 - 1 día</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo Impacto: 0 - 3 días</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo Impacto: 0 - 5 días</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Entitlement_Caso_Bajo_Impacto</targetReference>
            </connector>
            <label>Bajo</label>
        </rules>
        <rules>
            <name>Medio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moderado: 6 - 19 días</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Entitlement_Caso_Medio_Impacto</targetReference>
            </connector>
            <label>Medio</label>
        </rules>
    </decisions>
    <description>- Asigna cuenta del proveedor
- Asigna el status del Case=Nuevo
- Asignacion de Entitlement de acuerdo al impacto
- Busqueda de queues mediande get con su nombre.
- Asignación de telefono de llamada al centro de atención.
- Asignación CoIT_Proveedor_ID
- Asignación Dinamica Account al Contact v2
- Actualizar nueva direccion a Contacto cliente existente
- Latitude, Longitude sin Data Integration Rules.
- CAmbio tipo de dato Doc Cliente v2
-Correcion Campo Email
- CAmbio tipo de dato Doc Cliente v7
- Actualizacion campos provenientes de click v3
- Formula Telefono Cliente Formula
- Actualizar campo correo electrónico v3
-Actualización campos Causa y Diagnostico
- Actualizar campos de autorizacion y numero de caso SIAB
- numero autorizacion campo sin el 2</description>
    <environments>Default</environments>
    <formulas>
        <name>Email_Cliente_Formula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(REGEX (UPPER ({!$Record.CoIT_Client_Email__c}) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,25}$&quot;)), &quot;sinemail@sinemail.com&quot;, {!$Record.CoIT_Client_Email__c})</expression>
    </formulas>
    <formulas>
        <name>Latitude</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CoIT_Latitude__c}/1000000</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>Longitude</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CoIT_Longitude__c}/1000000</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>Telefono_CLiente_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.CoIT_Client_Phone__c}, 40)</expression>
    </formulas>
    <interviewLabel>CoIT AF Create Case from SFS Interaction Click {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Create Case from SFS Interaction Click</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Case</name>
        <label>Crear Case</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Apply_Case_Assignment_Rules</targetReference>
        </connector>
        <inputReference>Case_NewRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_cliente_contacto</name>
        <label>Crear cliente-contacto</label>
        <locationX>116</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Asignar_nuevo_contacto_a_variable_obtener_contacto_y_email</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_Cliente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Correo_Electronico_Cliente__c</field>
            <value>
                <elementReference>Email_Cliente_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_N_Documento__c</field>
            <value>
                <elementReference>$Record.CoIT_No_Client_Document__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.CoIT_Client_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.CoIT_Client_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <stringValue>Colombia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingLatitude</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingLongitude</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.CoIT_Client_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Telefono_CLiente_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>#322</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Cliente</name>
        <label>Get Account Cliente</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Contact_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seguros Bolivar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Contact_Cliente</name>
        <label>Obtener Contact-Cliente</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_contacto_cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoIT_Client_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Cliente.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_N_Documento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoIT_No_Client_Document__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Contact_Tecnico</name>
        <label>Obtener Contact-Tecnico</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_N_Documento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoIT_No_Technical_Document__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Entitlement_Caso_Alto_Impacto</name>
        <label>Obtener Entitlement Caso Alto Impacto</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Impacto_Severidad_Alto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Caso Impacto Alto</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>Case_NewRecord.EntitlementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Entitlement_Caso_Bajo_Impacto</name>
        <label>Obtener Entitlement Caso Bajo Impacto</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Impacto_Severidad_Bajo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Caso Impacto Bajo</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>Case_NewRecord.EntitlementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Entitlement_Caso_Medio_Impacto</name>
        <label>Obtener Entitlement Caso Medio Impacto</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Impacto_Severidad_Medio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Caso Impacto Medio</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>Case_NewRecord.EntitlementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Correo</name>
        <label>Actualizar Correo</label>
        <locationX>380</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Set_Data_New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Contact_Cliente.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Cliente_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Direcci_n_Cliente</name>
        <label>Actualizar Dirección Cliente</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Existe_un_Nuevo_Correo_Electronico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Contact_Cliente.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.CoIT_Client_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <stringValue>Colombia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingLatitude</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingLongitude</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.CoIT_Client_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Contact_Tecnico</targetReference>
        </connector>
        <object>SFS_Interaction_Click__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
