force-app/main/default/flows/CoIT_RTF_Update_Date_Time_for_Consider_Offline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Evaluate_LastKnownLocationAbsence_for_ServiceResource</name>
        <label>Exist Last Known Location Absence for Service Resource?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>ResourceAbsence_NewRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist_LastKnownLocationAbsence_for_ServiceResource_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Online_ResourceAbsence_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LastKnownLocationAbsence_Data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_RunningAppointments</name>
        <label>Validate Running Appointments</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RunningAppointments_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateAbsence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordTypeId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Calculate the date and time to be considered onffline</description>
        <name>F_Date_Time_For_Consider_Offline</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.LastKnownLocationDate}+({!$Record.CoIT_Online_Offset_In_Minutes__c}/(24*60))</expression>
    </formulas>
    <formulas>
        <name>F_LastKnownLocationDate_End</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.LastKnownLocationDate}</expression>
    </formulas>
    <formulas>
        <name>F_LastKnownLocationDate_Start</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.LastKnownLocationDate} - (1/60/24)</expression>
    </formulas>
    <interviewLabel>CoIT RTF Update Date/Time for Consider Offline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT RTF Update Date/Time for Consider Offline</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ResourceAbsence_NewRecord</name>
        <label>Create Resource Absence for Last Known Location Date</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>End</field>
            <value>
                <elementReference>F_LastKnownLocationDate_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <stringValue>Last Known Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Gantt_Color__c</field>
            <value>
                <stringValue>#edb2cc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_LastKnownLocation_ResourceAbsence__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.LastKnownLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.LastKnownLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResourceId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start</field>
            <value>
                <elementReference>F_LastKnownLocationDate_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Break</stringValue>
            </value>
        </inputAssignments>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Online_ResourceAbsence_Record</name>
        <label>Get On line Resource Absence</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_LastKnownLocationAbsence_for_ServiceResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Break</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_LastKnownLocation_ResourceAbsence__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get Record Type Id</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Online_ResourceAbsence_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ResourceAbsence</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non_Availability</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Date_Time_for_Consider_Offline</name>
        <label>Update Date Time for Consider Offline</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Validate_Running_Appointments</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Date_Time_for_Consider_Offline__c</field>
            <value>
                <elementReference>F_Date_Time_For_Consider_Offline</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LastKnownLocationAbsence_Data</name>
        <label>Update Last Known Location Absence Data</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Online_ResourceAbsence_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End</field>
            <value>
                <elementReference>F_LastKnownLocationDate_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Gantt_Color__c</field>
            <value>
                <stringValue>#edb2cc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.LastKnownLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.LastKnownLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start</field>
            <value>
                <elementReference>F_LastKnownLocationDate_Start</elementReference>
            </value>
        </inputAssignments>
        <object>ResourceAbsence</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Date_Time_for_Consider_Offline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastKnownLocationDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_UpdateAbcenseRealTimeLocation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Validate_Running_Appointments</name>
        <label>Validate Running Appointments</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Validate_RunningAppointments</targetReference>
        </connector>
        <flowName>CoIT_ALF_Validate_Running_Appointments</flowName>
        <inputAssignments>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CreateAbsence</assignToReference>
            <name>CreateAbsence</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CreateAbsence</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
