force-app/main/default/flows/CoIT_TF_Create_Evaluation_WOLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Evaluation_WOLI_Data</name>
        <label>Set Evaluation WOLI Data</label>
        <locationX>248</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.ParentWorkOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkType_Record.CoIT_EvaluationWorkType__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Repair_WorkOrder_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_WOLI_EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_WOLI_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.ParentTerritory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkType_Record.CoIT_EvaluationWorkType__r.CoIT_EvaluationWorkType__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_WOLI_NewRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Evaluation_WOLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_Evaluation_WOLI</name>
        <label>Evaluate Evaluation WOLI</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Repair_WorkOrder_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Evaluation_WOLI_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluation_WOLI_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exists Evaluation WOLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_WorkType</name>
        <label>Evaluate Work Type</label>
        <locationX>303</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WorkType_RequiresEvaluation_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkType_Record.CoIT_RequiresEvaluation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluation_WOLI_Record</targetReference>
            </connector>
            <label>Requires Evaluation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Impacto</name>
        <label>Tipo de Impacto?</label>
        <locationX>248</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Alto</defaultConnectorLabel>
        <rules>
            <name>Bajo_medio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Repair_WorkOrder_Record.Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Repair_WorkOrder_Record.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Evaluation_WOLI</targetReference>
            </connector>
            <label>Bajo/medio</label>
        </rules>
    </decisions>
    <description>- Correción de la dirección de la WOLI. v2
- Asignación Resource Preference v2
- Asignación &quot;Offsite Appointment&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>Evaluation_WOLI_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Evaluación para el capitulo &quot; + {!$Record.CoIT_WorkType_Name__c} + &quot; con No. &quot; + {!$Record.LineItemNumber} + &quot; y Orden de trabajo &quot; + {!$Record.WorkOrder.WorkOrderNumber}</expression>
    </formulas>
    <formulas>
        <name>Evaluation_WOLI_EndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1</expression>
    </formulas>
    <interviewLabel>CoIT TF Create Evaluation WOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT TF Create Evaluation WOLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Evaluation_WOLI</name>
        <label>Create Evaluation WOLI</label>
        <locationX>248</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_Service_Respurce_to_Evaluation_WOLI</targetReference>
        </connector>
        <inputReference>Evaluation_WOLI_NewRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Resource_Preference_to_Evaluation_WOLI</name>
        <label>Create Resource Preference to Evaluation WOLI</label>
        <locationX>248</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Get_SA_Evaluation_WOLI</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Evaluation_WOLI_NewRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Get_Service_Respurce_to_Evaluation_WOLI.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Evaluation_WOLI_Record</name>
        <label>Get Evaluation WOLI</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Evaluation_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentWorkOrderLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Evaluation_WOLI</name>
        <label>Get SA Evaluation WOLI</label>
        <locationX>248</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_Impacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Evaluation_WOLI_NewRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Respurce_to_Evaluation_WOLI</name>
        <label>Get Service Respurce to Evaluation WOLI</label>
        <locationX>248</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Resource_Preference_to_Evaluation_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Repair_WorkOrder_Record.Case.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Repair_WorkOrder_Record</name>
        <label>Get Repair WorkOrder</label>
        <locationX>248</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Evaluation_WOLI_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WorkType_Record</name>
        <label>Get Work Type</label>
        <locationX>303</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_WorkType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_Evaluation_WOLI</name>
        <label>Update SA Evaluation WOLI</label>
        <locationX>116</locationX>
        <locationY>1511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SA_Evaluation_WOLI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsOffsiteAppointment</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Repair_WorkOrder_Record.Case.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>177</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WorkType_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>Evaluation_WOLI_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
