force-app/main/default/flows/CoIT_SF_Manage_WS_Diagnostic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Reload_Page</name>
        <label>Action Reload Page</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <actionName>c:CoIT_ReloadPage_LWC</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CoIT_ReloadPage_LWC</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Action_Reload_Page</name>
        <label>Copy 1 of Action Reload Page</label>
        <locationX>1766</locationX>
        <locationY>1082</locationY>
        <actionName>c:CoIT_ReloadPage_LWC</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CoIT_ReloadPage_LWC</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Selected_Values_to_Selected_ProductRequiered_Values</name>
        <label>Assignment Selected Values to Selected ProductRequiered Values</label>
        <locationX>2602</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>SelectedProductValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MPL_ProductRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedProductValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dimension_Decision_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Selected_Values_to_Selected_WorkStep_Values</name>
        <label>Assignment Selected Values to Selected WorkStep Values</label>
        <locationX>1436</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>SelectedWorkStepValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MPL_WorkStep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedWorkStepValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtain_Selected_WorkStep_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Selected_Values_to_Selected_Zone_Values</name>
        <label>Assignment Selected Values to Selected Zone Values</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SelectedZoneValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MPL_Zone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedZoneValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RText_DetailWorkStep</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtain_Selected_Zone_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Work_Step</name>
        <label>Copy 1 of Set Work Step</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_WorkStep_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkStep_Record.CoiT_Detail_WorkStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Aplica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Step_Record_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Work_Step_Evaluacion</name>
        <label>Copy 1 of Set Work Step Evaluacion</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_WorkStep_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkStep_Record.CoiT_Detail_WorkStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Aplica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Step_Record2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Add_Title</name>
        <label>Set Add Title</label>
        <locationX>1436</locationX>
        <locationY>4826</locationY>
        <assignmentItems>
            <assignToReference>Add_Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Zone_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_Products</name>
        <label>Set Count Products</label>
        <locationX>2602</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>CountProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ProductRequired_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Definicion_de_Medidas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Expense_Repair_WOLI</name>
        <label>Set Expense for Repair WOLI</label>
        <locationX>2448</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>Expense_NewRecord.CoIT_WorkOrderLineItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Repair_WorkOrderLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_NewRecord.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Repair_WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_NewRecord.ExpenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facturable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_NewRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_Especificaciones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_NewRecord.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_NewRecord.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_NewRecord.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_NewRecord.CoIT_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleZoneId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_NewRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Expense_for_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ProductRequiered_NewRecord</name>
        <label>Set ProductRequiered NewRecord</label>
        <locationX>2668</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>ProductRequired_NewRecord.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Repair_WorkOrderLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequired_NewRecord.ParentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequired_NewRecord.QuantityRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NU_QuantityRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequired_NewRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequired_NewRecord.CoIT_Quantity_Affected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NU_QuantityAffected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequired_NewRecord.CoIT_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleZoneId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequired_NewRecord.CoIT_Precio_Unitario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Required_for_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Step</name>
        <label>Set Work Step</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_WorkStep_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Step_Record_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Step_Description</name>
        <label>Set Work Step Description</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_WorkStep_Record.CoiT_Detail_WorkStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Long_Text_Describa_la_Afectacion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkStep_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Step_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Step_Evaluacion</name>
        <label>Set Work Step Evaluacion</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_WorkStep_Record.CoiT_Detail_WorkStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LT_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkStep_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkStep_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_RespuestaEvaluacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Step_Record2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assignment_Detail_Work_Step_Detail</name>
        <label>Update Assignment Detail Work Step Detail</label>
        <locationX>2129</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>RText_DetailWorkStep</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ZoneDetail_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Add_Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WorkStep_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assignment_Detail_Work_Step_End_Table</name>
        <label>Update Assignment Detail Work Step End Table</label>
        <locationX>50</locationX>
        <locationY>5018</locationY>
        <assignmentItems>
            <assignToReference>RText_DetailWorkStep</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tbody&gt;&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assignment_Detail_Work_Step_Title</name>
        <label>Update Assignment Detail Work Step Title</label>
        <locationX>1524</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>RText_DetailWorkStep</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ZoneTitle_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assignment_Detail_Work_Step_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assignment_DetailWorkStep_Title</name>
        <label>Update Assignment Detail Work Step Title</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>RText_DetailWorkStep</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ZoneTitle_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Repair_Work_Order</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_No_Aplica</name>
        <choiceText>No Aplica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Aplica</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Title_Zone</name>
        <label>Add Title Zone</label>
        <locationX>1656</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>Update_Assignment_Detail_Work_Step_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assignment_Detail_Work_Step_Title</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deccision_Measurement1</name>
        <label>Se requiere la ejecución de este paso?</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_WorkStep_Detail_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_PasoRequerido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF_Manage_RepairPlan</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ThereAreProducts</name>
        <label>There are Products?</label>
        <locationX>2448</locationX>
        <locationY>3350</locationY>
        <defaultConnector>
            <targetReference>Update_Assignment_Detail_Work_Step_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ThereAreProducts_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountProducts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtain_Selected_Product_Required_For_WOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dimension_Decision_Flow</name>
        <label>Dimension Decision Flow</label>
        <locationX>2602</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>Exist_Repair_WO_and_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dimension_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.CoIT_Decision_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Measurement and Dimensions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Definicion_de_Dimenciones</targetReference>
            </connector>
            <label>Dimension</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Work_Step</name>
        <label>Evaluate Work Step</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Work_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accesibilidad</defaultConnectorLabel>
        <rules>
            <name>Afectaci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Describa la Afectacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order_Record</targetReference>
            </connector>
            <label>Afectación</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Repair_WO_and_WOLI</name>
        <label>There is a Repair WO and WOLI</label>
        <locationX>2602</locationX>
        <locationY>3026</locationY>
        <defaultConnector>
            <targetReference>Retry_Manage_RepairPlan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome_Repair_WO_and_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Repair_WorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Repair_WorkOrderLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Expense_Repair_WOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Decision_Flow</name>
        <label>Initial Decision Flow</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Screen_Si_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LMD_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.CoIT_Decision_Flow__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Measurement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.CoIT_Decision_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CoIT_Zona_Record</targetReference>
            </connector>
            <label>List, Measurement and Dimensions</label>
        </rules>
        <rules>
            <name>OpenAnswer_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.CoIT_Decision_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open Answer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_OpenAnswer_1</targetReference>
            </connector>
            <label>Open Answer</label>
        </rules>
        <rules>
            <name>Si_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.CoIT_Decision_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si_No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Si_No</targetReference>
            </connector>
            <label>Si / No</label>
        </rules>
    </decisions>
    <decisions>
        <name>List_Decision_Flow</name>
        <label>List Decision Flow</label>
        <locationX>2129</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <targetReference>ProductRequired_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.CoIT_Decision_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Title_Zone</targetReference>
            </connector>
            <label>List</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductRequiered_Exist</name>
        <label>Product Requiered Exist?</label>
        <locationX>2536</locationX>
        <locationY>3890</locationY>
        <defaultConnector>
            <targetReference>Set_ProductRequiered_NewRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductRequiered_Exist_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRequired_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Required_For_WOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requiere_Completar_el_Work_Step</name>
        <label>Requiere Completar el Work Step?</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_Work_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_RespuestaEvaluacionCompletar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Step</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requiere_completar_el_Work_Step2</name>
        <label>Requiere completar el Work Step?</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_Work_Step_Evaluacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PL_RespuestaEvaluacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PL_RespuestaEvaluacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Step_Evaluacion</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Completed_WO</name>
        <label>Validate Completed WO</label>
        <locationX>1568</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen1_WO_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Completed_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.WorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.WorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.WorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WorkStep_Record.WorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Decision_Flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>- Ejemplos de decodificación de números en Cantidades y Dimensiones
- Completar Work Step que no son de una WO con un WT de Diagnostico
- Asignacion CAmpos Afectacion y accesibilidad en WO
- Notificación cuando se completa un paso v4
- Agregada opción de &quot;No Aplica&quot; en los Work Step de las WOLIS de evaluación.
- Creación del la accion para actualizar las pestaña automaticamente (Correcion 3)
- Actualización modificación estados v2</description>
    <dynamicChoiceSets>
        <name>RCS_Products</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkStep_Record.CoIT_Product_Family_Required__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CoIT_ProductRequiredId_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_WorkStepTemplate</name>
        <dataType>String</dataType>
        <displayField>CoIT_WSTemplate_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkPlan_Template_Record.Id</elementReference>
            </value>
        </filters>
        <object>WorkPlanTemplateEntry</object>
        <sortField>CoIT_WSTemplate_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CoIT_WSTemplate_ID_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Zonas</name>
        <dataType>String</dataType>
        <displayField>CoIT_Zone_Name__c</displayField>
        <object>CoIT_Zone__c</object>
        <sortField>CoIT_Zone_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>F_ID_Name__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NU_QuantityAffected</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Text_QuantityAffected})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NU_QuantityRequired</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Text_QuantityRequired})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SingleProductId</name>
        <dataType>String</dataType>
        <expression>Left({!SingleProductValue}, FIND(&quot;:&quot;,{!SingleProductValue})-1)</expression>
    </formulas>
    <formulas>
        <name>SingleWorkStepName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!SingleWorkStepValue}, LEN({!SingleWorkStepValue})-FIND(&quot;:&quot;,{!SingleWorkStepValue}))</expression>
    </formulas>
    <formulas>
        <name>SingleZoneId</name>
        <dataType>String</dataType>
        <expression>LEFT({!SingleZoneValue}, FIND(&quot;:&quot;,{!SingleZoneValue})-1)</expression>
    </formulas>
    <formulas>
        <name>SingleZoneName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!SingleZoneValue}, LEN({!SingleZoneValue})-FIND(&quot;:&quot;,{!SingleZoneValue}))</expression>
    </formulas>
    <formulas>
        <name>ZoneDetail_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_WorkStep_Record.CoIT_Decision_Flow__c}, &quot;Measurement&quot;), &quot;&lt;tr&gt;&lt;td&gt;&quot;+{!SingleZoneName}+&quot;&lt;/td&gt;&quot;+
&quot;&lt;td&gt;&quot;+{!SingleWorkStepName}+&quot;&lt;/td&gt;&quot;+
&quot;&lt;td&gt;&quot;+{!Text_QuantityAffected}+&quot;&lt;/td&gt;&quot;+
&quot;&lt;td&gt;&quot;+{!Text_QuantityRequired}+&quot;&lt;/td&gt;&quot;+
&quot;&lt;td&gt;&quot;+{!Text_Especificaciones}+&quot;&lt;/td&gt;&lt;/tr&gt;&quot;, &quot;&lt;h5&gt; * &quot;+{!SingleWorkStepName}+&quot;&lt;/h5&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ZoneTitle_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_WorkStep_Record.CoIT_Decision_Flow__c}, &quot;Measurement&quot;),&quot;&lt;br&gt;&lt;table&gt;&lt;tbody&gt;&quot;+
&quot;&lt;tr&gt;&quot;+
&quot;&lt;td&gt;&lt;h4&gt;Zona&lt;/h4&gt;&lt;/td&gt;&quot;+
&quot;&lt;td&gt;&lt;h4&gt;Acabado&lt;/h4&gt;&lt;/td&gt;&quot;+
&quot;&lt;td&gt;&lt;h4&gt;Cantidad Afectada&lt;/h4&gt;&lt;/td&gt;&quot;+
&quot;&lt;td&gt;&lt;h4&gt;Cantidad a Reparar&lt;/h4&gt;&lt;/td&gt;&quot;+
&quot;&lt;td&gt;&lt;h4&gt;Especificaciones&lt;/h4&gt;&lt;/td&gt;&quot;+
&quot;&lt;/tr&gt;&quot;,&quot;&lt;h4&gt;&quot;+{!SingleZoneName}+&quot;&lt;/h4&gt;&quot;)</expression>
    </formulas>
    <interviewLabel>CoIT SF Manage WS Diagnostico {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT SF Manage WS Diagnostic</label>
    <loops>
        <name>Loop_Product_Collection</name>
        <label>Loop Product Collection</label>
        <locationX>2316</locationX>
        <locationY>3566</locationY>
        <assignNextValueToReference>SingleProductValue</assignNextValueToReference>
        <collectionReference>ProductCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product_Required</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Assignment_Detail_Work_Step_Detail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_WorkStep_Collection</name>
        <label>Loop WorkStep Collection</label>
        <locationX>1436</locationX>
        <locationY>2078</locationY>
        <assignNextValueToReference>SingleWorkStepValue</assignNextValueToReference>
        <collectionReference>WorkStepCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>List_Decision_Flow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Add_Title</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Zone_Collection</name>
        <label>Loop Zone Collection</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignNextValueToReference>SingleZoneValue</assignNextValueToReference>
        <collectionReference>ZoneCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Screen2_Seleccionar_WorkStepTemplate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Assignment_Detail_Work_Step_End_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Expense_for_WOLI</name>
        <label>Create Expense for WOLI</label>
        <locationX>2448</locationX>
        <locationY>3242</locationY>
        <connector>
            <targetReference>Decision_ThereAreProducts</targetReference>
        </connector>
        <inputReference>Expense_NewRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Required_for_WOLI</name>
        <label>Create Product Required for WOLI</label>
        <locationX>2668</locationX>
        <locationY>4106</locationY>
        <connector>
            <targetReference>Loop_Product_Collection</targetReference>
        </connector>
        <inputReference>ProductRequired_NewRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CoIT_Zona_Record</name>
        <label>Get CoIT_Zona Record</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkPlan_Template_Record</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoIT_Zone__c</object>
        <sortField>CoIT_Zone_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>2536</locationX>
        <locationY>3782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProductRequiered_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Repair_Work_Order.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Required</name>
        <label>Get Product Required</label>
        <locationX>2536</locationX>
        <locationY>3674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Repair_WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleProductId</elementReference>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>ProductRequired_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityRequired</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Repair_Work_Order</name>
        <label>Get Repair Work Order</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Zone_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Repair_WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step_Template_Entries</name>
        <label>Get Work Step Template Entries</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Measurement1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkPlan_Template_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkPlanTemplateEntry</object>
        <sortField>CoIT_WSTemplate_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkPlan_Template_Record</name>
        <label>Get WorkPlan Template Record</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Step_Template_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkStep_Record.Work_Plan_Template_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkPlanTemplate</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkStep_Record</name>
        <label>Get WorkStep Record</label>
        <locationX>1568</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Completed_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProductRequired_Collection</name>
        <label>Get Products Required</label>
        <locationX>2602</locationX>
        <locationY>2294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkStep_Record.CoIT_Product_Family_Required__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Work_Order_Record</name>
        <label>Copy 1 of Update Work Order Record</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Copy_2_of_Work_Step_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkStep_Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Describa_la_Accesibilidad__c</field>
            <value>
                <elementReference>Long_Text_Describa_la_Afectacion</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Required_For_WOLI</name>
        <label>Update Product Required For WOLI</label>
        <locationX>2404</locationX>
        <locationY>3998</locationY>
        <connector>
            <targetReference>Loop_Product_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRequired_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Precio_Unitario__c</field>
            <value>
                <elementReference>Get_Price_Book_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Quantity_Affected__c</field>
            <value>
                <elementReference>NU_QuantityAffected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Zone__c</field>
            <value>
                <elementReference>SingleZoneId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequired</field>
            <value>
                <elementReference>NU_QuantityRequired</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequired</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Record</name>
        <label>Update Work Order Record</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Copy_2_of_Work_Step_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkStep_Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Describa_la_Afectacion__c</field>
            <value>
                <elementReference>Long_Text_Describa_la_Afectacion</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step_Record</name>
        <label>Update Work Step Record</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Evaluate_Work_Step</targetReference>
        </connector>
        <inputReference>Get_WorkStep_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step_Record2</name>
        <label>Update Work Step Record</label>
        <locationX>1238</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Copy_1_of_Work_Step_Completed</targetReference>
        </connector>
        <inputReference>Get_WorkStep_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step_Record_default</name>
        <label>Update Work Step Record</label>
        <locationX>1766</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Work_Step_Completed</targetReference>
        </connector>
        <inputReference>Get_WorkStep_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkStep</name>
        <label>Update WorkStep Detail</label>
        <locationX>50</locationX>
        <locationY>5126</locationY>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkStep_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoiT_Detail_WorkStep__c</field>
            <value>
                <elementReference>RText_DetailWorkStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkStep_Detail_NA</name>
        <label>Update WorkStep Detail</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_3_of_Work_Step_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkStep_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoiT_Detail_WorkStep__c</field>
            <value>
                <stringValue>No aplica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Screen_Si_No</name>
        <label>Screen Completar: Si -No</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Requiere_Completar_el_Work_Step</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_DT_PreguntaEvaluacion</name>
            <fieldText>&lt;p&gt;La ejecución de  &quot;&lt;strong&gt;{!Get_WorkStep_Record.Name}&lt;/strong&gt;&quot; aplica para este servicio?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_RespuestaEvaluacionCompletar</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Respuesta</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_LT_Description</name>
            <defaultValue>
                <stringValue>{!Get_WorkStep_Record.Description}</stringValue>
            </defaultValue>
            <fieldText>Observaciones</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Work_Step_Completed</name>
        <label>Copy 1 of Work Step Completed</label>
        <locationX>1238</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_DT_WorkStep_Complete</name>
            <fieldText>&lt;p&gt;El Paso de Trabajo ha sido completado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Work_Step_Completed</name>
        <label>Copy 2 of Work Step Completed</label>
        <locationX>710</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Reload_Page</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_DT_WorkStep_Complete</name>
            <fieldText>&lt;p&gt;El Paso de Trabajo ha sido completado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Work_Step_Completed</name>
        <label>Copy 3 of Work Step Completed</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_DT_WorkStep_Complete</name>
            <fieldText>&lt;p&gt;El Paso de Trabajo ha sido completado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_Selection_Zone</name>
        <label>Seleccione la Zona</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_Selected_Values_to_Selected_Zone_Values</targetReference>
        </connector>
        <fields>
            <name>MPL_Zone</name>
            <choiceReferences>RCS_Zonas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Zonas</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_WO_Completed</name>
        <label>Screen1 WO Completed</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Screen1_WO_Completed</name>
            <fieldText>&lt;p&gt;La orden se encuentra completada, no es posible realizar ajustes al plan de trabajo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2_Seleccionar_WorkStepTemplate</name>
        <label>Seleccionar Work Step</label>
        <locationX>1436</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_Selected_Values_to_Selected_WorkStep_Values</targetReference>
        </connector>
        <fields>
            <name>DT1_TextoDescriptivo</name>
            <fieldText>&lt;p&gt;Seleccione los pasos del &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_WorkPlan_Template_Record.Name}&lt;/strong&gt; que desea agregar a la zona &lt;strong&gt;{!SingleZoneName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MPL_WorkStep</name>
            <choiceReferences>RCS_WorkStepTemplate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione los Pasos a ejecutar</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>50</locationX>
        <locationY>5234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_DetailWorkStep1</name>
            <fieldText>&lt;p&gt;Se Registro la siguiente información para el Paso &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_WorkPlan_Template_Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!RText_DetailWorkStep}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Definicion_de_Dimenciones</name>
        <label>Screen Definicion de Dimenciones</label>
        <locationX>2470</locationX>
        <locationY>2834</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Exist_Repair_WO_and_WOLI</targetReference>
        </connector>
        <fields>
            <name>DT_Detail_Dimensions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Ingrese las dimensiones requeridas el  &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!SingleWorkStepName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; en la zona &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!SingleZoneName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_Alto</name>
            <dataType>String</dataType>
            <fieldText>Alto (mts) ( Ej: 12.5)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Error este campo solo recibe valores numéricos con hasta dos cifras decimales&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Text_Alto},&quot;^[0-9]+(\\.[0-9]{1,2})?$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Text_Ancho</name>
            <dataType>String</dataType>
            <fieldText>Ancho (mts) ( Ej: 12.5)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Error este campo solo recibe valores numéricos con hasta dos cifras decimales&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Text_Ancho},&quot;^[0-9]+(\\.[0-9]{1,2})?$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Text_Largo</name>
            <dataType>String</dataType>
            <fieldText>Profundo (mts) :: (En Vidrios Espesor en mm) ( Ej: 12.5)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Error este campo solo recibe valores numéricos con hasta dos cifras decimales&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Text_Largo},&quot;^[0-9]+(\\.[0-9]{1,2})?$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Definicion_de_Medidas</name>
        <label>Screen Definicion de Medidas</label>
        <locationX>2602</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_Selected_Values_to_Selected_ProductRequiered_Values</targetReference>
        </connector>
        <fields>
            <name>DT_Detail_WorkStep</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Ingrese información requerida para &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_WorkPlan_Template_Record.Name}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;   de tipo &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!SingleWorkStepName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; en la zona &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!SingleZoneName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_QuantityAffected</name>
            <dataType>String</dataType>
            <fieldText>Cantidad Afectada mt2 ( Ej: 12.5)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Error este campo solo recibe valores &lt;/span&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;numéricos con hasta 2 cifras decimales&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Text_QuantityAffected}, &quot;^[0-9]+(\\.[0-9]{1,2})?$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Text_QuantityRequired</name>
            <dataType>String</dataType>
            <fieldText>Cantidad a Reparar mt2 ( Ej: 12.5)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Error este campo solo recibe valores numéricos con hasta 2 cifras decimales&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Text_QuantityRequired}, &quot;^[0-9]+(\\.[0-9]{1,2})?$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Text_Especificaciones</name>
            <dataType>String</dataType>
            <fieldText>Especificaciones de Material</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_Detail_ProductsRequired</name>
            <fieldText>&lt;p&gt;Seleccione los servicios que desea autorizar para la &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!SingleWorkStepName}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; en la zona &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!SingleZoneName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountProducts</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MPL_ProductRequired</name>
            <choiceReferences>RCS_Products</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciones los productos requeridos</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountProducts</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Measurement1</name>
        <label>El paso es Requerido?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deccision_Measurement1</targetReference>
        </connector>
        <fields>
            <name>DT_PasoRequerido</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Por favor indique si &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_WorkPlan_Template_Record.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; sera incluido como parte de las actividades del plan de reparación&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_PasoRequerido</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Respuesta</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_OpenAnswer_1</name>
        <label>Screen Respuesta Abierta</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Work_Step_Description</targetReference>
        </connector>
        <fields>
            <name>Long_Text_Describa_la_Afectacion</name>
            <defaultValue>
                <stringValue>{!Get_WorkStep_Record.Description}</stringValue>
            </defaultValue>
            <fieldText>Describa la Afectación</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Si_No</name>
        <label>Screen Si - No</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Requiere_completar_el_Work_Step2</targetReference>
        </connector>
        <fields>
            <name>DT_PreguntaEvaluacion</name>
            <fieldText>&lt;p&gt;{!Get_WorkStep_Record.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_RespuestaEvaluacion</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <choiceReferences>Choice_No_Aplica</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Respuesta</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LT_Description</name>
            <defaultValue>
                <stringValue>{!Get_WorkStep_Record.Description}</stringValue>
            </defaultValue>
            <fieldText>Observaciones</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Work_Step_Completed</name>
        <label>Work Step Completed</label>
        <locationX>1766</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Action_Reload_Page</targetReference>
        </connector>
        <fields>
            <name>DT_WorkStep_Complete</name>
            <fieldText>&lt;p&gt;El Paso de Trabajo ha sido completado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WorkStep_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Obtain_Selected_Product_Required_For_WOLI</name>
        <label>Obtain Selected Product Required For WOLI</label>
        <locationX>2316</locationX>
        <locationY>3458</locationY>
        <connector>
            <targetReference>Loop_Product_Collection</targetReference>
        </connector>
        <flowName>CoIT_AF_Convert_MPL_Selected_Values_to_Collection</flowName>
        <inputAssignments>
            <name>SelectedValues</name>
            <value>
                <elementReference>SelectedProductValues</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ProductCollection</assignToReference>
            <name>SelectedValuesCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Obtain_Selected_WorkStep_Collection</name>
        <label>Obtain Selected WorkStep Collection</label>
        <locationX>1436</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Loop_WorkStep_Collection</targetReference>
        </connector>
        <flowName>CoIT_AF_Convert_MPL_Selected_Values_to_Collection</flowName>
        <inputAssignments>
            <name>SelectedValues</name>
            <value>
                <elementReference>SelectedWorkStepValues</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>WorkStepCollection</assignToReference>
            <name>SelectedValuesCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Obtain_Selected_Zone_Collection</name>
        <label>Obtain Selected Zone Collection</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Assignment_DetailWorkStep_Title</targetReference>
        </connector>
        <flowName>CoIT_AF_Convert_MPL_Selected_Values_to_Collection</flowName>
        <inputAssignments>
            <name>SelectedValues</name>
            <value>
                <elementReference>SelectedZoneValues</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ZoneCollection</assignToReference>
            <name>SelectedValuesCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Retry_Manage_RepairPlan</name>
        <label>Retry Manage Repair Plan</label>
        <locationX>2756</locationX>
        <locationY>3134</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Exist_Repair_WO_and_WOLI</targetReference>
        </connector>
        <flowName>CoIT_AF_Manage_RepairPlan</flowName>
        <inputAssignments>
            <name>WorkStep_Record</name>
            <value>
                <elementReference>Get_WorkStep_Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Repair_WorkOrderId</assignToReference>
            <name>Repair_WorkOrderID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Repair_WorkOrderLineItemId</assignToReference>
            <name>Repair_WorkOrderLineItemId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SF_Manage_RepairPlan</name>
        <label>Manage Repair Plan</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Screen1_Selection_Zone</targetReference>
        </connector>
        <flowName>CoIT_AF_Manage_RepairPlan</flowName>
        <inputAssignments>
            <name>WorkStep_Record</name>
            <value>
                <elementReference>Get_WorkStep_Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Repair_WorkOrderId</assignToReference>
            <name>Repair_WorkOrderID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Repair_WorkOrderLineItemId</assignToReference>
            <name>Repair_WorkOrderLineItemId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Add_Title</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CountProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Expense_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>ProductCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductRequired_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>ProductRequired_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RText_DetailWorkStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedProductValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedWorkStepValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedZoneValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleProductValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleWorkStepValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleZoneValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkStepCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZoneCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
