force-app/main/default/flows/CoIT_TF_Notification_to_Ptoveedor_When_Case_is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_Case_Assigned</name>
        <label>Notification Case Assigned</label>
        <locationX>798</locationX>
        <locationY>1763</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CustomNotificationRecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Nuevo Caso Asignado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>El caso {!$Record.CaseNumber} fue asignado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_Recipient_Id</name>
        <label>Set Recipient Id</label>
        <locationX>754</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>CustomNotificationRecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Tecnico_Base_Suba_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Suba_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Recipient_Id</name>
        <label>Set Recipient Id</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>CustomNotificationRecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Tecnico_Base_RCR_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RCR_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient_Id</name>
        <label>Set Recipient Id</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>CustomNotificationRecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Tecnico_Base_Duralav_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Duralav_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_2_of_Is_Tecnico_Base_Null</name>
        <label>Is Tecnico Base Null?</label>
        <locationX>886</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Loop_Suba_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tecnico_Base_Suba_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Recipient_Id</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Is_Tecnico_Base_Null</name>
        <label>Is Tecnico Base Null?</label>
        <locationX>1502</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Loop_RCR_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tecnico_Base_RCR_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Recipient_Id</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluation_Proveedor_Id</name>
        <label>Evaluation Proveedor Id</label>
        <locationX>798</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duralav</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Proveedor_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_Duralav.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tecnicos_Duralav_Contact</targetReference>
            </connector>
            <label>Duralav</label>
        </rules>
        <rules>
            <name>Suba</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Proveedor_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_Suba.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tecnicos_Suba_Contact</targetReference>
            </connector>
            <label>Suba</label>
        </rules>
        <rules>
            <name>RCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Proveedor_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_RCR.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tecnicos_RCR_Contact</targetReference>
            </connector>
            <label>RCR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tecnico_Base_Null</name>
        <label>Is Tecnico Base Null?</label>
        <locationX>270</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Loop_Duralav_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tecnico_Base_Duralav_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recipient_Id</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>v2</description>
    <environments>Default</environments>
    <interviewLabel>CoIT TF Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT TF Notification to Ptoveedor When Case is Created</label>
    <loops>
        <name>Loop_Duralav_Contacts</name>
        <label>Loop Duralav Contacts</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Tecnicos_Duralav_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Tecnico_Base_Duralav_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Notification_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_RCR_Contacts</name>
        <label>Loop RCR Contacts</label>
        <locationX>1282</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Tecnicos_RCR_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Tecnico_Base_RCR_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Notification_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Suba_Contacts</name>
        <label>Loop Suba Contacts</label>
        <locationX>666</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Tecnicos_Suba_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Tecnico_Base_Suba_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Notification_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Duralav</name>
        <label>Get Account Duralav</label>
        <locationX>798</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Suba</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duralav</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_RCR</name>
        <label>Get Account RCR</label>
        <locationX>798</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Proveedor_Base_Partner_Bolivar_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RCR Proyectos SAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Suba</name>
        <label>Get Account Suba</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_RCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agencia de Plomería de Suba Ltda</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>798</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Case_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoIT_Case_Assigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proveedor_Base_Partner_Bolivar_Profile</name>
        <label>Get Proveedor Base Partner Bolivar Profile</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluation_Proveedor_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoIT Proveedor Base Partner Bolivar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tecnico_Base_Duralav_User</name>
        <label>Get Tecnico Base Duralav User</label>
        <locationX>270</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Tecnico_Base_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proveedor_Base_Partner_Bolivar_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Duralav_Contacts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tecnico_Base_RCR_User</name>
        <label>Get Tecnico Base RCR User</label>
        <locationX>1502</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Is_Tecnico_Base_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proveedor_Base_Partner_Bolivar_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tecnico_Base_RCR_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tecnico_Base_Suba_User</name>
        <label>Get Tecnico Base Suba User</label>
        <locationX>886</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Is_Tecnico_Base_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proveedor_Base_Partner_Bolivar_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Suba_Contacts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tecnicos_Duralav_Contact</name>
        <label>Get Tecnicos Duralav Contact</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Duralav_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Duralav.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tecnicos_RCR_Contact</name>
        <label>Get Tecnicos RCR Contact</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_RCR_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Duralav.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tecnicos_Suba_Contact</name>
        <label>Get Tecnicos Suba Contact</label>
        <locationX>666</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Suba_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Suba.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Duralav</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomNotificationRecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
