force-app/main/default/flows/CoIT_TF_ApplyCaseAssignmentRules_with_ManagementTypeChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apply_Case_Assignment_Rules</name>
        <label>Apply Case Assignment Rules</label>
        <locationX>440</locationX>
        <locationY>576</locationY>
        <actionName>ApplyCaseAssignmentRules</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ApplyCaseAssignmentRules</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Gestion_Automatica_Is_PoC</name>
        <label>Gestion Automatica Is PoC ?</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Apply_Case_Assignment_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Management_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestión Automatica PoC</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Fallido_Completado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Management_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fallido Completado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_close_date_for_IJH</targetReference>
            </connector>
            <label>Fallido Completado</label>
        </rules>
    </decisions>
    <description>Close IJH: Failed service, contact customer</description>
    <environments>Default</environments>
    <interviewLabel>CoIT TF Apply Case Assignment Rules with Management Type Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT TF Apply Case Assignment Rules with Management Type Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_close_date_for_IJH</name>
        <label>Update close date for IJH</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Apply_Case_Assignment_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed service, contact customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_Date_Close__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Date_Close__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Management_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Gestion_Automatica_Is_PoC</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
