force-app/main/default/flows/CoIT_TF_Create_Service_Appointment_from_WOLI_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Service_Appointment_New_Record</name>
        <label>Set Service Appointment New Record</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ParentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSSK__FSK_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_WorkType_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_Proveedor_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrder.CoIT_Proveedor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_WorkType_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSL__IsMultiDay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_isMultiday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSL__Auto_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ServiceAppointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_AutoCreate_ServiceAppointment</name>
        <label>Evaluate Auto-Create Service Appointment</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Evaluate_WorkType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkType.ShouldAutoCreateSvcAppt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_WorkType</name>
        <label>Evaluate WorkType from WO</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WorkType_Repair_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder.WorkType.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Reparación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Appointment_New_Record</targetReference>
            </connector>
            <label>Reparación</label>
        </rules>
    </decisions>
    <description>- Modify SA Reparacion RC</description>
    <environments>Default</environments>
    <formulas>
        <name>F_isMultiday</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Duration}&gt;=6,True,False)</expression>
    </formulas>
    <interviewLabel>CoIT TF Create Service Appointment from WOLI Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT TF Create Service Appointment from WOLI Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ServiceAppointment</name>
        <label>Create Service Appointment</label>
        <locationX>242</locationX>
        <locationY>647</locationY>
        <inputReference>ServiceAppointment_NewRecord</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_AutoCreate_ServiceAppointment</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceAppointment_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
