force-app/main/default/flows/CoIT_WOM_1_TF_Create_Work_Order_by_Integration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_NewValues_for_WorkOrder</name>
        <label>Assignment New Values for Work Orderwor</label>
        <locationX>446</locationX>
        <locationY>3047</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.CoIT_WOM_Arrival_Window_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_WO_ArrivalWindowStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.CoIT_WOM_Arrival_Window_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_WO_ArrivalWindowEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WorkOrder_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AdditionalWOData</name>
        <label>Set Additional WO Data</label>
        <locationX>446</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.CoIT_Require_Rescheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_BB_RequiredReschedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCS_SchedulingType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AppointmentType</name>
        <label>Set Appointment Type</label>
        <locationX>798</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.CoIT_WOM_Appointment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_WT_AppointmentType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCS_Inheriting_SchedulingModel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BusinessLine</name>
        <label>Set Business Line</label>
        <locationX>798</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.CoIT_WOM_Business_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_WT_BusinessLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCS_Inheriting_AppointmentType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Entitlement</name>
        <label>Set Entitlement</label>
        <locationX>798</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_BB_EntitlementId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCS_Inheriting_SchedulingPolicy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SchedulingModel</name>
        <label>Set Scheduling Model</label>
        <locationX>798</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.CoIT_WOM_Scheduling_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_BB_SchedulingModel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCS_Inheriting_Entitlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SchedulingPolicy</name>
        <label>Set Scheduling Policy</label>
        <locationX>798</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.CoIT_WOM_Scheduling_Policy_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_BB_SchedulingPolicyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.CoIT_SecondScheduling_PolicyUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_BB_SecondSchedulingPolicyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.CoIT_ThirdScheduling_PolicyUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_BB_ThirdSchedulingPolicyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AdditionalWOData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WO_DatesForEmergency</name>
        <label>Set WO Dates for Emergency</label>
        <locationX>50</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewValues_for_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WO_DatesForImmediateAppointment</name>
        <label>Set WO Dates for Immediate Appointment</label>
        <locationX>578</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_WO_ArrivalWindowStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_WO_ArrivalWindowEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_ArrivalWindowEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewValues_for_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WO_DatesForProgrammed</name>
        <label>Set WO Dates for Programmed</label>
        <locationX>314</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_WO_ArrivalWindowStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_WO_ArrivalWindowEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_ArrivalWindowEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewValues_for_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WorkOrderID</name>
        <label>Set Work Order Id</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_UpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_WorkOrderID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_BB_SchedulingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCS_WorkType_RequiredInformation_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WorkTypeDataInSeparateVariables</name>
        <label>Set Work Type Data In Separate Variables</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>V_WT_BusinessLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_WOM_Business_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_WT_AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_WOM_Appointment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_BB_SchedulingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_BB_SchedulingModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_BB_SchedulingPolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_Policy_Used__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AdditionalWOData</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DCS_AppointmentType</name>
        <label>Evaluate Appointment Type</label>
        <locationX>446</locationX>
        <locationY>3371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCS_Outocome_AppointmentType_SingleAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_WT_AppointmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Appointment</targetReference>
            </connector>
            <label>Single Appointment</label>
        </rules>
        <rules>
            <name>DCS_AppointmentType_PUDO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_WT_AppointmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PickUp and Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PickUp_DropOff_WOLIs</targetReference>
            </connector>
            <label>PickUp and Drop Off</label>
        </rules>
        <rules>
            <name>DCS_AppointmentType_IPUDO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_WT_AppointmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PickUp and Immediately Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PickUp_DropOff_WOLIs</targetReference>
            </connector>
            <label>PickUp and Immediately Drop Off</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCS_Inheriting_AppointmentType</name>
        <label>Record Requires Inheriting the Appointment Type</label>
        <locationX>710</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Set_AppointmentType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCS_Outcome_Inheriting_AppointmentType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Appointment_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCS_Inheriting_SchedulingModel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCS_Inheriting_BusinessLine</name>
        <label>Record requires inheriting the Business Line</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_BusinessLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCS_Outcome_Inheriting_BusinessLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Business_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCS_Inheriting_AppointmentType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCS_Inheriting_Entitlement</name>
        <label>Record Requires Inheriting the Entitlement</label>
        <locationX>710</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Set_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCS_Outcome_Inheriting_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCS_Inheriting_SchedulingPolicy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCS_Inheriting_SchedulingModel</name>
        <label>Record Requires Inheriting the Scheduling Model</label>
        <locationX>710</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Set_SchedulingModel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCS_Outcome_Inheriting_SchedulingModel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCS_Inheriting_Entitlement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCS_Inheriting_SchedulingPolicy</name>
        <label>Record Requires Inheriting the Scheduling Policy</label>
        <locationX>710</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Set_SchedulingPolicy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCS_Outcome_Inheriting_SchedulingPolicy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Policy_Used__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AdditionalWOData</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCS_SchedulingType</name>
        <label>Evaluate Scheduling Type</label>
        <locationX>446</locationX>
        <locationY>2747</locationY>
        <defaultConnector>
            <targetReference>Assignment_NewValues_for_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCS_Outcome_SchedulingType_Emergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO_DatesForEmergency</targetReference>
            </connector>
            <label>Emergency</label>
        </rules>
        <rules>
            <name>DCS_Outcome_SchedulingType_Programmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Programmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO_DatesForProgrammed</targetReference>
            </connector>
            <label>Programmed</label>
        </rules>
        <rules>
            <name>DCS_Outcome_SchedulingType_ImmediateAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Immediate Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO_DatesForImmediateAppointment</targetReference>
            </connector>
            <label>Immediate Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCS_WorkType_RequiredInformation_Exists</name>
        <label>All Work Type Required Information Exists?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_WorkType_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCS_Outcome_WorkType_RequiredInformation_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Business_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Appointment_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Policy_Used__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WorkTypeDataInSeparateVariables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_BusinessBehaivor_Data</name>
        <label>Exist Business Behaivor Data</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_GeneralBusinessBehaivor_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_BusinessBehaivor_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTerritory_BusinessBehaivor_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ServiceTerritoryBusinessBehaivor_Data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_BusinessBehaivor_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTerritory_BusinessBehaivor_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GeneralBusinessBehaivor_Data</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>F_ArrivalWindowEnd</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.StartDate}+ (30/60/24)</expression>
    </formulas>
    <formulas>
        <name>F_EndDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISPICKVAL({!$Record.CoIT_WOM_Scheduling_type__c}, &quot;Emergency&quot;), {!$Flow.CurrentDateTime}+({!V_WT_DurationInMinutes}/24/60)+({!V_WT_DueDateOffSet}/24/60), {!$Record.StartDate}+({!V_WT_DurationInMinutes}/24/60)+({!V_WT_DueDateOffSet}/24/60))</expression>
    </formulas>
    <formulas>
        <name>F_SA_SchedulingModel</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL(TEXT({!$Record.CoIT_WOM_Scheduling_Model__c})), {!V_BB_SchedulingModel},   TEXT({!$Record.CoIT_WOM_Scheduling_Model__c}))</expression>
    </formulas>
    <formulas>
        <name>F_SchedulingPolicy</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.CoIT_WOM_Scheduling_Policy_Used__c}), {!V_BB_SchedulingPolicyId},   {!$Record.CoIT_WOM_Scheduling_Policy_Used__c})</expression>
    </formulas>
    <formulas>
        <name>F_SchedulingType</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL(TEXT({!$Record.CoIT_WOM_Scheduling_type__c})), {!V_BB_SchedulingType},   TEXT({!$Record.CoIT_WOM_Scheduling_type__c}))</expression>
    </formulas>
    <formulas>
        <name>F_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.WorkType.CoIT_NameClean__c}+&quot; &quot;+{!V_BB_SchedulingType} +&quot; &quot;+{!V_BB_SchedulingModel}</expression>
    </formulas>
    <interviewLabel>CoIT WOM 1 TF Create Work Order by Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT WOM 1 TF Create Work Order by Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GeneralBusinessBehaivor_Data</name>
        <label>Get General Business Behaivor  Data</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCS_Inheriting_BusinessLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_BB_SchedulingType</elementReference>
            </value>
        </filters>
        <object>CoIT_WorkType_BusinessBehaivor__c</object>
        <outputAssignments>
            <assignToReference>V_BB_RequiredReschedule</assignToReference>
            <field>CoIT_RequireRescheduled__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_BB_EntitlementId</assignToReference>
            <field>Entitlement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_BB_SchedulingPolicyId</assignToReference>
            <field>First_SchedulingPolicy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_BB_SchedulingModel</assignToReference>
            <field>Scheduling_Model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_BB_SecondSchedulingPolicyId</assignToReference>
            <field>Second_SchedulingPolicy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_BB_ThirdSchedulingPolicyId</assignToReference>
            <field>Third_SchedulingPolicy__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ServiceAppointment_RecordType</name>
        <label>Get Service Appointment Record Type</label>
        <locationX>446</locationX>
        <locationY>3263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCS_AppointmentType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_WO_RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceAppointment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>V_SA_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ServiceTerritoryBusinessBehaivor_Data</name>
        <label>Get Service Territory Business Behaivor Data</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCS_Inheriting_BusinessLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_BB_SchedulingType</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceTerritory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>CoIT_WorkType_BusinessBehaivor__c</object>
        <outputAssignments>
            <assignToReference>V_BB_RequiredReschedule</assignToReference>
            <field>CoIT_RequireRescheduled__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_BB_EntitlementId</assignToReference>
            <field>Entitlement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_BB_SchedulingPolicyId</assignToReference>
            <field>First_SchedulingPolicy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_BB_SchedulingModel</assignToReference>
            <field>Scheduling_Model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_BB_SecondSchedulingPolicyId</assignToReference>
            <field>Second_SchedulingPolicy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_BB_ThirdSchedulingPolicyId</assignToReference>
            <field>Third_SchedulingPolicy__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkType_Data</name>
        <label>Get WorkType Data</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceTerritory_BusinessBehaivor_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>V_WT_AppointmentType</assignToReference>
            <field>CoIT_WOM_Appointment_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_WT_BusinessLine</assignToReference>
            <field>CoIT_WOM_Business_Line__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_WT_DurationInMinutes</assignToReference>
            <field>DurationInMinutes</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_WT_DueDateOffSet</assignToReference>
            <field>FSL__Due_Date_Offset__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ServiceTerritory_BusinessBehaivor_Record</name>
        <label>Get Service Territory Business Behaivor Record</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_BusinessBehaivor_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_BB_SchedulingType</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceTerritory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CoIT_WorkType_BusinessBehaivor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WorkOrder_Data</name>
        <label>Update WorkOrder Data</label>
        <locationX>446</locationX>
        <locationY>3155</locationY>
        <connector>
            <targetReference>Get_ServiceAppointment_RecordType</targetReference>
        </connector>
        <inputReference>WorkOrder_UpdateRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_WorkOrderID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_WOM_WasCreatedByIntegration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_PickUp_DropOff_WOLIs</name>
        <label>Create Pick Up &amp; Drop Off Work Order Line Items</label>
        <locationX>446</locationX>
        <locationY>3779</locationY>
        <flowName>CoIT_WOM_1_ALF_Create_Work_Order_Line_Item</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentType</name>
            <value>
                <elementReference>V_WT_AppointmentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArrivalWindowEnd</name>
            <value>
                <elementReference>V_WO_ArrivalWindowEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArrivalWindowStart</name>
            <value>
                <elementReference>V_WO_ArrivalWindowStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BusinessLine</name>
            <value>
                <elementReference>V_WT_BusinessLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>City</name>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>City2</name>
            <value>
                <elementReference>$Record.CoIT_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Country</name>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Country2</name>
            <value>
                <elementReference>$Record.CoIT_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DestinationAddressComplement</name>
            <value>
                <elementReference>$Record.CoIT_Direccion_Destino_Complemento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DueDate</name>
            <value>
                <elementReference>WorkOrder_UpdateRecord.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EarliestStartPermitted</name>
            <value>
                <elementReference>WorkOrder_UpdateRecord.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GanttLabel</name>
            <value>
                <elementReference>WorkOrder_UpdateRecord.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Latitude</name>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Latitude2</name>
            <value>
                <elementReference>$Record.CoIT_Address__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Longitude</name>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Longitude2</name>
            <value>
                <elementReference>$Record.CoIT_Address__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentRecordType</name>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PostalCode</name>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PostalCode2</name>
            <value>
                <elementReference>$Record.CoIT_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>V_SA_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>V_WO_RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequiredRescheduled</name>
            <value>
                <elementReference>V_BB_RequiredReschedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingModel</name>
            <value>
                <elementReference>F_SA_SchedulingModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingPolicy</name>
            <value>
                <elementReference>V_BB_SchedulingPolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingType</name>
            <value>
                <elementReference>V_BB_SchedulingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SecondSchedulingPolicy</name>
            <value>
                <elementReference>V_BB_SecondSchedulingPolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceTerritoryID</name>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartAddressComplement</name>
            <value>
                <elementReference>$Record.CoIT_Complemento_Direccion_Inicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>State</name>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>State2</name>
            <value>
                <elementReference>$Record.CoIT_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street2</name>
            <value>
                <elementReference>$Record.CoIT_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <elementReference>WorkOrder_UpdateRecord.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ThirdSchedulingPolicy</name>
            <value>
                <elementReference>V_BB_ThirdSchedulingPolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkTypeID</name>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultMessage</assignToReference>
            <name>ResultMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Single_Appointment</name>
        <label>Create Single Appointment</label>
        <locationX>138</locationX>
        <locationY>3479</locationY>
        <flowName>CoIT_WOM_1_ALF_Create_Service_Appointment</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentType</name>
            <value>
                <elementReference>V_WT_AppointmentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArrivalWindowEnd</name>
            <value>
                <elementReference>V_WO_ArrivalWindowEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArrivalWindowStart</name>
            <value>
                <elementReference>V_WO_ArrivalWindowStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BusinessLine</name>
            <value>
                <elementReference>V_WT_BusinessLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>City</name>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Country</name>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DestinationAddressComplement</name>
            <value>
                <elementReference>$Record.CoIT_Direccion_Destino_Complemento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DueDate</name>
            <value>
                <elementReference>WorkOrder_UpdateRecord.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EarliestStartPermitted</name>
            <value>
                <elementReference>WorkOrder_UpdateRecord.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GanttLabel</name>
            <value>
                <elementReference>WorkOrder_UpdateRecord.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Latitude</name>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Longitude</name>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentRecordType</name>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PostalCode</name>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>V_SA_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>V_WO_RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequiredRescheduled</name>
            <value>
                <elementReference>V_BB_RequiredReschedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingModel</name>
            <value>
                <elementReference>F_SA_SchedulingModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingPolicy</name>
            <value>
                <elementReference>F_SchedulingPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingType</name>
            <value>
                <elementReference>F_SchedulingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SecondSchedulingPolicy</name>
            <value>
                <elementReference>V_BB_SecondSchedulingPolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceTerritoryID</name>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartAddressComplement</name>
            <value>
                <elementReference>$Record.CoIT_Complemento_Direccion_Inicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>State</name>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ThirdSchedulingPolicy</name>
            <value>
                <elementReference>V_BB_ThirdSchedulingPolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkTypeID</name>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>V_NewServiceAppointmentID</assignToReference>
            <name>New_ServiceAppointmentID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultMessage</assignToReference>
            <name>ResultMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_BB_EntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_BB_RequiredReschedule</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>V_BB_SchedulingModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_BB_SchedulingPolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_BB_SchedulingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_BB_SecondSchedulingPolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_BB_ThirdSchedulingPolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_NewServiceAppointmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_SA_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_WO_ArrivalWindowEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CoIT_WOM_Arrival_Window_End__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>V_WO_ArrivalWindowStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CoIT_WOM_Arrival_Window_Start__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>V_WO_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.RecordTypeId</elementReference>
        </value>
    </variables>
    <variables>
        <name>V_WO_RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.RecordType.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>V_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>V_WT_AppointmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_WT_BusinessLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_WT_DueDateOffSet</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_WT_DurationInMinutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WorkOrder_UpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
