force-app/main/default/flows/CoIT_Autopopulate_Proveedor_ID_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Are_There_Service_Appointment_Records_on_WO</name>
        <label>Are There Service Appointment Records on WO?</label>
        <locationX>662</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Get_WOLI_Records_on_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Service_Appointments_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Records_On_WO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Service_Appointment_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_Service_Appointment_Records_on_WOLI</name>
        <label>Are There Service Appointment Records on WOLI?</label>
        <locationX>902</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Loop_WOLI_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ServiceAppointmentsWOLI_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Records_On_WOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Service_Appointment_Records_WOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_WOLI_Records_on_WO</name>
        <label>Are There WOLI Records on WO?</label>
        <locationX>662</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Loop_Work_Order_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_WOLIs_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI_Records_on_WO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_WOLI_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_WOs</name>
        <label>Are there WOs?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_WOs_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Work_Order_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT Autopopulate Proveedor ID on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT Autopopulate Proveedor ID on Case</label>
    <loops>
        <name>Loop_Service_Appointment_Records</name>
        <label>Loop Service Appointment Records</label>
        <locationX>554</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_Service_Appointment_Records_On_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Service_Appointment_on_WO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_WOLI_Records_on_WO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Service_Appointment_Records_WOLI</name>
        <label>Loop Service Appointment Records WOLI</label>
        <locationX>794</locationX>
        <locationY>2003</locationY>
        <collectionReference>Get_Service_Appointment_Records_On_WOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Service_Appointment_on_WOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_WOLI_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_WOLI_Records</name>
        <label>Loop WOLI Records</label>
        <locationX>618</locationX>
        <locationY>1679</locationY>
        <collectionReference>Get_WOLI_Records_on_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Service_Appointment_Records_On_WOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Work_Order_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Work_Order_Records</name>
        <label>Loop Work Order Records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Work_Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Work_Order</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Appointment_Records_On_WO</name>
        <label>Get Service Appointment Records On WO</label>
        <locationX>662</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Service_Appointment_Records_on_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Work_Order_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_Records_On_WOLI</name>
        <label>Get Service Appointment Records On WOLI</label>
        <locationX>902</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Service_Appointment_Records_on_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_WOLI_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_Records_on_WO</name>
        <label>Get WOLI Records on WO</label>
        <locationX>662</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_WOLI_Records_on_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Work_Order_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Records</name>
        <label>Get Work Order Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_WOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Work_Order_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Proveedor_ID__c</field>
            <value>
                <elementReference>$Record.CoIT_Partner_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment_on_WO</name>
        <label>Update Service Appointment on WO</label>
        <locationX>642</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Loop_Service_Appointment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Service_Appointment_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Proveedor_ID__c</field>
            <value>
                <elementReference>$Record.CoIT_Partner_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment_on_WOLI</name>
        <label>Update Service Appointment on WOLI</label>
        <locationX>882</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Loop_Service_Appointment_Records_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Service_Appointment_Records_WOLI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Proveedor_ID__c</field>
            <value>
                <elementReference>$Record.CoIT_Partner_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>662</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Service_Appointment_Records_On_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Work_Order_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Proveedor_ID__c</field>
            <value>
                <elementReference>$Record.CoIT_Partner_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Partner_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
