force-app/main/default/flows/COIT_RTF_SMS_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Integracion_Sms</name>
        <label>Hogar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notificación Salesforce</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Lista_de_Numeros__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_NotificationDispatchedHogar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.ActualStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Integracion_Sms</name>
        <label>Integracion Sms mensajeria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notificación Salesforce</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Lista_de_Numeros__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_NotificacionDispachedMensajeria</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.ActualStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Integracion_Sms</name>
        <label>Integracion Sms</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notificación Salesforce</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Lista_de_Numeros__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>T_NotificationDespachedotros</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.ActualStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhastAppTemplate</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Pertenece_A</name>
        <label>Pertenece A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Otros</name>
            <conditionLogic>((1 OR 2 OR 3 OR 6 ) AND 9) OR (4 OR 5 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Traslado aeropuerto o terminal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Elegido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Transporte Pasajeros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Familiar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Grua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Cerrajeria - General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Carro Taller - General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integracion_Sms</targetReference>
            </connector>
            <label>otros</label>
        </rules>
        <rules>
            <name>Mensajeria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Mensajeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Integracion_Sms</targetReference>
            </connector>
            <label>Mensajeria</label>
        </rules>
        <rules>
            <name>Hogar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.WorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(AH)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Integracion_Sms</targetReference>
            </connector>
            <label>Hogar</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>COIT RTF SMS Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COIT RTF SMS Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pertenece_A</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reminder_Mark__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>T_NotificacionDispachedMensajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Le recordamos su servicio de {!Get_Work_Order.WorkType.CoIT_NameClean__c}, el  {!$Record.SchedStartTime} , en la  {!$Record.Street}.</text>
    </textTemplates>
    <textTemplates>
        <name>T_NotificationDespachedotros</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Le recordamos su servicio de {!Get_Work_Order.WorkType.CoIT_NameClean__c}, el  {!$Record.SchedStartTime} , en la  {!$Record.Street}.</text>
    </textTemplates>
    <textTemplates>
        <name>T_NotificationDispatchedHogar</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar: Le recordamos su servicio de {!Get_Work_Order.WorkType.CoIT_NameClean__c}, el  {!$Record.SchedStartTime} , en la  {!$Record.Street}.</text>
    </textTemplates>
</Flow>
