force-app/main/default/flows/CoIT_AF_Evaluate_Case_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Count_For_InJeopardyHistory</name>
        <label>Assignment Count For In Jeopardy History</label>
        <locationX>429</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CountInJeopardyHistory</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_InJeopardyHistory_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_InJeopardyHistoryRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Count_For_InJeopardyHistory_Agendamiento</name>
        <label>Assignment Count For In Jeopardy History Agendamiento</label>
        <locationX>231</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CountInJeopardyHistoryAgendamiento</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_InJeopardyHistoryRecords_Agendamiento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_InJeopardyHistoryRecords_For_Agendamiento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ManagementType_Agendamiento</name>
        <label>Assignment Management Type Agendamiento</label>
        <locationX>99</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agendamiento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOwner_From_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ManagementType_Alertamientos</name>
        <label>Assignment Management Type Alertamientos</label>
        <locationX>363</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alertamientos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOwner_From_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ManagementType_GestionAutomatica</name>
        <label>Assignment Management Type Gestion Automatica</label>
        <locationX>627</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gestión Automatica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOwner_From_WorkOrder</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_InJeopardyHistoryRecords_Agendamiento</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter In Jeopardy History Records Agendamiento</label>
        <locationX>231</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Filter_InJeopardyHistoryRecords_Agendamiento</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_InJeopardyHistory_Records</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_InJeopardyHistoryRecords_Agendamiento.CoIT_In_Jeopardy_Reason__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Unscheduled service</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_InJeopardyHistoryRecords_Agendamiento.CoIT_In_Jeopardy_Reason__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>No candidates found</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_InJeopardyHistoryRecords_Agendamiento.CoIT_In_Jeopardy_Reason__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>The service has not been accepted by any technician</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_InJeopardyHistoryRecords_Agendamiento.CoIT_In_Jeopardy_Reason__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Technician has not accepted the service</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_InJeopardyHistoryRecords_Agendamiento.CoIT_In_Jeopardy_Reason__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>No technicians were found available for the offer</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_InJeopardyHistoryRecords_Agendamiento.CoIT_In_Jeopardy_Reason__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Service accepted but not scheduled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_Count_For_InJeopardyHistory_Agendamiento</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Exist_InJeopardyHistoryRecords</name>
        <label>Exist In Jeopardy History Records</label>
        <locationX>429</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assignment_ManagementType_GestionAutomatica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_InJeopardyHistoryRecords_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountInJeopardyHistory</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_InJeopardyHistoryRecords_Agendamiento</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_InJeopardyHistoryRecords_For_Agendamiento</name>
        <label>Exist In Jeopardy History Records For Agendamiento</label>
        <locationX>231</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assignment_ManagementType_Alertamientos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_InJeopardyHistoryRecords_For_Agendamiento_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountInJeopardyHistoryAgendamiento</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ManagementType_Agendamiento</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Managment_typeisPoC</name>
        <label>Managment type is PoC</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assignment_Count_For_InJeopardyHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Managment_type_is_PoC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ManagementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alto impacto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManagementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo/medio impacto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOwner_From_WorkOrder</targetReference>
            </connector>
            <label>Managment type is PoC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT AF Evaluate Case Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Evaluate Case Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_InJeopardyHistory_Records</name>
        <label>Get In Jeopardy History Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Managment_typeisPoC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_Date_Close__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoIT_In_Jeopardy_History__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_InJeopardyHistory_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AssignOwner_From_WorkOrder</name>
        <label>Assign Owner From Work Order</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <flowName>CoIT_AF_AssignOwner_From_WorkOrder</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CountInJeopardyHistoryAgendamiento</name>
            <value>
                <elementReference>CountInJeopardyHistoryAgendamiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ManagementType</name>
            <value>
                <elementReference>ManagementType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountInJeopardyHistory</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountInJeopardyHistoryAgendamiento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_InJeopardyHistoryRecords_Agendamiento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CoIT_In_Jeopardy_History__c</objectType>
    </variables>
    <variables>
        <name>ManagementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
