force-app/main/default/flows/CoIT_WOM_2_AF_CreateWorkOffer_to_AvailableCandidates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generarte_WorkOfferDetails</name>
        <label>Generarte Work Offer Details</label>
        <locationX>986</locationX>
        <locationY>650</locationY>
        <actionName>CoIT_WOM_GenerateWorkOfferDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assignment_Quantity_WorkOfferDetails</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>schedulingPolicyId</name>
            <value>
                <elementReference>SchedulingPolicyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CoIT_WOM_GenerateWorkOfferDetails</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Error</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>WorkOfferDetail_Collection</assignToReference>
            <name>wOffers</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_With_WorkOffer_Error</name>
        <label>Send Email With Work Offer Error</label>
        <locationX>1282</locationX>
        <locationY>1082</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_FailedCandidates_For_WorkOrder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>fmojica@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Work Offer Detail Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Error</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Count_Work_OfferDetail</name>
        <label>Assignment Count Work Offer Detail</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>CountCandidates</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>WorkOfferDetail_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_WorkOffer_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewWorkOfferDetails_To_Collection</name>
        <label>Assignment New Work Offer Details To Collection</label>
        <locationX>534</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>WorkOfferDetail_NewCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOfferDetail_NewRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WorkOfferCandidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Quantity_WorkOfferDetails</name>
        <label>Assignment Quantity Work Offer Details</label>
        <locationX>986</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CountCandidates</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>WorkOfferDetail_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Add_1_To_Round_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_RingDistanceUsed1</name>
        <label>Assignment Ring Distance Used No. 1</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>RingDistanceUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingPolicy_Record.CoIT_FirstRingDistance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_SchedulingModel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_RingDistanceUsed2</name>
        <label>Assignment Ring Distance Used No. 2</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>RingDistanceUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingPolicy_Record.CoIT_SecondRingDistance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_SchedulingModel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_RingDistanceUsed3</name>
        <label>Assignment Ring Distance Used No. 3</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>RingDistanceUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingPolicy_Record.CoIT_SecondRingDistance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_SchedulingModel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_WorkOffer_Info</name>
        <label>Assignment Work Offer Info</label>
        <locationX>446</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_ServiceAppointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_NumberOfCandidates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountCandidates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_ServiceAppointment_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_ServiceAppointment_Longitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment_Record.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_ServiceAppointment_Latitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment_Record.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_ServiceAppointment_Address2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment_Address2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_ServiceAppointment_Latitude2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_Record.CoIT_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_ServiceAppointment_Longitude2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_Record.CoIT_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_RoundNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOfferQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.CoIT_RingDistanceUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RingDistanceUsed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_SchedulingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment_Record.CoIT_WOM_Scheduling_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_AppointmentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment_Record.CoIT_WOM_Appointment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_NecesidadCliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment_Record.FSSK__FSK_Work_Order__r.CoIT_Necesidad_Cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_RequerimientosCliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment_Record.FSSK__FSK_Work_Order__r.CoIT_Requerimientos_del_cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOffer_NewRecord.WOM_WorkTypeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment_Record.FSSK__FSK_Work_Order__r.WorkType.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WorkOffer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_WorkOfferDetail_NewRecord</name>
        <label>Assignment Work Offer Detail New Record</label>
        <locationX>534</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>WorkOfferDetail_NewRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WorkOfferCandidates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResource_UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WorkOfferCandidates.WOM_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOfferDetail_NewRecord.CoIT_LastKnowLocation_Latitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceResource_LastKnowLocation.LastKnownLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOfferDetail_NewRecord.CoIT_LastKnowLocation_Longitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceResource_LastKnowLocation.LastKnownLongitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_WorkOfferDetails_AdditionalInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_WorkOfferDetails_AdditionalInfo</name>
        <label>Assignment Work Offer Details Additional Info</label>
        <locationX>534</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>WorkOfferDetail_NewRecord.WOM_ServiceResource_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceResource_UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOfferDetail_NewRecord.WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOfferDetail_NewRecord.WOM_WorkOffer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOffer_NewRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewWorkOfferDetails_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Add_1_To_Round_Number</name>
        <label>Set Add 1 To Round Number</label>
        <locationX>986</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>WorkOfferQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_WorkOfferCandidates</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Order_WorkOfferDetailByOffer_Collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Order Work Offer Detail Collection By Offer</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>WorkOfferDetail_Collection</collectionReference>
        <connector>
            <targetReference>Assignment_Count_Work_OfferDetail</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>WOM_Grade__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Order_WorkOfferDetailDirectAssignmentWithAcceptance_Collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Order Work Offer Detail Collection Direct Assignment With Acceptance</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>WorkOfferDetail_Collection</collectionReference>
        <connector>
            <targetReference>Assignment_Count_Work_OfferDetail</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>WOM_Grade__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Evaluate_RoundNumber</name>
        <label>Evaluate Round Number</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Evaluate_SchedulingModel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RoundNumber1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOfferQuantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_RingDistanceUsed1</targetReference>
            </connector>
            <label>Round Number 1</label>
        </rules>
        <rules>
            <name>RoundNumber2_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOfferQuantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_RingDistanceUsed2</targetReference>
            </connector>
            <label>Round Number 2</label>
        </rules>
        <rules>
            <name>RoundNumber3_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOfferQuantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_RingDistanceUsed3</targetReference>
            </connector>
            <label>Round Number 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_SchedulingModel</name>
        <label>Evaluate Scheduling Model</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Assignment_Count_Work_OfferDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ByOffer_SchedulingModel_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment_Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_WorkOfferDetailByOffer_Collection</targetReference>
            </connector>
            <label>By Offer</label>
        </rules>
        <rules>
            <name>DirectAssignmentWithAcceptance_SchedulingModel_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment_Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Direct Assigment with Acceptance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_WorkOfferDetailDirectAssignmentWithAcceptance_Collection</targetReference>
            </connector>
            <label>Direct Assignment With Acceptance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Resource_Preference_For_Parent_Record</name>
        <label>Exist Resource Preference For Parent Record</label>
        <locationX>986</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Generarte_WorkOfferDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource_Preference_For_Parent_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Resource_Preference_For_Parent_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_WorkOfferCandidates</name>
        <label>Exist Work Offer Candidates</label>
        <locationX>986</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Update_ServiceAppointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_WorkOfferCandidates_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCandidates</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkOrder_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_WorkOfferCandidates_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCandidates</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FailedCandidates_For_WorkOrder</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Error_WorkOfferCandidates_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail_With_WorkOffer_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AerealDistanceToServiceAppointment</name>
        <dataType>Number</dataType>
        <expression>DISTANCE(
GEOLOCATION({!ServiceAppointment_Record.Latitude} , {!ServiceAppointment_Record.Longitude} ),
GEOLOCATION({!Get_ServiceResource_LastKnowLocation.LastKnownLatitude} , {!Get_ServiceResource_LastKnowLocation.LastKnownLongitude} ),
&apos;km&apos;)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ServiceAppointment_Address</name>
        <dataType>String</dataType>
        <expression>{!ServiceAppointment_Record.Street} + &quot;, &quot; + {!ServiceAppointment_Record.City} +&quot;,  &quot;+ {!ServiceAppointment_Record.Country}</expression>
    </formulas>
    <formulas>
        <name>ServiceAppointment_Address2</name>
        <dataType>String</dataType>
        <expression>{!WorkOrder_Record.CoIT_Address__Street__s}+&quot;, &quot;+{!WorkOrder_Record.CoIT_Address__City__s}+ &quot;, &quot;+TEXT({!WorkOrder_Record.CoIT_Address__CountryCode__s})</expression>
    </formulas>
    <interviewLabel>CoIT_WOM_2_TF_Create_WorkOffer_to_AvailableCandidates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT WOM 2 AF Create WorkOffer to AvailableCandidates</label>
    <loops>
        <name>Loop_WorkOfferCandidates</name>
        <label>Loop Work Offer Candidates</label>
        <locationX>446</locationX>
        <locationY>2330</locationY>
        <collectionReference>WorkOfferDetail_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_ServiceResource_LastKnowLocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_WorkOfferDetail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_WorkOffer</name>
        <label>Create Work Offer Record</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Loop_WorkOfferCandidates</targetReference>
        </connector>
        <inputReference>WorkOffer_NewRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_WorkOfferDetail</name>
        <label>Create Work Offer Detail</label>
        <locationX>446</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Update_WorkOffer_Candidates</targetReference>
        </connector>
        <inputReference>WorkOfferDetail_NewCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Resource_Preference_For_Parent_Record</name>
        <label>Delete Resource Preference For Parent Record</label>
        <locationX>854</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Generarte_WorkOfferDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Resource_Preference_For_Parent_Record.Id</elementReference>
            </value>
        </filters>
        <object>ResourcePreference</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Resource_Preference_For_Parent_Record</name>
        <label>Get Resource Preference For Parent Record</label>
        <locationX>986</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_Resource_Preference_For_Parent_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_WOM_TransactionAfterScheduled__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>986</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Resource_Preference_For_Parent_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ServiceResource_LastKnowLocation</name>
        <label>Get Service Resource Last Know Location</label>
        <locationX>534</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_WorkOfferDetail_NewRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_WorkOfferCandidates.WOM_Service_Resource__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SchedulingPolicy_Record</name>
        <label>Get Scheduling Policy</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_RoundNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchedulingPolicyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL__Scheduling_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ServiceAppointment_Record</name>
        <label>Get Service Appointment Info</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SchedulingPolicy_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WorkOrder_Record</name>
        <label>Get Work Order Info</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceAppointment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FailedCandidates_For_WorkOrder</name>
        <label>Update Failed Candidates For Work Order</label>
        <locationX>1018</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Update_ServiceAppointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Is_Failed_Candidates__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ServiceAppointment</name>
        <label>Update Service Appointment Work Offer Quantity</label>
        <locationX>986</locationX>
        <locationY>3254</locationY>
        <connector>
            <targetReference>Update_WorkOrder_WorkOfferQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Create_WorkOffer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Work_Offer_Quantity__c</field>
            <value>
                <elementReference>WorkOfferQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOffer_Candidates</name>
        <label>Update Work Offer Candidates</label>
        <locationX>446</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Update_ServiceAppointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOffer_NewRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Update_CandidatesNumber__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WOM_WorkOffer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrder_WorkOfferQuantity</name>
        <label>Update Work Order Work Offer Quantity</label>
        <locationX>986</locationX>
        <locationY>3362</locationY>
        <connector>
            <targetReference>Notify_Work_Offer_Base</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_WorkOfferQuantity__c</field>
            <value>
                <elementReference>WorkOfferQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>860</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Notify_Work_Offer_Base</name>
        <label>Notify Work Offer Base</label>
        <locationX>986</locationX>
        <locationY>3470</locationY>
        <flowName>AF_Notify_Work_Offer_Base</flowName>
        <inputAssignments>
            <name>WorkOfferId</name>
            <value>
                <elementReference>WorkOffer_NewRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CountCandidates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueIdGestionAutomatica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RingDistanceUsed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SchedulingPolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResource_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOffer_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WOM_WorkOffer__c</objectType>
    </variables>
    <variables>
        <name>WorkOfferDetail_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WOM_WorkOfferDetail__c</objectType>
    </variables>
    <variables>
        <name>WorkOfferDetail_NewCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WOM_WorkOfferDetail__c</objectType>
    </variables>
    <variables>
        <name>WorkOfferDetail_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WOM_WorkOfferDetail__c</objectType>
    </variables>
    <variables>
        <name>WorkOfferQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
