force-app/main/default/flows/CoIT_WOM_9_TF_Action_From_WorkOrder_MilestoneViolation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add1_To_QuantityWorkOffer</name>
        <label>Add 1 to Quantity Work Offer</label>
        <locationX>2426</locationX>
        <locationY>3012</locationY>
        <assignmentItems>
            <assignToReference>PreferenceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionAfterSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove After Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Service_Appointment_To_Create_Work_Offer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Automatic_Dispatched_Attempts</name>
        <label>Add Automatic Dispatched Attempts</label>
        <locationX>974</locationX>
        <locationY>3180</locationY>
        <assignmentItems>
            <assignToReference>V_AutomaticSchedulingAttempts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Auto_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Automatic_Dispatched_Attempts_By_Direct_Assigment_Accepted</name>
        <label>Add Automatic Dispatched Attempts By Direct Assigment Accepted</label>
        <locationX>2074</locationX>
        <locationY>2988</locationY>
        <assignmentItems>
            <assignToReference>V_AutomaticSchedulingAttempts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Auto_Schedule_By_Direct_Assigment_With_Acceptance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Automatic_Dispatched_Attempts_Is_Failed_Schedule</name>
        <label>Add Automatic Dispatched Attempts Is Failed Schedule</label>
        <locationX>5682</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>V_AutomaticSchedulingAttempts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AutoSchedule_Is_FailedSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SecondSchedulePolicy_d_To_SchedulePolicyId</name>
        <label>Assignment Second Schedule Policy Id To Schedule Policy Id</label>
        <locationX>3482</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>schedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondSchedulePolicyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Esperando Aceptación Oferta Ronda 2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_FailedReason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ThirdSchedulePolicyId_To_SchedulePolicyId</name>
        <label>Assignment Third Schedule Policy Id To Schedule Policy Id</label>
        <locationX>3746</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>schedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThirdSchedulePolicyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Esperando Aceptación Oferta Ronda 3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_FailedReason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Values_to_Extended_Scheduled</name>
        <label>Assignment Values to Extended Scheduled</label>
        <locationX>1194</locationX>
        <locationY>2796</locationY>
        <assignmentItems>
            <assignToReference>PreferenceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionAfterSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change to Preferred After Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Register_Resource_Preference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Values_to_Extended_Scheduled1</name>
        <label>Assignment Values to Extended Scheduled</label>
        <locationX>2162</locationX>
        <locationY>2688</locationY>
        <assignmentItems>
            <assignToReference>PreferenceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionAfterSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change to Preferred After Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Register_ResourcePreference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>et_Jeopardy_Info_For_Failed_Waiting_forCandidates</name>
        <label>Set Jeopardy Info For Failed Waiting for Candidates</label>
        <locationX>3262</locationX>
        <locationY>5004</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No technicians were found available for the offer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Waiting_For_Candidats_Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_PickUpServiceAppointmentCollection</name>
        <label>Set Count Pick Up Service Appointment Collection</label>
        <locationX>3790</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>V_Count_ServiceAppointment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PickUpServiceAppointment_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequiresExtendedScheduling</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_PickUpServiceAppointmentQuantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_ServiceAppointmentCollection</name>
        <label>Set Count Service Appointment Collection</label>
        <locationX>2998</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>V_Count_ServiceAppointment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ServiceAppointment_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_ServiceAppointmentQuantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Jeopardy_Info_For_Failed_Waiting_for_Candidates</name>
        <label>Set Jeopardy Info For Failed Waiting for Candidates</label>
        <locationX>1282</locationX>
        <locationY>2256</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No technicians were found available for the offer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agendamiento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exits_WorkOfferAccepted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Jeopardy_Info_For_FailedScheduled</name>
        <label>Set Jeopardy Info For Failed Scheduled</label>
        <locationX>3790</locationX>
        <locationY>5004</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unscheduled service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FailedScheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Jeopardy_Info_ForFailed_Acceptance</name>
        <label>Set Jeopardy Info For Failed Acceptance</label>
        <locationX>3526</locationX>
        <locationY>5004</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The service has not been accepted by any technician</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Failed_Acceptance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JeopardyInfo_For_FailedAcceptance</name>
        <label>Set Jeopardy Info For Failed Acceptance</label>
        <locationX>2459</locationX>
        <locationY>2256</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The service has not been accepted by any technician</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreferenceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agendamiento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exits_WorkOfferAccepted1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JeopardyInfo_For_FailedCandidates</name>
        <label>Set Jeopardy Info For Failed Candidates</label>
        <locationX>50</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No candidates found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agendamiento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateToFalse_FailedCandidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JeopardyInfo_For_FailedCompleted</name>
        <label>Set Jeopardy Info For Failed Completed</label>
        <locationX>5154</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Technician is taking more time than required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alertamientos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateToFalse_FailedCompleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JeopardyInfo_For_FailedInProgress</name>
        <label>Set Jeopardy Info For Failed In Progress</label>
        <locationX>4626</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Technician has not arrived on site</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alertamientos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateToFalse_FailedInProgress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JeopardyInfo_For_FailedTravel</name>
        <label>Set Jeopardy Info For Failed Travel</label>
        <locationX>4098</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Technician has not started travel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alertamientos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateToFalse_FailedTravel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JeoparyInfo_For_FailedDispatched</name>
        <label>Set Jeopardy Info For Failed Dispatched</label>
        <locationX>3570</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service not dispatched to technician</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alertamientos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateToFalse_FailedDispatched</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JeoparyInfo_For_FailedScheduled</name>
        <label>Set Jeopardy Info For Failed Scheduled</label>
        <locationX>5946</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>V_InJeopartyReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unscheduled service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agendamiento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateToFalse_FailedScheduled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_Count_ResourcePreference</name>
        <label>Evaluate Count Resource Preference</label>
        <locationX>2558</locationX>
        <locationY>2796</locationY>
        <defaultConnector>
            <targetReference>Update_To_False_Failed_Acceptance3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_ResourcePreference_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_QuantityWorkOffer</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OverdueCandidatesOffer2</targetReference>
            </connector>
            <label>Less Than 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_CountResourcePreferenceByOffer</name>
        <label>Evaluate Count Resource Preference</label>
        <locationX>1590</locationX>
        <locationY>2580</locationY>
        <defaultConnector>
            <targetReference>Update_Automatic_Dispatched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_ResourcePreferenceByOffer_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_QuantityWorkOffer</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ServiceAppointment_FailedCandidates_Record</targetReference>
            </connector>
            <label>Less Than 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_FailedReason</name>
        <label>Evaluate Failed Reason?</label>
        <locationX>3658</locationX>
        <locationY>1500</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FailedCandidates_FailedReason_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Is_Failed_Candidates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_JeopardyInfo_For_FailedCandidates</targetReference>
            </connector>
            <label>Failed Candidates</label>
        </rules>
        <rules>
            <name>OfferModel_FailedReason_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Waiting_for_Candidates_Finished__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Is_Failed_Acceptance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type_Bussines_Behaivor_Notify</targetReference>
            </connector>
            <label>Failed Reason Offer Model</label>
        </rules>
        <rules>
            <name>FailedDispatched_FailedReason_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Is_Failed_Dispatched__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_is_Scheduled</targetReference>
            </connector>
            <label>Failed Dispatched</label>
        </rules>
        <rules>
            <name>FailedTravel_FailedReason_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Is_Failed_Travel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_is_Dispatched</targetReference>
            </connector>
            <label>Failed Travel</label>
        </rules>
        <rules>
            <name>FailedInProgress_FailedReason_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Is_Failed_In_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_is_In_On_Site</targetReference>
            </connector>
            <label>Failed In Progress</label>
        </rules>
        <rules>
            <name>FailedCompleted_FailedReason_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Is_Failed_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_is_In_Progress</targetReference>
            </connector>
            <label>Failed Completed</label>
        </rules>
        <rules>
            <name>FailedScheduled_FailedReason_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Is_Failed_Scheduled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Is_None</targetReference>
            </connector>
            <label>Failed Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_FailedReason_OfferModel</name>
        <label>Evaluate Failed Reason for Offer Model</label>
        <locationX>2294</locationX>
        <locationY>2040</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FailedWaitingCandidates_FailedReason_OfferModel_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Waiting_for_Candidates_Finished__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkOfferAccepted_Collection</targetReference>
            </connector>
            <label>Failed Waiting for Candidates</label>
        </rules>
        <rules>
            <name>FailedAcceptance_FailedReason_OfferModel_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Is_Failed_Acceptance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkOfferAccepted_Collection1</targetReference>
            </connector>
            <label>Failed Acceptance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_PickUpServiceAppointmentQuantity</name>
        <label>Pick Up Service Appointment Quantity</label>
        <locationX>3790</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PickUpServiceAppointmentQuantity_0_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Count_ServiceAppointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>0</label>
        </rules>
        <rules>
            <name>PickUpServiceAppointmentQuantity_1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Count_ServiceAppointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PickUpServiceAppointment_Record</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_QuantityWorkOffer_To_AssignSchedulePolicy</name>
        <label>Evaluate Quantity Work Offer To Assign Schedule Policy</label>
        <locationX>3658</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Evaluate_FailedReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuantityWorkOfferX1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_QuantityWorkOffer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_FailedReason</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>QuantityWorkOfferX2_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_QuantityWorkOffer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SecondSchedulePolicy_d_To_SchedulePolicyId</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>QuantityWorkOfferX3_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_QuantityWorkOffer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ThirdSchedulePolicyId_To_SchedulePolicyId</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Requiered_ReSchedule_WorkType</name>
        <label>Evaluate Requiered Re Schedule Work Type</label>
        <locationX>2844</locationX>
        <locationY>2580</locationY>
        <defaultConnector>
            <targetReference>Update_To_False_Failed_Acceptance3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requiered_ReSchedule_WorkType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkType.CoIT_Require_Rescheduled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Preference_Resource_Excluded</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_SchedulingModel</name>
        <label>Evaluate Scheduling Model</label>
        <locationX>50</locationX>
        <locationY>1824</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DirectAssignmentWithAcceptance_SchedulingModel_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Direct Assigment with Acceptance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Evaluate_Count_ResourcePreference</targetReference>
            </connector>
            <label>Direct Assignment With Acceptance</label>
        </rules>
        <rules>
            <name>ByOffer_SchedulingModel_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Evaluate_CountResourcePreferenceByOffer</targetReference>
            </connector>
            <label>By Offer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_SchedulingModel_ByOffer</name>
        <label>Evaluate Scheduling Model By Offer</label>
        <locationX>6276</locationX>
        <locationY>1932</locationY>
        <defaultConnector>
            <targetReference>Is_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SchedulingModel_ByOffer_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OverdueCandidatesOffer3</targetReference>
            </connector>
            <label>By Offer</label>
        </rules>
        <rules>
            <name>Is_By_direct_assigment_PD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Direct Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAutomaticDispatched</targetReference>
            </connector>
            <label>By direct assigment PD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_ServiceAppointmentQuantity</name>
        <label>Service Appointment Quantity</label>
        <locationX>2998</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceAppointmentQuantity_0_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Count_ServiceAppointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>0</label>
        </rules>
        <rules>
            <name>ServiceAppointmentQuantity_1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Count_ServiceAppointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ServiceAppointment_Record</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_WOAppointmentType</name>
        <label>Evaluate Appointment Type</label>
        <locationX>3658</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SingleAppointment_WOAppointmentType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Appointment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ServiceAppointment_Collection</targetReference>
            </connector>
            <label>Single Appointment</label>
        </rules>
        <rules>
            <name>PickUp_DropOff_WOAppointmentType_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Appointment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PickUp and Drop Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Appointment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PickUp and Immediately Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkType_Record</targetReference>
            </connector>
            <label>Pick Up &amp; Drop Off</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Field_Is_Failed_True</name>
        <label>Exist Field Is Failed True?</label>
        <locationX>3658</locationX>
        <locationY>4896</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WaitngForCandidatesFinished_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WaitingForCandidates_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>et_Jeopardy_Info_For_Failed_Waiting_forCandidates</targetReference>
            </connector>
            <label>Waitng For Candidates Finished</label>
        </rules>
        <rules>
            <name>Failed_Acceptance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FailedAcceptance_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Jeopardy_Info_ForFailed_Acceptance</targetReference>
            </connector>
            <label>Failed Acceptance</label>
        </rules>
        <rules>
            <name>Is_Failed_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FailedSchedule_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Jeopardy_Info_For_FailedScheduled</targetReference>
            </connector>
            <label>Is Failed Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_injeopardy_History</name>
        <label>Exist injeopardy History</label>
        <locationX>3658</locationX>
        <locationY>4488</locationY>
        <defaultConnector>
            <targetReference>Get_Info_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistInjeopardyHistory_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistInJeopardy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF_EvaluateCaseAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Resource_Preference_Is_Required</name>
        <label>Exist Resource Preference Is Required?</label>
        <locationX>1106</locationX>
        <locationY>2688</locationY>
        <defaultConnector>
            <targetReference>Assignment_Values_to_Extended_Scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistResourcePreferenceIsRequired_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource_Preference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Automatic_Dispatched_Attempts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Resource_Preference_Is_Required_Acceptance</name>
        <label>Exist Resource Preference Is Required Acceptance?</label>
        <locationX>2074</locationX>
        <locationY>2580</locationY>
        <defaultConnector>
            <targetReference>Assignment_Values_to_Extended_Scheduled1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist_Resource_Preference_Is_RequiredAcceptance_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resource_Preference_By_Direct_Assigment_With_Acceptance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Automatic_Dispatched_Attempts_By_Direct_Assigment_Accepted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exits_WorkOfferAccepted</name>
        <label>Exits Work Offer Accepted</label>
        <locationX>1282</locationX>
        <locationY>2364</locationY>
        <defaultConnector>
            <targetReference>OverdueCandidatesOffer1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exits_WorkOfferAccepted_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOfferAccepted_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Resource_Preference</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exits_WorkOfferAccepted1</name>
        <label>Exits Work Offer Accepted</label>
        <locationX>2459</locationX>
        <locationY>2364</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Offer_Pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exits_WorkOfferAccepted1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOfferAccepted_Collection1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resource_Preference_By_Direct_Assigment_With_Acceptance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Schedule</name>
        <label>Is Schedule?</label>
        <locationX>6606</locationX>
        <locationY>2040</locationY>
        <defaultConnector>
            <targetReference>Update_To_False_FailedScheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_JeoparyInfo_For_FailedScheduled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Model_Programmed</name>
        <label>New Model Programmed</label>
        <locationX>974</locationX>
        <locationY>2580</locationY>
        <defaultConnector>
            <targetReference>Exist_Resource_Preference_Is_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Model_Programmed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Type_Bussines_Behaivor_Notify.CoIt_Solo_Se_Notifica_al_Base__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Automatic_Dispatched_Attempts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Preference_Is_RequiredFailed_Schedule</name>
        <label>Resource Preference Is RequiredFailed Schedule?</label>
        <locationX>5979</locationX>
        <locationY>1824</locationY>
        <defaultConnector>
            <targetReference>Evaluate_SchedulingModel_ByOffer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResourcePreferenceIsRequiredFailedSchedule_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ResourcePreference_For_FailedScheduled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Automatic_Dispatched_Attempts_Is_Failed_Schedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_is_Dispatched</name>
        <label>SA is Dispatched?</label>
        <locationX>4230</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>Update_To_False_Failed_Travel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_JeopardyInfo_For_FailedTravel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_is_In_On_Site</name>
        <label>SA is In On Site?</label>
        <locationX>4758</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>Update_To_False_Failed_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_JeopardyInfo_For_FailedInProgress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_is_In_Progress</name>
        <label>SA is In Progress?</label>
        <locationX>5286</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>Update_To_False_Failed_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_JeopardyInfo_For_FailedCompleted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Is_None</name>
        <label>SA Is None?</label>
        <locationX>6490</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>Update_To_False_Failed_Scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ResourcePreference_For_FailedScheduled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_is_Scheduled</name>
        <label>SA is Scheduled?</label>
        <locationX>3702</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>Update_To_False_Failed_Dispatched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_JeoparyInfo_For_FailedDispatched</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Is_Scheduled_1</name>
        <label>SA Is Scheduled?</label>
        <locationX>1436</locationX>
        <locationY>1932</locationY>
        <defaultConnector>
            <targetReference>Evaluate_FailedReason_OfferModel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Offer_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_False_Waiting_For_Candidates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Nueva versión para controlar que no se creen IJH no deseados
Cuando es primera ronda de oferta y nadie acepta, se crea el IJH, pero el caso se mantiene en Gestión automática</description>
    <environments>Default</environments>
    <interviewLabel>CoIT WOM TF Action From Work Order Milestone Violation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT WOM 9 TF Action From Work Order Milestone Violation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_In_Jeopardy_History_Record</name>
        <label>Create In Jeopardy History Record</label>
        <locationX>1458</locationX>
        <locationY>3012</locationY>
        <inputAssignments>
            <field>CoIT_Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Date_Close__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <value>
                <elementReference>V_InJeopartyReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Service_Appointment__c</field>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Work_Order__c</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_In_Jeopardy_HistoryRecord</name>
        <label>Create In Jeopardy History Record</label>
        <locationX>2426</locationX>
        <locationY>3336</locationY>
        <connector>
            <targetReference>Update_To_False_FailedAcceptance</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Date_Close__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <value>
                <elementReference>V_InJeopartyReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Service_Appointment__c</field>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Work_Order__c</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Preference_Resource_Excluded</name>
        <label>Create Preference Resource Excluded</label>
        <locationX>2558</locationX>
        <locationY>2688</locationY>
        <connector>
            <targetReference>Evaluate_Count_ResourcePreference</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Evaluate_Count_ResourcePreference</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CoIT_WOM_TransactionAfterScheduled__c</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>relatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Info_Work_Order</name>
        <label>Get Info Work Order</label>
        <locationX>3658</locationX>
        <locationY>4788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_Field_Is_Failed_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>FailedAcceptance_Value</assignToReference>
            <field>CoIT_Is_Failed_Acceptance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FailedSchedule_Value</assignToReference>
            <field>CoIT_Is_Failed_Scheduled__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WaitingForCandidates_Value</assignToReference>
            <field>CoIT_WOM_Waiting_for_Candidates_Finished__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource_Preference</name>
        <label>Get Resource Preference</label>
        <locationX>974</locationX>
        <locationY>2472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Model_Programmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ResourcePreference_For_FailedScheduled</name>
        <label>Get Resource Preference For Failed Scheduled</label>
        <locationX>5979</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_Preference_Is_RequiredFailed_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Offer_Details</name>
        <label>Get Work Offer Details</label>
        <locationX>1436</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Work_Offer_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WOM_WorkOfferDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Offer_Pending</name>
        <label>Get Work Offer Pending</label>
        <locationX>2844</locationX>
        <locationY>2472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Requiered_ReSchedule_WorkType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WOM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WOM_Acceptance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>WOM_WorkOfferDetail__c</object>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>WOM_Service_Resource__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Item</name>
        <label>Get Work Order Line Item</label>
        <locationX>3790</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_PickUpServiceAppointmentCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>V_RelatedRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Bussines_Behaivor_Notify</name>
        <label>Get Work Type Bussines Behaivor Notify</label>
        <locationX>1436</locationX>
        <locationY>1608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Offer_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_Model__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_SchedulingPolicy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_Policy_Used__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Entitlement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Entitlement.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CoIT_WorkType_BusinessBehaivor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PickUpServiceAppointment_Collection</name>
        <label>Get Pick Up Service Appointment Records</label>
        <locationX>3790</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkType_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PickUpServiceAppointment_Record</name>
        <label>Get Pick Up Service Appointment Info</label>
        <locationX>3790</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_QuantityWorkOffer_To_AssignSchedulePolicy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkType_Record.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>V_AutomaticSchedulingAttempts</assignToReference>
            <field>CoIT_AutomaticSchedulingAttempts__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SecondSchedulePolicyId</assignToReference>
            <field>CoIT_SecondScheduling_PolicyUsed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ThirdSchedulePolicyId</assignToReference>
            <field>CoIT_ThirdScheduling_PolicyUsed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_QuantityWorkOffer</assignToReference>
            <field>CoIT_Work_Offer_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>schedulePolicyId</assignToReference>
            <field>FSL__Scheduling_Policy_Used__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>relatedRecordId</assignToReference>
            <field>ParentRecordId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointmentStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Resource_Preference_By_Direct_Assigment_With_Acceptance</name>
        <label>Resource Preference By Direct Assigment With Acceptance</label>
        <locationX>2074</locationX>
        <locationY>2472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_Resource_Preference_Is_Required_Acceptance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ServiceAppointment_Collection</name>
        <label>Get Service Appointment Records</label>
        <locationX>2998</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_ServiceAppointmentCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ServiceAppointment_Record</name>
        <label>Get Service Appointment Info</label>
        <locationX>2998</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_QuantityWorkOffer_To_AssignSchedulePolicy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>V_AutomaticSchedulingAttempts</assignToReference>
            <field>CoIT_AutomaticSchedulingAttempts__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SecondSchedulePolicyId</assignToReference>
            <field>CoIT_SecondScheduling_PolicyUsed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ThirdSchedulePolicyId</assignToReference>
            <field>CoIT_ThirdScheduling_PolicyUsed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_QuantityWorkOffer</assignToReference>
            <field>CoIT_Work_Offer_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>schedulePolicyId</assignToReference>
            <field>FSL__Scheduling_Policy_Used__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>relatedRecordId</assignToReference>
            <field>ParentRecordId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointmentStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>WorkOfferAccepted_Collection</name>
        <label>Get Work Offer Accepted</label>
        <locationX>1282</locationX>
        <locationY>2148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Jeopardy_Info_For_Failed_Waiting_for_Candidates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WOM_Acceptance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WOM_WorkOfferDetail__c</object>
        <sortField>WOM_Grade__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WorkOfferAccepted_Collection1</name>
        <label>Get Work Offer Accepted</label>
        <locationX>2459</locationX>
        <locationY>2148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_JeopardyInfo_For_FailedAcceptance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WOM_Acceptance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WOM_WorkOfferDetail__c</object>
        <sortField>WOM_Grade__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WorkType_Record</name>
        <label>Get Work Type Pick Info</label>
        <locationX>3790</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PickUpServiceAppointment_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pick Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Service_Appointment_To_Create_Work_Offer</name>
        <label>Update Service Appointment To Create Work Offer</label>
        <locationX>2426</locationX>
        <locationY>3120</locationY>
        <connector>
            <targetReference>Completed_Esperando_Aceptacion_Oferta_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Create_WorkOffer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Work_Offer_Quantity__c</field>
            <value>
                <elementReference>V_QuantityWorkOffer</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Auto_Schedule</name>
        <label>Update Auto Schedule</label>
        <locationX>974</locationX>
        <locationY>3288</locationY>
        <connector>
            <targetReference>UpdateToFalse_WaitingForCandidates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_AutomaticSchedulingAttempts__c</field>
            <value>
                <elementReference>V_AutomaticSchedulingAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Auto_Schedule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Auto_Schedule_By_Direct_Assigment_With_Acceptance</name>
        <label>Update Auto Schedule By Direct Assigment With Acceptance</label>
        <locationX>2074</locationX>
        <locationY>3096</locationY>
        <connector>
            <targetReference>Update_To_False_Failed_Acceptance4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_AutomaticSchedulingAttempts__c</field>
            <value>
                <elementReference>V_AutomaticSchedulingAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Auto_Schedule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Automatic_Dispatched</name>
        <label>Update Automatic Dispatched</label>
        <locationX>1722</locationX>
        <locationY>2688</locationY>
        <connector>
            <targetReference>UpdateToFalse_WaitingForCandidates2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIt_Dispatched_Automatic_PKDP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AutoSchedule_Is_FailedSchedule</name>
        <label>Update Auto Schedule  For Is Failed Schedule</label>
        <locationX>5682</locationX>
        <locationY>2040</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_AutomaticSchedulingAttempts__c</field>
            <value>
                <elementReference>V_AutomaticSchedulingAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Auto_Schedule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Failed_Acceptance</name>
        <label>Update Failed Acceptance</label>
        <locationX>3526</locationX>
        <locationY>5112</locationY>
        <connector>
            <targetReference>Set_Service_Appointment_Jeopardy_and_Create_Record_History</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Is_Failed_Acceptance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FailedScheduled</name>
        <label>Update Failed Scheduled</label>
        <locationX>3790</locationX>
        <locationY>5112</locationY>
        <connector>
            <targetReference>Set_Service_Appointment_Jeopardy_and_Create_Record_History</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Is_Failed_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ServiceAppointment_FailedCandidates_Record</name>
        <label>Update Service Appointment To Create Work Offer</label>
        <locationX>1458</locationX>
        <locationY>2688</locationY>
        <connector>
            <targetReference>Update_To_False_Waiting_For_Candidates1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Create_WorkOffer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_Failed_Acceptance</name>
        <label>Update To False - Failed Acceptance</label>
        <locationX>578</locationX>
        <locationY>2148</locationY>
        <inputAssignments>
            <field>CoIT_Is_Failed_Acceptance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_Failed_Acceptance3</name>
        <label>Update To False - Failed Acceptance</label>
        <locationX>2844</locationX>
        <locationY>3828</locationY>
        <connector>
            <targetReference>Completed_EsperandoAceptacionOferta_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Is_Failed_Acceptance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_Failed_Acceptance4</name>
        <label>Update To False - Failed Acceptance</label>
        <locationX>2074</locationX>
        <locationY>3204</locationY>
        <inputAssignments>
            <field>CoIT_Is_Failed_Acceptance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_Failed_Completed</name>
        <label>Update To False - Failed Completed</label>
        <locationX>5418</locationX>
        <locationY>1716</locationY>
        <inputAssignments>
            <field>CoIT_Is_Failed_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_Failed_Dispatched</name>
        <label>Update To False - Failed Dispatched</label>
        <locationX>3834</locationX>
        <locationY>1716</locationY>
        <inputAssignments>
            <field>CoIT_Is_Failed_Dispatched__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_Failed_In_Progress</name>
        <label>Update To False - Failed In Progress</label>
        <locationX>4890</locationX>
        <locationY>1716</locationY>
        <inputAssignments>
            <field>CoIT_Is_Failed_In_Progress__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_Failed_Scheduled</name>
        <label>Update To False - Failed Scheduled</label>
        <locationX>7002</locationX>
        <locationY>1716</locationY>
        <inputAssignments>
            <field>CoIT_Is_Failed_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_Failed_Travel</name>
        <label>Update To False - Failed Travel</label>
        <locationX>4362</locationX>
        <locationY>1716</locationY>
        <inputAssignments>
            <field>CoIT_Is_Failed_Travel__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_FailedAcceptance</name>
        <label>Update To False - Failed Acceptance</label>
        <locationX>2426</locationX>
        <locationY>3444</locationY>
        <inputAssignments>
            <field>CoIT_Is_Failed_Acceptance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_FailedScheduled</name>
        <label>Update To False - Failed Scheduled</label>
        <locationX>6738</locationX>
        <locationY>2148</locationY>
        <inputAssignments>
            <field>CoIT_Is_Failed_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_Waiting_For_Candidates</name>
        <label>Update To False - Waiting For Candidates</label>
        <locationX>578</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>Update_To_False_Failed_Acceptance</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_WOM_Waiting_for_Candidates_Finished__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_False_Waiting_For_Candidates1</name>
        <label>Update To False - Waiting For Candidates</label>
        <locationX>1458</locationX>
        <locationY>2796</locationY>
        <connector>
            <targetReference>Completed_Esperando_Aceptaci_n_Oferta_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_WOM_Waiting_for_Candidates_Finished__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Waiting_For_Candidats_Finish</name>
        <label>Update Waiting For Candidats Finish</label>
        <locationX>3262</locationX>
        <locationY>5112</locationY>
        <connector>
            <targetReference>Set_Service_Appointment_Jeopardy_and_Create_Record_History</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_WOM_Waiting_for_Candidates_Finished__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Offer_New</name>
        <label>Update Work Offer New</label>
        <locationX>1436</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>SA_Is_Scheduled_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WOM_WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Closure_In_Progress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WOM_WorkOffer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAutomaticDispatched</name>
        <label>Update Automatic Dispatched</label>
        <locationX>6210</locationX>
        <locationY>2040</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIt_Dispatched_Automatic_PKDP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToFalse_FailedCandidates</name>
        <label>Update To False - Failed Candidates</label>
        <locationX>50</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>Evaluate_SchedulingModel</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Is_Failed_Candidates__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToFalse_FailedCompleted</name>
        <label>Update To False - Failed Completed</label>
        <locationX>5154</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>Set_ServiceAppointmentJeopardy_and_Create_RecordHistory</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Is_Failed_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToFalse_FailedDispatched</name>
        <label>Update To False - Failed Dispatched</label>
        <locationX>3570</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>Set_ServiceAppointmentJeopardy_and_Create_RecordHistory</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Is_Failed_Dispatched__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToFalse_FailedInProgress</name>
        <label>Update To False - Failed In Progress</label>
        <locationX>4626</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>Set_ServiceAppointmentJeopardy_and_Create_RecordHistory</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Is_Failed_In_Progress__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToFalse_FailedScheduled</name>
        <label>Update To False - Failed Scheduled</label>
        <locationX>5946</locationX>
        <locationY>2256</locationY>
        <connector>
            <targetReference>Set_ServiceAppointmentJeopardy_and_Create_RecordHistory</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Is_Failed_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToFalse_FailedTravel</name>
        <label>Update To False - Failed Travel</label>
        <locationX>4098</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>Set_ServiceAppointmentJeopardy_and_Create_RecordHistory</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_Is_Failed_Travel__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToFalse_WaitingForCandidates</name>
        <label>Update To False - Waiting For Candidates</label>
        <locationX>974</locationX>
        <locationY>3396</locationY>
        <inputAssignments>
            <field>CoIT_WOM_Waiting_for_Candidates_Finished__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToFalse_WaitingForCandidates2</name>
        <label>Update To False - Waiting For Candidates</label>
        <locationX>1722</locationX>
        <locationY>2796</locationY>
        <connector>
            <targetReference>Completed_EsperandoAceptacionOferta_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_WOM_Waiting_for_Candidates_Finished__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1464</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CoIT_Is_Failed_Scheduled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_Is_Failed_Dispatched__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_Is_Failed_Acceptance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_Is_Failed_Travel__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_Is_Failed_In_Progress__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_Is_Failed_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_WOM_Waiting_for_Candidates_Finished__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_Is_Failed_Candidates__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Evaluate_WOAppointmentType</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Completed_Esperando_Aceptaci_n_Oferta_Milestone</name>
        <label>Completed Esperando Aceptación Oferta Milestone</label>
        <locationX>1458</locationX>
        <locationY>2904</locationY>
        <connector>
            <targetReference>Create_In_Jeopardy_History_Record</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <elementReference>MilestoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Completed_Esperando_Aceptacion_Oferta_Milestone</name>
        <label>Completed Esperando Aceptación Oferta Milestone</label>
        <locationX>2426</locationX>
        <locationY>3228</locationY>
        <connector>
            <targetReference>Create_In_Jeopardy_HistoryRecord</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <elementReference>MilestoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Completed_EsperandoAceptacionOferta_Milestone</name>
        <label>Completed Esperando Aceptación Oferta Milestone</label>
        <locationX>2294</locationX>
        <locationY>4104</locationY>
        <connector>
            <targetReference>Set_ServiceAppointmentJeopardy_and_Create_RecordHistory</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <elementReference>MilestoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>OverdueCandidatesOffer1</name>
        <label>Overdue Candidates Offer</label>
        <locationX>1590</locationX>
        <locationY>2472</locationY>
        <connector>
            <targetReference>Evaluate_CountResourcePreferenceByOffer</targetReference>
        </connector>
        <flowName>CoIT_WOM_8_ALF_Update_Candidates_in_Offer</flowName>
        <inputAssignments>
            <name>ServiceResourceAssignedId</name>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>OverdueCandidatesOffer2</name>
        <label>Overdue Candidates Offer</label>
        <locationX>2426</locationX>
        <locationY>2904</locationY>
        <connector>
            <targetReference>Add1_To_QuantityWorkOffer</targetReference>
        </connector>
        <flowName>CoIT_WOM_8_ALF_Update_Candidates_in_Offer</flowName>
        <inputAssignments>
            <name>relatedRecordId</name>
            <value>
                <elementReference>relatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingModel</name>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>OverdueCandidatesOffer3</name>
        <label>Overdue Candidates Offer</label>
        <locationX>5946</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>Set_JeoparyInfo_For_FailedScheduled</targetReference>
        </connector>
        <flowName>CoIT_WOM_8_ALF_Update_Candidates_in_Offer</flowName>
        <inputAssignments>
            <name>SchedulingModel</name>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Register_Resource_Preference</name>
        <label>Register Resource Preference</label>
        <locationX>1194</locationX>
        <locationY>2904</locationY>
        <connector>
            <targetReference>Add_Automatic_Dispatched_Attempts</targetReference>
        </connector>
        <flowName>CoIT_AF_Create_Service_Resource_Preference_for_Work_Order</flowName>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>V_RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>WorkOfferAccepted_Collection.WOM_Service_Resource__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TransactionAfterScheduled</name>
            <value>
                <elementReference>TransactionAfterSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_PreferenceType</name>
            <value>
                <elementReference>PreferenceType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Register_ResourcePreference</name>
        <label>Register Resource Preference</label>
        <locationX>2162</locationX>
        <locationY>2796</locationY>
        <connector>
            <targetReference>Add_Automatic_Dispatched_Attempts_By_Direct_Assigment_Accepted</targetReference>
        </connector>
        <flowName>CoIT_AF_Create_Service_Resource_Preference_for_Work_Order</flowName>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>V_RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>WorkOfferAccepted_Collection.WOM_Service_Resource__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TransactionAfterScheduled</name>
            <value>
                <elementReference>TransactionAfterSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_PreferenceType</name>
            <value>
                <elementReference>PreferenceType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Service_Appointment_Jeopardy_and_Create_Record_History</name>
        <label>Set  Service Appointment Jeopardy and Create Record History</label>
        <locationX>3658</locationX>
        <locationY>5304</locationY>
        <flowName>CoIT_AF_Set_SAJeopardy_and_Create_RecordHistory</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_InJeopardyReason</name>
            <value>
                <elementReference>V_InJeopartyReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExistInJeopardy</assignToReference>
            <name>ExistInJeopardy</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_ServiceAppointmentJeopardy_and_Create_RecordHistory</name>
        <label>Set Service Appointment Jeopardy and Create Record History</label>
        <locationX>3658</locationX>
        <locationY>4380</locationY>
        <connector>
            <targetReference>Exist_injeopardy_History</targetReference>
        </connector>
        <flowName>CoIT_AF_Set_SAJeopardy_and_Create_RecordHistory</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_InJeopardyReason</name>
            <value>
                <elementReference>V_InJeopartyReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExistInJeopardy</assignToReference>
            <name>ExistInJeopardy</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SF_EvaluateCaseAssignment</name>
        <label>Evaluate Case Assignment</label>
        <locationX>3526</locationX>
        <locationY>4596</locationY>
        <connector>
            <targetReference>Get_Info_Work_Order</targetReference>
        </connector>
        <flowName>CoIT_AF_Evaluate_Case_Assignment</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WOM_WorkOfferDetail__c</objectType>
    </variables>
    <variables>
        <name>ExistInJeopardy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FailedAcceptance_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FailedSchedule_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ManagementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MilestoneName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Esperando Aceptación Oferta Ronda 1</stringValue>
        </value>
    </variables>
    <variables>
        <name>PreferenceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiresExtendedScheduling</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>schedulePolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondSchedulePolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThirdSchedulePolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionAfterSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_AutomaticSchedulingAttempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_Count_ResourcePreference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_Count_ServiceAppointment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_CountWorkOfferAccepted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_InJeopartyReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_QuantityWorkOffer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_RelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WaitingForCandidates_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
