force-app/main/default/flows/CoIT_Create_WO_Diagnostico_sencilla_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>NoPlanReparacion</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiPlanReparacion</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Flow_Requiere_Plan_Reparacion</name>
        <label>Requiere Plan Reparación?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Crear_WO_Reparacion_Sencilla</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_requiere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RB_Requiere_Reparacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_WO_Diagnostico</targetReference>
            </connector>
            <label>Si requiere</label>
        </rules>
    </decisions>
    <description>- Actualización Milestone &quot;Crear Orden de Trabajo&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>Date</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>CoIT Create WO Diagnostico/sencilla from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT Create WO Diagnostico/sencilla from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Milestone_Type</name>
        <label>Get Milestone Type</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crear Orden de trabajo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <screens>
        <name>Requiere_Plan_Reparacion</name>
        <label>Requiere Plan Reparacion</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flow_Requiere_Plan_Reparacion</targetReference>
        </connector>
        <fields>
            <name>RB_Requiere_Reparacion</name>
            <choiceReferences>SiPlanReparacion</choiceReferences>
            <choiceReferences>NoPlanReparacion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requiere Plan de Reparación?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Requiere_Plan_Reparacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crear_WO_Diagnostico</name>
        <label>Crear WO Diagnostico</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Milestone_Type</targetReference>
        </connector>
        <flowName>CoIT_SF_Create_WO_Diagnostico</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Crear_WO_Reparacion_Sencilla</name>
        <label>Crear WO Reparacion Sencilla</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Milestone_Type</targetReference>
        </connector>
        <flowName>CoIT_Create_WO_Reparacion_Sencilla</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
