force-app/main/default/flows/CoIT_AF_Create_Case_WO_from_SFS_Migration_Click.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigment_WO_info</name>
        <label>Assigment WO info</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Numero_Siniestro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Numero_Caso_SIAB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Authorization_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Call_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Client_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Client_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Causa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Cause__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Documento_Tecnico__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Technicial_Document__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Nombre_Tecnico__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Technicial_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Nombre_Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Supervisor_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Documento_Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Supervisor_Document__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Documento_Proveedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Document_Provideer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Open_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Expected_InProgress_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_OnSite_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Expected_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Completion_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Expected_Travel_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Travel_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.CoIT_Associate_Image_Click__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Record.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedLongitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SA_DropOff</name>
        <label>Assign SA Drop Off</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>SA_Record_DropOff.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record_DropOff.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_AssignmentStart__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record_DropOff.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_WT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record_DropOff.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WO_Exist.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record_DropOff.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territories.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record_DropOff.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Open_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record_DropOff.CoIT_Check_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SA_Pick_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Id</name>
        <label>Contact Id</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_info_assigment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dependency</name>
        <label>Set Dependency</label>
        <locationX>182</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>AppoinmentDependency_Record.FSL__Service_Appointment_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SA_Pick_Up.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppoinmentDependency_Record.FSL__Service_Appointment_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA_Record_DropOff.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppoinmentDependency_Record.FSL__Same_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppoinmentDependency_Record.FSL__Dependency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Start After Finish And Same Day</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dependency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_info_assigment</name>
        <label>Set info assigment</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Numero_del_Siniestro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Numero_Caso_SIAB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Causa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Cause__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Type_of_Task_to_be_Performed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Type_Task_Click__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_NewRecord.CoIT_Number_Click__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_Source_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exist_Case</name>
        <label>Exist Case</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create case</defaultConnectorLabel>
        <rules>
            <name>Outcome_ExistCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Exist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_work_type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Contact</name>
        <label>Exist Contact</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistContact_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_contact</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_WO</name>
        <label>Exist WO</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Get_Records_WT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist_Pickup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO_Exist.CoIT_Authorization_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assigment_WO_info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Work_Type</name>
        <label>Exist Work Type</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Is_PUDO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistWorkType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_work_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type_Default</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cancelled_or_Failed</name>
        <label>Is Cancelled or Failed</label>
        <locationX>578</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Update_Status_SA_Simple</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_SA_Simple_Failed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PUDO</name>
        <label>Is PUDO</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Assigment_WO_info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_PUDO_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_BLPUDO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Email_Cliente_Formula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(REGEX (UPPER ({!$Record.CoIT_Customer_Email__c}) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,25}$&quot;)), &quot;sinemail@sinemail.com&quot;, {!$Record.CoIT_Customer_Email__c})</expression>
    </formulas>
    <formulas>
        <name>F_AssignedStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.CoIT_Status__c}, &quot;Cancelled&quot;),
    &quot;Canceled&quot;,
    IF(
        ISPICKVAL({!$Record.CoIT_Status__c}, &quot;Incomplete&quot;),
        &quot;Cannot Complete&quot;,
        TEXT({!$Record.CoIT_Status__c})
    )
)</expression>
    </formulas>
    <formulas>
        <name>FormattedLatitude</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.CoIT_Latitude__c}) / 1000000</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>FormattedLongitude</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.CoIT_Longitude__c})/1000000</expression>
        <scale>7</scale>
    </formulas>
    <formulas>
        <name>Telefono_CLiente_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.CoIT_Customer_Phone_Number__c}, 40)</expression>
    </formulas>
    <interviewLabel>CoIT AF Create Case/WO from SFS Migration Click {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Create Case/WO from SFS Migration Click</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_contact</name>
        <label>Create contact</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_info_assigment</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_N_Documento__c</field>
            <value>
                <elementReference>$Record.CoIT_Customer_Document__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Cliente_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.CoIT_Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Dependency</name>
        <label>Create Dependency</label>
        <locationX>182</locationX>
        <locationY>2627</locationY>
        <connector>
            <targetReference>Update_SA_Drop_Off</targetReference>
        </connector>
        <inputReference>AppoinmentDependency_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SA_Drop_Off</name>
        <label>Create SA Drop Off</label>
        <locationX>182</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Set_Dependency</targetReference>
        </connector>
        <inputReference>SA_Record_DropOff</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Exist</name>
        <label>Get Case Exist</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Numero_del_Siniestro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoIT_Numero_Caso_SIAB__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_N_Documento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoIT_Customer_Document__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_WT</name>
        <label>Get Records WT</label>
        <locationX>182</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drop Off</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Pick_Up</name>
        <label>Get SA Pick Up</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SA_Drop_Off</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WO_Exist.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territories</name>
        <label>Get Service Territories</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SA_DropOff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asistencia Bolivar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Exist</name>
        <label>Get WO Exist</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Authorization_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoIT_Call_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_work_type</name>
        <label>Get work type</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoIT_Type_Task_Click__c</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Default</name>
        <label>Get Work Type Default</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_PUDO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alistamiento</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Depending_DropOff</name>
        <label>Update Depending DropOff</label>
        <locationX>182</locationX>
        <locationY>2843</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WO_Exist.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Upload_DropOff__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Drop_Off</name>
        <label>Update SA Drop Off</label>
        <locationX>182</locationX>
        <locationY>2735</locationY>
        <connector>
            <targetReference>Update_Depending_DropOff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record_DropOff.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>F_AssignedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_PickUp</name>
        <label>Update SA PickUp</label>
        <locationX>710</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_NewRecord_PickUp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>F_AssignedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_PickUp_Failed</name>
        <label>Update SA PickUp Failed</label>
        <locationX>446</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_NewRecord_PickUp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Status_Reason__c</field>
            <value>
                <stringValue>Fallido</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Status_Subreason__c</field>
            <value>
                <stringValue>Cliente cancelo el servicio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>F_AssignedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_SA_Simple</name>
        <label>Update Status SA Simple</label>
        <locationX>710</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_SA_PickUp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_NewRecord_Simple.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>F_AssignedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_SA_Simple_Failed</name>
        <label>Update Status SA Simple Failed</label>
        <locationX>446</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_SA_PickUp_Failed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_NewRecord_Simple.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Status_Reason__c</field>
            <value>
                <stringValue>Fallido</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Status_Subreason__c</field>
            <value>
                <stringValue>Cliente cancelo el servicio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>F_AssignedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Exist</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Ready_to_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CoIT_SFS_Migration_Click__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_work_type</targetReference>
        </connector>
        <flowName>CoIt_Case_Record_Migration_Image</flowName>
        <inputAssignments>
            <name>CaseInfo_Record</name>
            <value>
                <elementReference>Case_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Case_NewRecord.Id</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>578</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Is_Cancelled_or_Failed</targetReference>
        </connector>
        <flowName>Coit_Af_Create_Work_Order_Migration_Image</flowName>
        <inputAssignments>
            <name>V_PUDO</name>
            <value>
                <elementReference>$Record.CoIT_BLPUDO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrder_Record</name>
            <value>
                <elementReference>WO_Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SA_NewRecord_PickUp</assignToReference>
            <name>SA_Record</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SA_NewRecord_Simple</assignToReference>
            <name>SA_Record_Simple</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WO_Record_Created</assignToReference>
            <name>WorkOrder_Record</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AppoinmentDependency_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL__Time_Dependency__c</objectType>
    </variables>
    <variables>
        <name>Case_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Info_CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SA_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SA_NewRecord_PickUp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SA_NewRecord_Simple</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SA_Record_DropOff</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WO_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WO_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WO_Record_Created</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
