force-app/main/default/flows/CoIT_TF_ServiceAppointmentStatus_and_AcceptanceStatus_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Overlap</name>
        <label>Check Overlap</label>
        <locationX>5154</locationX>
        <locationY>539</locationY>
        <actionName>FSL__IsStartTodayAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_is_Overlap</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventType</name>
            <value>
                <stringValue>ServiceAppointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timezoneName</name>
            <value>
                <stringValue>America/Bogota</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FSL__IsStartTodayAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_IsFirstAppointmentDependency</name>
        <label>Assign Is First Appointment Dependency</label>
        <locationX>4098</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentDependency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IsFirstAppointment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_StatusPUDO_FirstAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IsSecondAppointmentDependency</name>
        <label>Assign Is Second Appointment Dependency</label>
        <locationX>8410</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentDependency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IsSecondAppointment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_StatusPUDO_SecondAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ManagementType_Alertamientos</name>
        <label>Assignment Management Type Alertamientos</label>
        <locationX>5286</locationX>
        <locationY>2435</locationY>
        <assignmentItems>
            <assignToReference>ManagmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alertamientos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ServiceAppointmentRemoveInJeopardy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Status_Prior_Record</name>
        <label>Assignment Status Prior Record</label>
        <locationX>2448</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>V_StatusPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CoIT_WOM_8_ALF_Update_Candidates_in_Offer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Status_Prior_Record_Canceled</name>
        <label>Assignment Status Prior Record Canceled</label>
        <locationX>6386</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>V_StatusPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_StatusReason_Canceled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Status_Prior_Record_Cannot_Complete</name>
        <label>Assignment Status Prior Record Cannot Complete</label>
        <locationX>4846</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>V_StatusPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_StatusReason_CannotCompleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Status_Prior_Record_Complete</name>
        <label>Assignment Status Prior Record Complete</label>
        <locationX>9202</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>V_StatusPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WorkOrderStatus_to_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Status_Prior_Record_In_Progress</name>
        <label>Assignment Status Prior Record In Progress</label>
        <locationX>3834</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>V_StatusPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CloseDate_For_InJeopardyHistory_InProgress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Status_Prior_Record_Travel</name>
        <label>Assignment Status Prior Record Travel</label>
        <locationX>3570</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>V_StatusPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CloseDate_For_InJeopardyHistory_Travel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Managment_Type_Var_Alto_Impacto</name>
        <label>Set Managment Type Var - Alto Impacto</label>
        <locationX>4626</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>ManagmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alto impacto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SA_Jeopardy_and_Create_Record_History_Flow_When_Repair_Plan_is_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Managment_Type_Var_Bajo_Medio_Impacto</name>
        <label>Set Managment Type Var - Bajo/Medio Impacto</label>
        <locationX>4362</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>ManagmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bajo/medio impacto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SA_Jeopardy_and_Create_Record_History_Flow_When_Repair_Plan_is_Required</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Complete_Pick_Up</name>
        <label>Complete Pick Up</label>
        <locationX>8410</locationX>
        <locationY>1703</locationY>
        <customErrorMessages>
            <errorMessage>No es posible cambiar el estado de la cita Drop Off. Primero complete la Pick Up.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_is_Overlap</name>
        <label>Check is Overlap</label>
        <locationX>5154</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Validate_AppointmentType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Overlap</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OP_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Impacto</name>
        <label>Evaluate Impacto</label>
        <locationX>4626</locationX>
        <locationY>2027</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BajoMedio_Impacto_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Work_Order__r.Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Work_Order__r.Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Managment_Type_Var_Bajo_Medio_Impacto</targetReference>
            </connector>
            <label>Bajo - Medio Impacto</label>
        </rules>
        <rules>
            <name>Alto_Impacto_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Work_Order__r.Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Managment_Type_Var_Alto_Impacto</targetReference>
            </connector>
            <label>Alto Impacto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_PickUp_DropOff_Type</name>
        <label>Evaluate Pick Up &amp; Drop Off Type</label>
        <locationX>3174</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PickUp_ImmediatelyDropOff_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Appointment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PickUp and Immediately Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_StatusToDispatched_for_SecondServiceAppointment</targetReference>
            </connector>
            <label>Immediately</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_SchedulingModel_ByOffer</name>
        <label>Evaluate Scheduling Model By Offer</label>
        <locationX>2448</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Update_WorkOrderLineItemStatus_to_Scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SchedulingModel_ByOffer_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_WorkOfferQuantity</targetReference>
            </connector>
            <label>By Offer</label>
        </rules>
        <rules>
            <name>SchedulingModel_ByDirectAssignmentWithAcceptance_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Direct Assigment with Acceptance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WorkOrderAcceptanceStatus_With_Acceptance</targetReference>
            </connector>
            <label>By Direct Assigment with acceptance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Service_Appointment_Status_Transition</name>
        <label>Evaluate Service Appointment Status Transition</label>
        <locationX>5286</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>CoIT_AF_Set_SA_Jeopardy_and_Create_Record_History_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_StatusTransition_TravelToCannotComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Appointment_Start_and_End_Times</targetReference>
            </connector>
            <label>Travel To Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_ServiceAppointmentDependency</name>
        <label>Evaluate Service Appointment Dependency</label>
        <locationX>7046</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FirstAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SecondServiceAppointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IsFirstAppointmentDependency</targetReference>
            </connector>
            <label>First Appointment</label>
        </rules>
        <rules>
            <name>Second_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstServiceAppointmentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_pick_up_SA</targetReference>
            </connector>
            <label>Second Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Status1</name>
        <label>Evaluate Status</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Status1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <label>None</label>
        </rules>
        <rules>
            <name>Scheduled_Status1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Dispatched_Status1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Completed_WaitingForDispatched_Milestone</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>Travel_Status1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Completed_WaitingForTravel_Milestone</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
        <rules>
            <name>InProgress_Status1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Completed_WaitingForInProgress_Milestone</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>CannotCompleted_Status1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Appointment_Update_Close_Date_For_In_Jeopardy_History_Cannot_Complete</targetReference>
            </connector>
            <label>Cannot Completed</label>
        </rules>
        <rules>
            <name>Completed_Status1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Appointment_Update_Close_Date_For_In_Jeopardy_History_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Canceled_Status1_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Appointment_Update_Close_Date_For_In_Jeopardy_History_Canceled</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_StatusPUDO_FirstAppointment</name>
        <label>Evaluate Status For Pick Up &amp; Drop Off First Appointment</label>
        <locationX>4098</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_StatusPUDO_FirstAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <label>None</label>
        </rules>
        <rules>
            <name>Scheduled_StatusPUDO_FirstAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flags_to_false</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Dispatched_StatusPUDO_FirstAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flags_toFalse</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>Travel_StatusPUDO_FirstAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_WaitingForTravel_Milestone</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
        <rules>
            <name>InProgress_StatusPUDO_FirstAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_WaitingForInProgress_Milestone</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>CannotCompleted_StatusPUDO_FirstAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date_For_In_Jeopardy_History_Cannot_Complete</targetReference>
            </connector>
            <label>Cannot Completed</label>
        </rules>
        <rules>
            <name>Completed_StatusPUDO_FirstAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CloseDate_For_InJeopardyHistory_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Canceled_StatusPUDO_FirstAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fists_appointment_update_Close_Date_For_In_Jeopardy_History_Canceled</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_StatusPUDO_SecondAppointment</name>
        <label>Evaluate Status For Pick Up &amp; Drop Off Second Appointment</label>
        <locationX>8410</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_StatusPUDO_SecondAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <label>None</label>
        </rules>
        <rules>
            <name>Scheduled_StatusPUDO_SecondAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WorkOrder_ExpectedCompletedDate</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Dispatched_StatusPUDO_SecondAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>Travel_StatusPUDO_SecondAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pick_Up_status</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
        <rules>
            <name>InProgress_StatusPUDO_SecondAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>CannotCompleted_StatusPUDO_SecondAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Pick_Up_status</targetReference>
            </connector>
            <label>Cannot Completed</label>
        </rules>
        <rules>
            <name>Completed_StatusPUDO_SecondAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_WaitingForCompleted_Milestone</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Canceled_StatusPUDO_SecondAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Pick_Up_status</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_StatusReason_Canceled</name>
        <label>Evaluate Status Reason Canceled</label>
        <locationX>6386</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Update_ServiceAppointmentRemoveInJeopardy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewServiceAppointmentExcluded_StatusReason_Outcome</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Novedades con Proveedor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No reporta ausencia y/o técnico ocupado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazo de servicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Técnico y/o proveedor no contesta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actions_For_StatusCanceled</targetReference>
            </connector>
            <label>Create New Service Appointment with Excluded</label>
        </rules>
        <rules>
            <name>NotificacionReasignacion_StatusReason_Outcome</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Novedades con Proveedor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proveedor cancela el servicio pero tiene otro recurso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Subreason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proveedor va tarde y existe un proveedor mas cerca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actions_From_Status_Canceled_Manual_Scheduled</targetReference>
            </connector>
            <label>Notificacion para Reasignacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_StatusReason_CannotCompleted</name>
        <label>Evaluate Status Reason Cannot Completed</label>
        <locationX>4846</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewServiceAppointmentRequiered_StatusReason_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El cliente solicita reagendar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Falta herramientas y/o repuesto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguimiento de caso presencial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguimiento de caso virtual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actions_For_StatusCannotCompleted</targetReference>
            </connector>
            <label>Create New Service Appointment with Requiered</label>
        </rules>
        <rules>
            <name>PlanDeReparacion_StatusReason_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Falta definicion por Asistencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Impacto</targetReference>
            </connector>
            <label>Requiere Plan de Reparacion</label>
        </rules>
        <rules>
            <name>Fallido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fallido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Service_Appointment_Status_Transition</targetReference>
            </connector>
            <label>Fallido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_WorkOfferQuantity</name>
        <label>Evaluate Work Offer Quantity</label>
        <locationX>2030</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>Update_WorkOrderLineItemStatus_to_Scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_EsperandoAceptacionOfertaRonda1_Milestone</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_EsperandoAceptacionOfertaRonda2_Milestone</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_EsperandoAceptacionOfertaRonda3_Milestone</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pick_Up_status</name>
        <label>Pick Up status</label>
        <locationX>8146</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Complete_Pick_Up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pick_UP_is_Complete_or_Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_pick_up_SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_pick_up_SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <label>Pick UP is  Complete or Canceled?</label>
        </rules>
        <rules>
            <name>Is_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_pick_up_SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_appointment_update_Close_Date_For_In_Jeopardy_History_Canceled</targetReference>
            </connector>
            <label>Is Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_AppointmentType</name>
        <label>Validate Appointment Type</label>
        <locationX>5154</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SingleAppointment_AppointmentType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Appointment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Status1</targetReference>
            </connector>
            <label>Single Appointment</label>
        </rules>
        <rules>
            <name>PickUp_DropOff_AppointmentType_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Appointment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PickUp and Drop Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Appointment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PickUp and Immediately Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FirstServiceAppointmentDependency_Record</targetReference>
            </connector>
            <label>Pick Up &amp; Drop Off</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Manual_Service</name>
        <label>Verify Manual Service</label>
        <locationX>2448</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Appointment_Status_to_Dispatched_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_AutomaticScheduling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ServiceAppointmentStatus_To_Dispatched</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Actualiza la orden de trabajo para agregar las fechas esperadas en los atributos Expected Travel Start, Expected In Progress Start, Expected Completed Start, estos atributos son usados por el milestone para calcular el trigger time
- Condicion para estado fallido agregado
-Actualizar Wo Status cuando la SA se cancele
-Update Management type for case
- V45, populate actua and end time v2
- Traducción notificación aceptacion V47
- Actualización del management Type del case cuando es cambia estado a cannot complete
- Añadido notificacion estado fallido WT Autos
- Añadido funcionalidad cuando se cancela una SA y requiere asignacion manual v2
- Acciones para cancelado en una SA PUDO v3
- Acciones estado fallido SA PUDO
- Crear Service Appointment Status Hisrtory cuando se cancela una SA v2
- Reuire rescheduled enviado en cannot complete
- Traducción Milestones
- Fallido - Conductor elegido
- Crear In Jeopardy Reason cuando se pasa a falta definicio de asistencia v2
-V73: Despacho auto de todos los servicios (autos, y hogar)
-v7: Se agrega cierre de fecha del injeopardy history
-V9: Se agrega bloqueo al cambio de estado de la cita dropoff
-Se completan los milestones cuando se cancela una cita</description>
    <environments>Default</environments>
    <formulas>
        <name>F_ActualEndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+(15/60/24)</expression>
    </formulas>
    <formulas>
        <name>F_ArrivalWindowEndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CoIT_Rescheduling_Date__c}+{!$Record.DurationInMinutes}/1440</expression>
    </formulas>
    <formulas>
        <name>F_ExpectedTravelStart</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.SchedStartTime}-({!V_EstimatedTravelTime}/60/24)</expression>
    </formulas>
    <interviewLabel>CoIT TF Service Appointment Status &amp; Acceptance Status Change {!$Flow.CurrentDateTime} {!$Record.Status} {!$Record.CoIT_Status_Reason__c}</interviewLabel>
    <label>CoIT TF Service Appointment Status &amp; Acceptance Status Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OP_Request</name>
        <label>Create OP Request</label>
        <locationX>5022</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Validate_AppointmentType</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Resource__c</field>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>FSL__Optimization_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FirstServiceAppointmentDependency_Record</name>
        <label>Get First Service Appointment Dependency</label>
        <locationX>7046</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_ServiceAppointmentDependency</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FSL__Service_Appointment_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSL__Service_Appointment_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>FSL__Time_Dependency__c</object>
        <outputAssignments>
            <assignToReference>FirstServiceAppointmentId</assignToReference>
            <field>FSL__Service_Appointment_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SecondServiceAppointment</assignToReference>
            <field>FSL__Service_Appointment_2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_AssignedResource</name>
        <label>Get Assigned Resource</label>
        <locationX>5154</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Overlap</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputAssignments>
            <assignToReference>V_EstimatedTravelTime</assignToReference>
            <field>EstimatedTravelTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssignedResourceId</assignToReference>
            <field>ServiceResourceId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_pick_up_SA</name>
        <label>Get pick up SA</label>
        <locationX>8410</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_IsSecondAppointmentDependency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SecondServiceAppointment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>QueueId_GestionAutomatica</name>
        <label>Get Queue Id Gestion_Automatica</label>
        <locationX>5154</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AssignedResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gestion_Automatica</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueIdGestionAutomatica</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Milestone</name>
        <label>Complete Milestone</label>
        <locationX>6386</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Assignment_Status_Prior_Record_Canceled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>EntityMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Flags_to_false</name>
        <label>Update Flags to false</label>
        <locationX>2448</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Verify_Manual_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Is_Failed_Acceptance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Is_Failed_Candidates__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Is_Failed_Dispatched__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Is_Failed_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_WOM_Waiting_for_Candidates_Finished__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Flags_toFalse</name>
        <label>Update Flags to false</label>
        <locationX>3174</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Update_ScheduleExtended_ValidateSchedule_to_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Is_Failed_Acceptance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Is_Failed_Candidates__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Is_Failed_Dispatched__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Is_Failed_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_WOM_Waiting_for_Candidates_Finished__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Management_Type_for_Case_When_Agendamiento_Canceled</name>
        <label>Update Management Type for Case When Agendamiento</label>
        <locationX>6386</locationX>
        <locationY>2351</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_ServiceAppointmentStatusHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Management_Type__c</field>
            <value>
                <stringValue>Agendamiento</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ScheduleExtended_ValidateSchedule_to_False</name>
        <label>Update ScheduleExtended,ValidateSchedule to False</label>
        <locationX>3174</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>CoIT_WOM_8_ALF_UpdateCandidates_in_Offer</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_WOM_ScheduleExtended__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_WOM_ValidateSchedule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment_Start_and_End_Times</name>
        <label>Update Service Appointment Start and End Times</label>
        <locationX>5154</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>CoIT_AF_Set_SA_Jeopardy_and_Create_Record_History_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>F_ActualEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment_Status_to_Dispatched_False</name>
        <label>Update Service Appointment Status to Dispatched False</label>
        <locationX>2580</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Assignment_Status_Prior_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_IsAutomaticDispatched__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_WOM_ScheduleExtended__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_WOM_ValidateSchedule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InJeopardyReason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InJeopardy__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ServiceAppointmentRemoveInJeopardy</name>
        <label>Update Service Appointment Remove In Jeopardy</label>
        <locationX>7046</locationX>
        <locationY>3269</locationY>
        <connector>
            <targetReference>EvaluateCaseAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__InJeopardyReason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InJeopardy__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ServiceAppointmentStatus_To_Dispatched</name>
        <label>Update Service Appointment Status to Dispatched</label>
        <locationX>2316</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Assignment_Status_Prior_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_IsAutomaticDispatched__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_WOM_ScheduleExtended__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_WOM_ValidateSchedule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InJeopardyReason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InJeopardy__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Second_Service_Appointment</name>
        <label>Update Status Second Service Appointment</label>
        <locationX>4846</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Update_WorkOrderStatus_to_CannotCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>F_ActualEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Status_Reason__c</field>
            <value>
                <elementReference>$Record.CoIT_Status_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Status_Subreason__c</field>
            <value>
                <elementReference>$Record.CoIT_Status_Subreason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_StatusToCanceled_for_SecondServiceAppointment</name>
        <label>Update Status to Canceled for Second Service Appointment</label>
        <locationX>6386</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Update_Work_Order_Status_to_Canceled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Status_Reason__c</field>
            <value>
                <elementReference>$Record.CoIT_Status_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Status_Subreason__c</field>
            <value>
                <elementReference>$Record.CoIT_Status_Subreason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_StatusToDispatched_for_SecondServiceAppointment</name>
        <label>Update Status to Dispatched for Second Service Appointment</label>
        <locationX>3042</locationX>
        <locationY>2027</locationY>
        <connector>
            <targetReference>Completed_WaitingForDispatched_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Status_to_Canceled</name>
        <label>Update Work Order Status to Canceled</label>
        <locationX>6386</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>CoIT_WOM_8_ALF_Update_Candidates_in_Offerr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Status_to_Travel</name>
        <label>Update Work Order Status to Travel</label>
        <locationX>3570</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Update_ServiceAppointmentRemoveInJeopardy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrder_ExpectedCompletedDate</name>
        <label>Update Work Order Expected Completed Date</label>
        <locationX>7354</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Expected_Completed_Date__c</field>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrderAcceptanceStatus_With_Acceptance</name>
        <label>Update Work Order Acceptance Status with Acceptance</label>
        <locationX>2602</locationX>
        <locationY>2219</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Evaluate_WorkOfferQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Acceptance_Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrderLineItemStatus_to_Scheduled</name>
        <label>Update Work Order Line Item Status to Scheduled</label>
        <locationX>2448</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>Completed_WaitingforScheduled_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrderStatus_to_CannotCompleted</name>
        <label>Update Work Order Status to Cannot Completed</label>
        <locationX>4846</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Assignment_Status_Prior_Record_Cannot_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrderStatus_to_Completed</name>
        <label>Update Work Order Status to Completed</label>
        <locationX>9202</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Update_ServiceAppointmentRemoveInJeopardy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrderStatus_to_Dispatched</name>
        <label>Update Work Order Status to Dispatched</label>
        <locationX>3042</locationX>
        <locationY>2243</locationY>
        <connector>
            <targetReference>Update_ServiceAppointmentRemoveInJeopardy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Expected_Completed_Date__c</field>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Expected_InProgress_Start__c</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Expected_Travel_Start__c</field>
            <value>
                <elementReference>F_ExpectedTravelStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrderStatus_to_InProgress</name>
        <label>Update Work Order Status to In Progress</label>
        <locationX>3834</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Update_ServiceAppointmentRemoveInJeopardy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrderStatus_To_Scheduled</name>
        <label>Update Work Order Status to Scheduled</label>
        <locationX>2448</locationX>
        <locationY>2927</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>EvaluateCaseAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Expected_Completed_Date__c</field>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Expected_InProgress_Start__c</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Expected_Travel_Start__c</field>
            <value>
                <elementReference>F_ExpectedTravelStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>5028</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>QueueId_GestionAutomatica</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 ) AND 8</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Actions_For_StatusCanceled</name>
        <label>Actions For Status Canceled</label>
        <locationX>6122</locationX>
        <locationY>2243</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>EvaluateCaseAssignment</targetReference>
        </connector>
        <flowName>CoIT_AF_Actions_From_Change_Status_Cannot_Complete</flowName>
        <inputAssignments>
            <name>ArrivalWindowEndTime</name>
            <value>
                <elementReference>$Record.ArrivalWindowEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArrivalWindowStartTime</name>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssignedServiceResourceId</name>
            <value>
                <elementReference>$Record__Prior.FSSK__FSK_Assigned_Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EarliestStartTime</name>
            <value>
                <elementReference>$Record.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PreferenceType</name>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_SchedulingModel</name>
            <value>
                <stringValue>By Direct Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Actions_For_StatusCannotCompleted</name>
        <label>Actions For Status Cannot Completed</label>
        <locationX>4098</locationX>
        <locationY>2027</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_ServiceAppointmentStatusHistory</targetReference>
        </connector>
        <flowName>CoIT_AF_Actions_From_Change_Status_Cannot_Complete</flowName>
        <inputAssignments>
            <name>ArrivalWindowEndTime</name>
            <value>
                <elementReference>F_ArrivalWindowEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArrivalWindowStartTime</name>
            <value>
                <elementReference>$Record.CoIT_Rescheduling_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssignedServiceResourceId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EarliestStartTime</name>
            <value>
                <elementReference>$Record.CoIT_Rescheduling_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PreferenceType</name>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequireRescheduled</name>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_SchedulingType</name>
            <value>
                <stringValue>Programmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Actions_From_Status_Canceled_Manual_Scheduled</name>
        <label>Actions From Status Canceled Manual Scheduled</label>
        <locationX>6386</locationX>
        <locationY>2243</locationY>
        <connector>
            <targetReference>Update_Management_Type_for_Case_When_Agendamiento_Canceled</targetReference>
        </connector>
        <flowName>CoIT_AF_Actions_From_Change_Status_Cannot_Complete</flowName>
        <inputAssignments>
            <name>ArrivalWindowEndTime</name>
            <value>
                <elementReference>$Record.ArrivalWindowEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArrivalWindowStartTime</name>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssignedServiceResourceId</name>
            <value>
                <elementReference>$Record__Prior.FSSK__FSK_Assigned_Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EarliestStartTime</name>
            <value>
                <elementReference>$Record.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PreferenceType</name>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_SchedulingModel</name>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CoIT_AF_Set_SA_Jeopardy_and_Create_Record_History_Flow</name>
        <label>Set SA Jeopardy and Create Record History Flow</label>
        <locationX>5286</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Assignment_ManagementType_Alertamientos</targetReference>
        </connector>
        <flowName>CoIT_AF_Set_SAJeopardy_and_Create_RecordHistory</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ManagementType</name>
            <value>
                <stringValue>Alertamientos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_InJeopardyReason</name>
            <value>
                <stringValue>Failed service, contact customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CoIT_WOM_8_ALF_Update_Candidates_in_Offer</name>
        <label>CoIT WOM 8 ALF Update Candidates in Offer</label>
        <locationX>2448</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Evaluate_SchedulingModel_ByOffer</targetReference>
        </connector>
        <flowName>CoIT_WOM_8_ALF_Update_Candidates_in_Offer</flowName>
        <inputAssignments>
            <name>SchedulingModel</name>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceAssignedId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CoIT_WOM_8_ALF_Update_Candidates_in_Offerr</name>
        <label>CoIT WOM 8 ALF Update Candidates in Offer</label>
        <locationX>6386</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Complete_Milestone</targetReference>
        </connector>
        <flowName>CoIT_WOM_8_ALF_Update_Candidates_in_Offer</flowName>
        <inputAssignments>
            <name>SchedulingModel</name>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceAssignedId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CoIT_WOM_8_ALF_UpdateCandidates_in_Offer</name>
        <label>CoIT WOM 8 ALF Update Candidates in Offer</label>
        <locationX>3174</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Update_CloseDate_For_InJeopardyHistory_Dispatched</targetReference>
        </connector>
        <flowName>CoIT_WOM_8_ALF_Update_Candidates_in_Offer</flowName>
        <inputAssignments>
            <name>SchedulingModel</name>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceAssignedId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Completed_EsperandoAceptacionOfertaRonda1_Milestone</name>
        <label>Completed Esperando Aceptación Oferta Ronda 1 Milestone</label>
        <locationX>1634</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Update_WorkOrderLineItemStatus_to_Scheduled</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Esperando Aceptación Oferta Ronda 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Completed_EsperandoAceptacionOfertaRonda2_Milestone</name>
        <label>Completed Esperando Aceptación Oferta Ronda 2 Milestone</label>
        <locationX>1898</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Update_WorkOrderLineItemStatus_to_Scheduled</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Esperando Aceptación Oferta Ronda 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Completed_EsperandoAceptacionOfertaRonda3_Milestone</name>
        <label>Completed Esperando Aceptación Oferta Ronda 3 Milestone</label>
        <locationX>2162</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Update_WorkOrderLineItemStatus_to_Scheduled</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Esperando Aceptación Oferta Ronda 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Completed_WaitingForCompleted_Milestone</name>
        <label>Completed Waiting for Completed Milestone</label>
        <locationX>9202</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Assignment_Status_Prior_Record_Complete</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Esperando por Completado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Completed_WaitingForDispatched_Milestone</name>
        <label>Completed Waiting for Dispatched Milestone</label>
        <locationX>3042</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Update_WorkOrderStatus_to_Dispatched</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Esperando por Despachado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Completed_WaitingForInProgress_Milestone</name>
        <label>Completed Waiting for In Progress Milestone</label>
        <locationX>3834</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Assignment_Status_Prior_Record_In_Progress</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Esperando por En Progreso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Completed_WaitingforScheduled_Milestone</name>
        <label>Completed Waiting for Scheduled Milestone</label>
        <locationX>2448</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Update_CloseDate_For_InJeopardyHistory_Scheduled</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Esperando por Agendamiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Completed_WaitingForTravel_Milestone</name>
        <label>Completed Waiting for Travel Milestone</label>
        <locationX>3570</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Assignment_Status_Prior_Record_Travel</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Esperando por En Viaje</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_ServiceAppointmentStatusHistory</name>
        <label>Create Service Appointment Status History</label>
        <locationX>7046</locationX>
        <locationY>3485</locationY>
        <flowName>CoIT_AF_Create_Service_Appointment_Status_History</flowName>
        <inputAssignments>
            <name>ServiceAppointmentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_ServiceAppointmentStatusPrior</name>
            <value>
                <elementReference>V_StatusPrior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>EvaluateCaseAssignment</name>
        <label>Evaluate Case Assignment</label>
        <locationX>7046</locationX>
        <locationY>3377</locationY>
        <connector>
            <targetReference>Create_ServiceAppointmentStatusHistory</targetReference>
        </connector>
        <flowName>CoIT_AF_Evaluate_Case_Assignment</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ManagementType</name>
            <value>
                <elementReference>ManagmentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fists_appointment_update_Close_Date_For_In_Jeopardy_History_Canceled</name>
        <label>Fists appointment update Close Date For In Jeopardy History Canceled</label>
        <locationX>6386</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Update_StatusToCanceled_for_SecondServiceAppointment</targetReference>
        </connector>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Second_appointment_update_Close_Date_For_In_Jeopardy_History_Canceled</name>
        <label>Second appointment update Close Date For In Jeopardy History Canceled</label>
        <locationX>8146</locationX>
        <locationY>1703</locationY>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_SA_Jeopardy_and_Create_Record_History_Flow_When_Repair_Plan_is_Required</name>
        <label>Set SA Jeopardy and Create Record History Flow When Repair Plan is Required</label>
        <locationX>4626</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Update_ServiceAppointmentRemoveInJeopardy</targetReference>
        </connector>
        <flowName>CoIT_AF_Set_SAJeopardy_and_Create_RecordHistory</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ManagementType</name>
            <value>
                <elementReference>ManagmentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_InJeopardyReason</name>
            <value>
                <stringValue>Urgent, repair not possible, assistance concept required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Single_Appointment_Update_Close_Date_For_In_Jeopardy_History_Canceled</name>
        <label>Single_Appointment Update Close Date For In Jeopardy History Canceled</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Work_Order_Status_to_Canceled</targetReference>
        </connector>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Single_Appointment_Update_Close_Date_For_In_Jeopardy_History_Cannot_Complete</name>
        <label>Single Appointment Update Close Date For In Jeopardy History Cannot Complete</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_WorkOrderStatus_to_CannotCompleted</targetReference>
        </connector>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Single_Appointment_Update_Close_Date_For_In_Jeopardy_History_Completed</name>
        <label>Single_Appointment Update Close Date For In Jeopardy History Completed</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Completed_WaitingForCompleted_Milestone</targetReference>
        </connector>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Close_Date_For_In_Jeopardy_History_Cannot_Complete</name>
        <label>Update Close Date For In Jeopardy History Cannot Complete</label>
        <locationX>4846</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Update_Status_Second_Service_Appointment</targetReference>
        </connector>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_CloseDate_For_InJeopardyHistory_Completed</name>
        <label>Update Close Date For In Jeopardy History Completed</label>
        <locationX>5858</locationX>
        <locationY>1487</locationY>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_CloseDate_For_InJeopardyHistory_Dispatched</name>
        <label>Update Close Date For In Jeopardy History Dispatched</label>
        <locationX>3174</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Evaluate_PickUp_DropOff_Type</targetReference>
        </connector>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_CloseDate_For_InJeopardyHistory_InProgress</name>
        <label>Update Close Date For In Jeopardy History In Progress</label>
        <locationX>3834</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Update_WorkOrderStatus_to_InProgress</targetReference>
        </connector>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_CloseDate_For_InJeopardyHistory_Scheduled</name>
        <label>Update Close Date For In Jeopardy History Scheduled</label>
        <locationX>2448</locationX>
        <locationY>2819</locationY>
        <connector>
            <targetReference>Update_WorkOrderStatus_To_Scheduled</targetReference>
        </connector>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_CloseDate_For_InJeopardyHistory_Travel</name>
        <label>Update Close Date For In Jeopardy History Travel</label>
        <locationX>3570</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Update_Work_Order_Status_to_Travel</targetReference>
        </connector>
        <flowName>CoIT_AF_Update_CloseDate_For_InJeopardyHistory</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AssignedResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignedServiceResourceUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnersId_WorkOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueIdGestionAutomatica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondServiceAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentDependency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_EstimatedTravelTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_StatusPrior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
