force-app/main/default/flows/CoIT_SF_Create_FollowUp_Task_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Due_Date</name>
        <label>Set Due Date</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>D_DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Milestone_Llamada_a_Tecnico_on_Case.TargetDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_FollowUp_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Due_Date2</name>
        <label>Set Due Date</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>D_DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Milestone_Llamada_a_Proveedor_on_Case.TargetDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_FollowUp_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_FollowUp_Task</name>
        <label>Set New FollowUp Task</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>FollowUp_Record.CallType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.CompletedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DT_CompletedDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seguimiento</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L_Name.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LTA_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUp_Record.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D_DueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>C_Llamada</name>
        <choiceText>Llamada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Llamada</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Proveedor</name>
        <choiceText>Proveedor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proveedor</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Seguimiento</name>
        <choiceText>Seguimiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seguimiento</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Tecnico</name>
        <choiceText>Técnico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tecnico</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_VRA</name>
        <choiceText>Visual Remote Assistant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visual Remote Assistant</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Tecnico_or_Proveedor</name>
        <label>Tecnico or Proveedor?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tecnico_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_CallTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Tecnico</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_Llamada_a_Tecnico</targetReference>
            </connector>
            <label>Tecnico</label>
        </rules>
        <rules>
            <name>Proveedor_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_CallTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Proveedor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_Llamada_a_Proveedor</targetReference>
            </connector>
            <label>Proveedor</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PCS_Tipo_Seguimiento</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CoIt_Tipo_de_Seguimiento__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CoIT SF Create FollowUp Task on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT SF Create FollowUp Task on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow Up Task</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>S_Successful_registration</targetReference>
        </connector>
        <inputReference>FollowUp_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Follow_Up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_Llamada_a_Proveedor</name>
        <label>Get Milestone Llamada a Proveedor</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Milestone_Llamada_a_Proveedor_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamada a Proveedor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_Llamada_a_Proveedor_on_Case</name>
        <label>Get Milestone Llamada a Proveedor on Case</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Milestone_Llamada_a_Proveedor_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_Llamada_a_Proveedor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_Llamada_a_Tecnico</name>
        <label>Get Milestone Llamada a Tecnico</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Milestone_Llamada_a_Tecnico_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamada a Técnico</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_Llamada_a_Tecnico_on_Case</name>
        <label>Get Milestone Llamada a Tecnico on Case</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Milestone_Llamada_a_Tecnico_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_Llamada_a_Tecnico.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone_Llamada_a_Proveedor_on_Case</name>
        <label>Update Milestone Llamada a Proveedor on Case</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Set_Due_Date2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_Llamada_a_Proveedor_on_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>DT_CompletedDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Llamada_a_Tecnico_on_Case</name>
        <label>Update Milestone Llamada a Tecnico on Case</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Set_Due_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_Llamada_a_Tecnico_on_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>DT_CompletedDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <screens>
        <name>New_Follow_Up</name>
        <label>New Follow Up</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tecnico_or_Proveedor</targetReference>
        </connector>
        <fields>
            <name>New_Follow_Up_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Follow_Up_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_Logo_Bolivar</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://segbol--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688M0000019ADo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Imagen1.png&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Follow_Up_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_Title</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Formulario de Seguimiento&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_Subject</name>
            <choiceReferences>C_Seguimiento</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>C_Seguimiento</defaultSelectedChoiceReference>
            <fieldText>Asunto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Follow_Up_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Follow_Up_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Follow_Up_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Follow_Up_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PL_Type</name>
                    <choiceReferences>C_Llamada</choiceReferences>
                    <choiceReferences>C_VRA</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de Seguimiento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>L_Name</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contacto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Follow_Up_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PL_CallTo</name>
                    <choiceReferences>C_Tecnico</choiceReferences>
                    <choiceReferences>C_Proveedor</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Llamada a:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DT_CompletedDateTime</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Fecha/Hora de Finalización</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Follow_Up_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Follow_Up_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LTA_Comments</name>
            <fieldText>Comentarios</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Successful_registration</name>
        <label>Successful registration</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Successful</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;El registro de seguimiento se ha creado correctamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>D_DueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FollowUp_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
