force-app/main/default/flows/CoIT_Prevent_Update_of_Status_WOLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>No se puede completar la Orden hasta que se complete todo el plan de trabajo.</errorMessage>
            <fieldSelection>Status</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Status_of_Work_Step</name>
        <label>Status of Work Step</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not completed</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Work_Steps.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Work_Steps.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Work_Steps</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT Prevent Update of Status - WOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT Prevent Update of Status - WOLI</label>
    <loops>
        <name>Loop_Work_Steps</name>
        <label>Loop Work Steps</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Work_Steps_From_Repair_WOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_of_Work_Step</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work_Steps_From_Repair_WOLI</name>
        <label>Get Work Steps From Repair WOLI</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Work_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Steps_From_Repair_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
