force-app/main/default/flows/CoIT_AF_Actions_From_Change_Status_Cannot_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_New_WorkOrderInfo</name>
        <label>Set New Work Order Info</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_WasCreatedByIntegration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_Scheduling_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Programmed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_Business_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_WOM_Business_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_Scheduling_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>By Direct Assignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_Appointment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_WOM_Appointment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_Scheduling_Policy_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scheduling_POlicy_Programmend.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_Entitlement_ByDirectAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Lista_de_Numeros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Lista_de_Numeros__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Email_Solicitante__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Email_Solicitante__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Numero_de_Llamada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Numero_de_Llamada__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Codigo_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Codigo_Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Numero_Siniestro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Numero_Siniestro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Modelo_Automovil__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Modelo_Automovil__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Numero_de_Placa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Numero_de_Placa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Garantia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Garantia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.CoIT_Rescheduling_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Work_Order_From_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Authorization_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_NumeroAutorizacion2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Nombre_Solicitante__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Nombre_Solicitante__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Telefono_Solicitante__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Marca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Marca__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Complemento_Direccion_Inicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Complemento_Direccion_Inicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Describa_la_Accesibilidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Describa_la_Accesibilidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Necesidad_Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Necesidad_Cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Inquietud_del_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Inquietud_del_Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Motivo_de_la_solicitud_del_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Motivo_de_la_solicitud_del_servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Technician__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Nombre_Asegurado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Nombre_Asegurado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Documento_Asegurado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Documento_Asegurado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Telefono_Asegurado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Telefono_Asegurado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Email_Asegurado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Email_Asegurado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Direccion_Destino_Complemento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Direccion_Destino_Complemento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Distrito__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Distrito__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Requerimientos_del_cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Requerimientos_del_cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Critical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Critical__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Require_Rescheduled2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NewWorkOrderInfo</name>
        <label>Set New Work Order Info</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_WasCreatedByIntegration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_Scheduling_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_WOM_Scheduling_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_Business_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_WOM_Business_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_Scheduling_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_WOM_Scheduling_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_Appointment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_WOM_Appointment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_WOM_Scheduling_Policy_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_WOM_Scheduling_Policy_Used__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.EntitlementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Lista_de_Numeros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Lista_de_Numeros__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Email_Solicitante__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Email_Solicitante__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Numero_de_Llamada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Numero_de_Llamada__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Codigo_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Codigo_Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Numero_Siniestro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Numero_Siniestro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Modelo_Automovil__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Modelo_Automovil__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Numero_de_Placa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Numero_de_Placa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Garantia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Garantia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Location__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArrivalWindowStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Work_Order_From_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Authorization_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_NumeroAutorizacion2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Nombre_Solicitante__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Nombre_Solicitante__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Telefono_Solicitante__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Marca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Marca__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Complemento_Direccion_Inicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Complemento_Direccion_Inicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Describa_la_Accesibilidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Describa_la_Accesibilidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Necesidad_Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Necesidad_Cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Inquietud_del_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Inquietud_del_Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Motivo_de_la_solicitud_del_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Motivo_de_la_solicitud_del_servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Partner_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Partner_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Technician__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Nombre_Asegurado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Nombre_Asegurado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Documento_Asegurado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Documento_Asegurado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Telefono_Asegurado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Telefono_Asegurado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Email_Asegurado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Email_Asegurado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Direccion_Destino_Complemento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Direccion_Destino_Complemento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Distrito__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Distrito__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Requerimientos_del_cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Requerimientos_del_cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Critical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CoIT_Critical__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Require_Rescheduled2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Require_Rescheduled_to_New_Work_Order</name>
        <label>Set Require Rescheduled to New Work Order</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder_NewRecord.CoIT_Require_Rescheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_V_WorkOrderCount_Value</name>
        <label>Set V_WorkOrderCount Value</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>V_WorkOrdersCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Total_Work_Orders_From_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_First_Work_Order_From_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>contain_schedulingtype</name>
        <label>contain scheduling type?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_NewWorkOrderInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_SchedulingType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_WorkOrderInfo</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Require_Rescheduled2</name>
        <label>Evaluate Require Rescheduled</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Create_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EvaluateRequireRescheduled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequireRescheduled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Require_Rescheduled_to_New_Work_Order</targetReference>
            </connector>
            <label>Requiere Rescheduled</label>
        </rules>
    </decisions>
    <description>-Due Date Agregada (eliminada)
-Arrival End Date agregada
-Earliest y due date agregadas.
-Rescheduling type agregado
-Creacion de WO para Manual Scheduling Model
-Numero de Autorización dinamico v2 - quitado - 
Numero autorizacion multiples ordenes base
- Añadido require reschedule v2</description>
    <environments>Default</environments>
    <formulas>
        <name>F_ArrivalEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!ServiceAppointmentRecord.CoIT_Rescheduling_Date__c}+{!ServiceAppointmentRecord.DurationInMinutes}/1440</expression>
    </formulas>
    <formulas>
        <name>F_EntitlementId</name>
        <dataType>String</dataType>
        <expression>IF({!V_SchedulingModel}=&quot;Manual&quot;, {!V_Entitlement_ByDirectAssignment}, {!ServiceAppointmentRecord.FSSK__FSK_Work_Order__r.EntitlementId})</expression>
    </formulas>
    <formulas>
        <name>F_NumeroAutorizacion</name>
        <dataType>String</dataType>
        <expression>{!Get_First_Work_Order_From_Case.CoIT_Authorization_Number__c}  &amp; &quot;_&quot; &amp; TEXT({!V_WorkOrdersCount})</expression>
    </formulas>
    <formulas>
        <name>F_NumeroAutorizacion2</name>
        <dataType>String</dataType>
        <expression>{!F_NumeroAutorizacionBase}  &amp; &quot;_&quot; &amp; TEXT({!V_WorkOrdersCount})</expression>
    </formulas>
    <formulas>
        <name>F_NumeroAutorizacionBase</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Get_WorkOrder_Record.CoIT_Authorization_Number__c}, &quot;_&quot;), LEFT({!Get_WorkOrder_Record.CoIT_Authorization_Number__c}, FIND(&quot;_&quot;, {!Get_WorkOrder_Record.CoIT_Authorization_Number__c})-1), {!Get_WorkOrder_Record.CoIT_Authorization_Number__c})</expression>
    </formulas>
    <formulas>
        <name>F_SchedulingModel</name>
        <dataType>String</dataType>
        <expression>
IF(ISNULL({!V_SchedulingModel}), TEXT({!ServiceAppointmentRecord.CoIT_WOM_Scheduling_Model__c}), {!V_SchedulingModel})</expression>
    </formulas>
    <interviewLabel>CoIT AF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Actions From Change Status Cannot Complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ResourcePreference</name>
        <label>Create Resource Preference</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <elementReference>PreferenceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>WorkOrder_NewRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>AssignedServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WorkOrder</name>
        <label>Create New Work Order</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Create_ResourcePreference</targetReference>
        </connector>
        <inputReference>WorkOrder_NewRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Entitlement_Id_By_Direct_Assignment</name>
        <label>Get Entitlement Id By Direct Assignment</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Total_Work_Orders_From_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>By Direct Assignment</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>V_Entitlement_ByDirectAssignment</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Work_Order_From_Case</name>
        <label>Get First Work Order From Case</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contain_schedulingtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduling_POlicy_Programmend</name>
        <label>Get Scheduling POlicy Programmend</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_V_WorkOrderCount_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoIT Bolivar Programmed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL__Scheduling_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Total_Work_Orders_From_Case</name>
        <label>Get Total Work Orders From Case</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scheduling_POlicy_Programmend</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkOrder_Record.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_Authorization_Number__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>F_NumeroAutorizacionBase</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_Authorization_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>F_NumeroAutorizacion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder_Record</name>
        <label>Get Work Order Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Entitlement_Id_By_Direct_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WorkOrder_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ArrivalWindowEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArrivalWindowStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignedServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EarliestStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreferenceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequireRescheduled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>V_Entitlement_ByDirectAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_SchedulingModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_SchedulingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_WorkOrdersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WorkOrder_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
