force-app/main/default/flows/CoIT_RTF_Notificacion_when_Created_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Other_Services</name>
        <label>Hogar</label>
        <locationX>578</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>Hogar_CreateSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Other_Services</name>
        <label>Mensajeria</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>SMSMensajeria</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Translado_Aeropuerto</name>
        <label>Autos sin mensajeria</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>MissionID</name>
        </inputParameters>
        <inputParameters>
            <name>MissionURL</name>
        </inputParameters>
        <inputParameters>
            <name>MisssionUpdate</name>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>Get_Work_Order_Id.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_Work_Order_Id.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>SMSAutosSinMensajeria</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>TaskStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_Work_Order_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Es_Translado_Aeropuerto</name>
        <label>tipo de servicio</label>
        <locationX>446</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Translado_Outcome</name>
            <conditionLogic>((1 OR 2 OR 3 OR 6) AND 9) OR (4 OR 5 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Traslado aeropuerto o terminal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Elegido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Transporte Pasajeros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Conductor Familiar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Grua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Carro Taller - General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Cerrajeria - General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Translado_Aeropuerto</targetReference>
            </connector>
            <label>Autos sin mensajeria</label>
        </rules>
        <rules>
            <name>Mensajeria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Mensajeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Services</targetReference>
            </connector>
            <label>Mensajeria</label>
        </rules>
        <rules>
            <name>Hogar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Id.WorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(AH)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Other_Services</targetReference>
            </connector>
            <label>Hogar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_None</name>
        <label>Estado None</label>
        <locationX>776</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_None_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_Translado_Aeropuerto</targetReference>
            </connector>
            <label>Is None</label>
        </rules>
    </decisions>
    <description>se quita del copy los datos del mensajero</description>
    <environments>Default</environments>
    <interviewLabel>CoIT RTF Notificacion when Created WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT RTF Notificacion when Created WO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assigned_Resoruce_Id</name>
        <label>Get Assigned Resoruce Id</label>
        <locationX>776</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estado_None</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Id</name>
        <label>Get Case Id</label>
        <locationX>776</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Resoruce_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Id.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Id</name>
        <label>Get Work Order Id</label>
        <locationX>776</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Work_Order_Id</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Hogar_CreateSMS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar le informa que su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} ha sido programado.</text>
    </textTemplates>
    <textTemplates>
        <name>SMSAutosSinMensajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar le informa que su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} ha sido programado.</text>
    </textTemplates>
    <textTemplates>
        <name>SMSMensajeria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Seguros Bolívar le informa que su servicio de {!Get_Work_Order_Id.WorkType.CoIT_NameClean__c} ha sido programado.</text>
    </textTemplates>
</Flow>
