force-app/main/default/flows/CoIT_WOM_1_ALF_Create_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_ErrorInformation</name>
        <label>Set Error Information</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_New_Service_Appointment_Data</name>
        <label>Set New Service Appointment Data</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>New_ServiceAppointmentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment_NewRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Service_Appointment_Data_for_DropOff</name>
        <label>Set Service Appointment Data for DropOff</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritoryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ParentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSSK__FSK_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Business_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Appointment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Scheduling_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Scheduling_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingModel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSL__Scheduling_Policy_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingPolicy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EarliestStartPermitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArrivalWindowStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArrivalWindowEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GanttLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_SecondScheduling_PolicyUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondSchedulingPolicy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_ThirdScheduling_PolicyUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThirdSchedulingPolicy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_RequireRescheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequiredRescheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.address_complement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DestinationAddressComplement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Appointment_Data_for_Pickup</name>
        <label>Set Service Appointment Data for Pickup</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritoryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ParentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSSK__FSK_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Business_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Appointment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Scheduling_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Scheduling_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingModel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSL__Scheduling_Policy_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingPolicy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EarliestStartPermitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArrivalWindowStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArrivalWindowEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GanttLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_SecondScheduling_PolicyUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondSchedulingPolicy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_ThirdScheduling_PolicyUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThirdSchedulingPolicy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_RequireRescheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequiredRescheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.address_complement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartAddressComplement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Appointment_Data_for_Single_Appointment</name>
        <label>Set Service Appointment Data for Single Appointment</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritoryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ParentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSSK__FSK_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Business_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Appointment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Scheduling_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_WOM_Scheduling_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingModel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSL__Scheduling_Policy_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingPolicy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EarliestStartPermitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArrivalWindowStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArrivalWindowEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GanttLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_SecondScheduling_PolicyUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondSchedulingPolicy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_ThirdScheduling_PolicyUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThirdSchedulingPolicy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.CoIT_RequireRescheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequiredRescheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment_NewRecord.address_complement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartAddressComplement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Pickup_DropOff_or_Single</name>
        <label>Is Pickup, DropOff or Single?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Appointment_Data_for_Pickup</targetReference>
            </connector>
            <label>Pickup</label>
        </rules>
        <rules>
            <name>Drop_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Appointment_Data_for_DropOff</targetReference>
            </connector>
            <label>Drop Off</label>
        </rules>
        <rules>
            <name>Single_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Appointment_Data_for_Single_Appointment</targetReference>
            </connector>
            <label>Single Appointment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT WOM 1 ALF Create Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT WOM 1 ALF Create Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Set_New_Service_Appointment_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_ErrorInformation</targetReference>
        </faultConnector>
        <inputReference>ServiceAppointment_NewRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceAppointment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Pickup_DropOff_or_Single</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeID</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AppointmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArrivalWindowEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArrivalWindowStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DestinationAddressComplement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EarliestStartPermitted</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GanttLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Latitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
    </variables>
    <variables>
        <name>New_ServiceAppointmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ParentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiredRescheduled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchedulingModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchedulingPolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchedulingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondSchedulingPolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceTerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartAddressComplement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThirdSchedulingPolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
