force-app/main/default/flows/CoIT_WOM_6_RTF_ScheduleExtendedProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Error</name>
        <label>Email Error</label>
        <locationX>1634</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assignment_Scheduled_Failed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Juan.Rojas@colibriit.com, maria.zuluaga@colibriit.com, daniel.valencia@colibriit.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Schedule Extended error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Schedule_ExtendedServiceAppointment</name>
        <label>Schedule Extended Service Appointment</label>
        <locationX>908</locationX>
        <locationY>684</locationY>
        <actionName>ScheduleService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_ResultScheduleExtended</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Resource_Preference</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>policyId</name>
            <value>
                <elementReference>SchedulePolicyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ScheduleService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ResultMessage_V</assignToReference>
            <name>resultMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ResourceId_V</assignToReference>
            <name>scheduledResourceId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Count_Scheduling_Attempts</name>
        <label>Assignment Count Scheduling Attempts</label>
        <locationX>908</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>V_AutomaticSchedulingAttempts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_ExtendedServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Scheduled_Failed</name>
        <label>Assignment Scheduled Failed</label>
        <locationX>1634</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>ResourceId_V</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScheduledExtendedFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Validate_ResultScheduleExtended</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SchedulePolicyId_With_FirstPolicy</name>
        <label>Assignment Schedule Policy Id With First Policy</label>
        <locationX>512</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>SchedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSL__Scheduling_Policy_Used__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Count_Scheduling_Attempts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SchedulePolicyId_With_SecondPolicy</name>
        <label>Assignment Schedule Policy Id With Second Policy</label>
        <locationX>776</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>SchedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_SecondScheduling_PolicyUsed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Count_Scheduling_Attempts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SchedulePolicyId_With_ThirdPolicy</name>
        <label>Assignment Schedule Policy Id With Third Policy</label>
        <locationX>1040</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>SchedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_ThirdScheduling_PolicyUsed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Count_Scheduling_Attempts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ExistResourcePreference_For_ParentRecord</name>
        <label>Exist Resource Preference For Parent Record</label>
        <locationX>1238</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourcePreference_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScheduledExtendedFailed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteResourcePreference_For_ParentRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ResourcePreference</name>
        <label>Exist Resource Preference</label>
        <locationX>578</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ResourcePreference_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourcePreference_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_TransactionAfterScheduled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ResultScheduleExtended</name>
        <label>Schedule Extended return Service Resource</label>
        <locationX>908</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Update_ScheduledService_Checkbok_For_ParentRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourceId_V</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateScheduledService_Checkbok</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_TransactionAfterScheduled</name>
        <label>Transaction After Scheduled</label>
        <locationX>314</locationX>
        <locationY>1224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_TransactionAfterScheduled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourcePreference_Record.CoIT_WOM_TransactionAfterScheduled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove After Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ResourcePreference</targetReference>
            </connector>
            <label>Remove After Scheduled</label>
        </rules>
        <rules>
            <name>ChangeToPreferred_TransactionAfterScheduled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourcePreference_Record.CoIT_WOM_TransactionAfterScheduled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change to Preferred After Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ResourcePreference</targetReference>
            </connector>
            <label>Change To Preferred After Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_WorkOfferQuantity</name>
        <label>Validate Work Offer Quantity</label>
        <locationX>908</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assignment_SchedulePolicyId_With_FirstPolicy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SchedulePolicyId_With_FirstPolicy</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SchedulePolicyId_With_SecondPolicy</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SchedulePolicyId_With_ThirdPolicy</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <description>Version nueva para actualizar el correo del owner
Work around agendamiento oferta</description>
    <environments>Default</environments>
    <interviewLabel>CoIT WOM 6 RTF Schedule Extended Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT WOM 6 RTF Schedule Extended Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_ResourcePreference</name>
        <label>Delete Resource Preference</label>
        <locationX>50</locationX>
        <locationY>1332</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourcePreference_Record.Id</elementReference>
            </value>
        </filters>
        <object>ResourcePreference</object>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteResourcePreference_For_ParentRecord</name>
        <label>Delete Resource Preference For Parent Record</label>
        <locationX>1106</locationX>
        <locationY>1224</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourcePreference_Record.Id</elementReference>
            </value>
        </filters>
        <object>ResourcePreference</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Resource_Preference</name>
        <label>Get Resource Preference</label>
        <locationX>1634</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_WOM_TransactionAfterScheduled__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource_Preference_For_Parent_Record</name>
        <label>Get Resource Preference For Parent Record</label>
        <locationX>1238</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistResourcePreference_For_ParentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_WOM_TransactionAfterScheduled__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>1634</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Error</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Resource_Preference.ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourceId_V</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ResourcePreference_Record</name>
        <label>Get Resource Preference</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_ResourcePreference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourceId_V</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ResourcePreference</name>
        <label>Update Resource Preference</label>
        <locationX>314</locationX>
        <locationY>1332</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourcePreference_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ScheduledService_Checkbok_For_ParentRecord</name>
        <label>Update Scheduled Service Checkbok For Parent Record</label>
        <locationX>1238</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Get_Resource_Preference_For_Parent_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_AutomaticSchedulingAttempts__c</field>
            <value>
                <elementReference>V_AutomaticSchedulingAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_WOM_ScheduleExtended__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateScheduledService_Checkbok</name>
        <label>Update Scheduled Service Checkbok</label>
        <locationX>578</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>ResourcePreference_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>CoIT_AutomaticSchedulingAttempts__c</field>
            <value>
                <elementReference>V_AutomaticSchedulingAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_WOM_ScheduleExtended__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_WOM_ValidateSchedule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_WOM_ScheduleExtended__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Validate_WorkOfferQuantity</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Error en flujo&lt;/strong&gt;: {!$Flow.FaultMessage},&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Cita:&lt;/strong&gt; {!$Record.AppointmentNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estado de la Cita: &lt;/strong&gt;{!$Record.Status}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Duración: &lt;/strong&gt;{!$Record.Duration}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo de Duración: &lt;/strong&gt;{!$Record.DurationType}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha inicio: &lt;/strong&gt;{!$Record.EarliestStartTime}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha vencimiento:&lt;/strong&gt; {!$Record.DueDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dirección: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Street}&lt;/p&gt;&lt;p&gt;{!$Record.City}&lt;/p&gt;&lt;p&gt;{!$Record.Country}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Latitud Cita:&lt;/strong&gt; {!$Record.FSL__InternalSLRGeolocation__Latitude__s}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Longitud Cita: &lt;/strong&gt;{!$Record.FSL__InternalSLRGeolocation__Longitude__s}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Distrito:&lt;/strong&gt; {!$Record.Distrito__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Política:&lt;/strong&gt; {!$Record.FSL__Scheduling_Policy_Used__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Política Id: &lt;/strong&gt;{!SchedulePolicyId}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Usuario detonador: &lt;/strong&gt;{!$User.Username}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Recurso:&lt;/strong&gt; {!Get_Service_Resource.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Recurso Id: &lt;/strong&gt;{!Get_Service_Resource.Id}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Última ubicación:&lt;/strong&gt; {!Get_Service_Resource.LastKnownLocation}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Última fecha de ubicación:&lt;/strong&gt; {!Get_Service_Resource.LastKnownLocationDate}&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>ResourceId_V</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultMessage_V</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScheduledExtendedFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SchedulePolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_AutomaticSchedulingAttempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.CoIT_AutomaticSchedulingAttempts__c</elementReference>
        </value>
    </variables>
</Flow>
