force-app/main/default/flows/CoIT_OmniChannel_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LowUser_CaseAssigned</name>
        <label>CaseAssigned</label>
        <locationX>578</locationX>
        <locationY>2738</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CustomNotificationRecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Nuevo Caso Asignado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>El caso {!Get_Case.CaseNumber} fue asignado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_CaseAssigned</name>
        <label>CaseAssigned</label>
        <locationX>2030</locationX>
        <locationY>2738</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CustomNotificationRecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Nuevo Caso Asignado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>El caso {!Get_Case.CaseNumber} fue asignado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Routing_to_Agent</name>
        <label>Routing to Agent</label>
        <locationX>1898</locationX>
        <locationY>2090</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Assignment_high</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N96e000000GyyUCAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K98M00000000K0SAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>Alto Impacto</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>SelectedUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Routing_to_Low_Agent</name>
        <label>Routing to Low Agent</label>
        <locationX>446</locationX>
        <locationY>2090</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N96e000000GyyUCAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K98M00000000K5SAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>Bajo/Medio Impacto</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>SelectedUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Routing_to_low_queue</name>
        <label>Routing to low queue</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N96e000000GyyUCAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G8M000000sMGBUA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Cola: Agentes – Bajo/medio impacto</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Routing_to_queue</name>
        <label>Routing to queue</label>
        <locationX>1502</locationX>
        <locationY>1982</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N96e000000GyyUCAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G8M000000sMGAUA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Cola: Agentes – Alto impacto</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>1766</locationX>
        <locationY>2630</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>santiago.pelaez@colibriit.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Nuevo Caso Asignado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EB_Email_Notification_CaseAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_LowUser_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>santiago.pelaez@colibriit.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Nuevo Caso Asignado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EB_Email_Notification_CaseAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Service_Resource_to_Service_Resource_Collection</name>
        <label>Add Service Resource to Service Resource Collection</label>
        <locationX>1590</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ServiceResource_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Resources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Service_Resource_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_UsersIds_HighQueue_Collection</name>
        <label>Users Ids Collection High Queue</label>
        <locationX>2426</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>UsersIds_HighQueue_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Queue_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Date_Time</name>
        <label>Set Date/Time</label>
        <locationX>1502</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>CurrentDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Shift_of_Service_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LowUser_Recipient_Id</name>
        <label>Set Recipient Id</label>
        <locationX>578</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>CustomNotificationRecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LowUser_Get_Custom_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LowUserRecipients_Email</name>
        <label>Set Recipients Email</label>
        <locationX>314</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_LowUser_Email_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient_Id</name>
        <label>Set Recipient Id</label>
        <locationX>2030</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>CustomNotificationRecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipients_Email</name>
        <label>Set Recipients Email</label>
        <locationX>1766</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Users_Ids_Collection_Low_Queue</name>
        <label>Users Ids Collection Low Queue</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>UsersIds_HighQueue_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_LowQueue_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Resources_LowQueue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agent_Is_Online</name>
        <label>Is Online?</label>
        <locationX>1898</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Set_Recipient_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Presence_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recipients_Email</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Low_Medium_or_High</name>
        <label>Is Low/medium or High Impact ?</label>
        <locationX>1502</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Low_Medium_Impact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LowQueue_Users</targetReference>
            </connector>
            <label>Low/Medium Impact</label>
        </rules>
        <rules>
            <name>High_Impact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Users</targetReference>
            </connector>
            <label>High Impact</label>
        </rules>
    </decisions>
    <decisions>
        <name>LowQueue_User_Is_Service_Resource</name>
        <label>LowQueue User Is Service Resource?</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Loop_Service_Resources_LowQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LowQueueUserIsServiceResource_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_LowQueue_Users.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Service_Resources_LowQueue.RelatedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Users_Ids_Collection_Low_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LowUser_is_online</name>
        <label>Is Online?</label>
        <locationX>446</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Set_LowUser_Recipient_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LowUser_No_online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Presence_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LowUserRecipients_Email</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_User_Is_Service_Resource</name>
        <label>Queue User Is Service Resource</label>
        <locationX>2558</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Loop_Service_Resources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Queue_Users.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Service_Resources.RelatedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_UsersIds_HighQueue_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_for_Low_Queue_or_User</name>
        <label>Routing for Low Queue or User</label>
        <locationX>446</locationX>
        <locationY>1874</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Low_Queue_Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountForQueues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Routing_to_low_queue</targetReference>
            </connector>
            <label>Low Queue</label>
        </rules>
        <rules>
            <name>Low_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountForQueues</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Agent_Id_Low_Queue</targetReference>
            </connector>
            <label>Low Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_For_Queue_or_User</name>
        <label>Routing For Queue or User</label>
        <locationX>1898</locationX>
        <locationY>1874</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountForQueues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Routing_to_queue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountForQueues</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Agent_Id</targetReference>
            </connector>
            <label>Agent</label>
        </rules>
    </decisions>
    <description>Modify Queue</description>
    <environments>Default</environments>
    <formulas>
        <name>F_Determine_Weekday</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(DATEVALUE({!Get_Case.CreatedDate}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CoIT OmniChannel Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT OmniChannel Flow</label>
    <loops>
        <name>Loop_Get_Service_Resource_Data</name>
        <label>Loop Get Service Resource Data</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Shift_of_Service_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Service_Resources</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_LowQueue_Users</name>
        <label>Loop LowQueue Users</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_LowQueue_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Service_Resources_LowQueue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Agent_LowQueue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Queue_Users</name>
        <label>Loop Queue Users</label>
        <locationX>1898</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Queue_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Service_Resources</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Agent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Service_Resources</name>
        <label>Loop Service Resources</label>
        <locationX>2338</locationX>
        <locationY>1190</locationY>
        <collectionReference>ServiceResource_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Queue_User_Is_Service_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Queue_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Service_Resources_LowQueue</name>
        <label>Loop Service Resources</label>
        <locationX>886</locationX>
        <locationY>1190</locationY>
        <collectionReference>ServiceResource_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LowQueue_User_Is_Service_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_LowQueue_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1502</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Low_Medium_or_High</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>2030</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_CaseAssigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoIT_Case_Assigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LowQueue_Users</name>
        <label>Get Queue Users</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_LowQueue_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E8M000000RBto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LowUser_Presence_Status</name>
        <label>Get LowUser Presence Status</label>
        <locationX>446</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LowUser_is_online</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedUser.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCurrentState</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserServicePresence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Users</name>
        <label>Get Queue Users</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Queue_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E8M000000RBtp</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Agent_Id</name>
        <label>Get Service Agent Id</label>
        <locationX>1898</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Routing_to_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedUser.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Agent_Id_Low_Queue</name>
        <label>Get Service Agent Id Low Queue</label>
        <locationX>446</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Routing_to_Low_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedUser.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resources</name>
        <label>Get Service Resources</label>
        <locationX>1590</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Service_Resource_to_Service_Resource_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Get_Service_Resource_Data.ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResourceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shift_of_Service_Resources</name>
        <label>Get Shift of Service Resources</label>
        <locationX>1502</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_Service_Resource_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Presence_Status</name>
        <label>Get User Presence Status</label>
        <locationX>1898</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_Is_Online</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedUser.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCurrentState</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserServicePresence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LowUser_Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LowUser_CaseAssigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoIT_Case_Assigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>446</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Get_LowUser_Presence_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_Razon__c</field>
            <value>
                <stringValue>Asignado</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assignment_high</name>
        <label>Assignment high</label>
        <locationX>1898</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Get_User_Presence_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_Razon__c</field>
            <value>
                <stringValue>Asignado</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Date_Time</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Select_Agent</name>
        <label>Select Agent</label>
        <locationX>1898</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Routing_For_Queue_or_User</targetReference>
        </connector>
        <flowName>CoIT_Omni_Channel_Select_Agent</flowName>
        <inputAssignments>
            <name>QueueWorkload</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UsersIds_Queue_Collection</name>
            <value>
                <elementReference>UsersIds_HighQueue_Collection</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CountForQueues</assignToReference>
            <name>QueueWorkload</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedUser</assignToReference>
            <name>SelectedUser</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_Agent_LowQueue</name>
        <label>Set Agent</label>
        <locationX>446</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Routing_for_Low_Queue_or_User</targetReference>
        </connector>
        <flowName>CoIT_Omni_Channel_Select_Agent</flowName>
        <inputAssignments>
            <name>QueueWorkload</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UsersIds_Queue_Collection</name>
            <value>
                <elementReference>UsersIds_HighQueue_Collection</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CountForQueues</assignToReference>
            <name>QueueWorkload</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedUser</assignToReference>
            <name>SelectedUser</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>EB_Email_Notification_CaseAssigned</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;El caso número {!Get_Case.CaseNumber} fue asignado&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ingresa para visualizarlo&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountForQueues</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomNotificationRecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecipientEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ServiceResource_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>UsersIds_HighQueue_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>V_AgentsAssignedOnTimeSlot</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>V_TimeSlotsPerDay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSlot</objectType>
    </variables>
    <variables>
        <name>V_Users_Availability</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserServicePresence</objectType>
    </variables>
</Flow>
