force-app/main/default/flows/CoIT_Omni_Channel_Select_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Count_Agent_Work_Item</name>
        <label>Set Count Agent Work Item</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Count_Agent_Work</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Agent_work_is_Less_than_MaxWorkLoad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_User</name>
        <label>Set Selected User</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SelectedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Queue_Users_to_get_Agent_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QueueWorkload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Agent_Work</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue_Users_to_get_Agent_Work</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_Agent_work_is_Less_than_MaxWorkLoad</name>
        <label>Count Agent work is Less than MaxWorkLoad?</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Queue_Users_to_get_Agent_Work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Agent_Work</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>QueueWorkload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT Omni Channel Select Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT Omni Channel Select Agent</label>
    <loops>
        <name>Loop_Queue_Users_to_get_Agent_Work</name>
        <label>Loop Queue Users to get Agent Work</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>UsersIds_Queue_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_cases</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agent_Work</name>
        <label>Get Agent Work</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_Agent_Work_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Queue_Users_to_get_Agent_Work.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgentWork</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_cases</name>
        <label>Get cases</label>
        <locationX>396</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agent_Work</targetReference>
        </connector>
        <filterLogic>1 AND(2 OR 3)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Queue_Users_to_get_Agent_Work.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En espera</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Queue_Users_to_get_Agent_Work</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Count_Agent_Work</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QueueWorkload</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SelectedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UsersIds_Queue_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
