force-app/main/default/flows/CoIT_RTF_Validate_AutomaticSchedulingAttempts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigment_Info_Resource_Preference_Remove</name>
        <label>Assigment Info Resource Preference Remove</label>
        <locationX>1435</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>ResourcePreference_Update_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_ResourcePreference_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourcePreferenceDeleted_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResourcePreference_Update_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_ResourcePreference_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Info_Filter</name>
        <label>Assignment Info Filter</label>
        <locationX>1347</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>V_CountPreferedResourcePrefered</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Resource_Preference_Change_To_Prefered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_ResourcePreference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Info_FilterRemove</name>
        <label>Assignment Info Filter Remove</label>
        <locationX>1347</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>V_CountPreferedResourcePrefered</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Resource_Preference_Remove</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_ResourcePreference_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Record_Resource_Preference</name>
        <label>Assignment Record Resource Preference</label>
        <locationX>1303</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>ResourcePreference_Update_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_Resource_Preference.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourcePreference_Update_Record.PreferenceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourcePreference_Update_Record.CoIT_WOM_TransactionAfterScheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourcePreference_Update_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResourcePreference_Update_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Resource_Preference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Resource_Preference_Count</name>
        <label>Assignment Resource Preference Count</label>
        <locationX>1501</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>V_CountResourcePreference</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Resource_Preference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_Resource_Preference</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Resource_Preference_Change_To_Prefered</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Resource Preference Change To Prefered</label>
        <locationX>1347</locationX>
        <locationY>816</locationY>
        <assignNextValueToReference>currentItem_Filter_Resource_Preference_Change_To_Prefered</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Resource_Preference</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Resource_Preference_Change_To_Prefered.CoIT_WOM_TransactionAfterScheduled__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Change to Preferred After Scheduled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_Info_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Resource_Preference_Remove</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Resource Preference  Remove</label>
        <locationX>1347</locationX>
        <locationY>1632</locationY>
        <assignNextValueToReference>currentItem_Filter_Resource_Preference_Remove</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Resource_Preference</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Resource_Preference_Remove.CoIT_WOM_TransactionAfterScheduled__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Remove After Scheduled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_Info_FilterRemove</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Automatic_Scheduling_Attempts_Is_Greater_Than_Or_Equal_4</name>
        <label>Automatic Scheduling Attempts Is Greater Than Or Equal 4</label>
        <locationX>71</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ByDirectAssaigmentWithAcceptance_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_AutomaticSchedulingAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Work_Order__r.CoIT_Is_Failed_Scheduled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Is_failed_schedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Automatic_Scheduling_Attempts_Is_Grether_Than_3</name>
        <label>Automatic Scheduling Attempts Is Greater Than Or Equal 3</label>
        <locationX>511</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ByOffer_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_AutomaticSchedulingAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Work_Order__r.CoIT_Is_Failed_Scheduled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Is_failed_schedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Resource_Preference</name>
        <label>Exist Resource Preference</label>
        <locationX>1501</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist_ResourcePreference_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_CountResourcePreference</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Resource_Preference_Change_To_Prefered</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_ResourcePreference</name>
        <label>Exist Resource Preference ?</label>
        <locationX>1347</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Filter_Resource_Preference_Remove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistResourcePreference_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_CountPreferedResourcePrefered</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Get_Resource_Preference</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_None</name>
        <label>Is None?</label>
        <locationX>896</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_Is_failedSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduling_Model</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scheduling_Model</name>
        <label>Scheduling Model</label>
        <locationX>291</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>By_direct_Assigment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Direct Assignment</stringValue>
                </rightValue>
            </conditions>
            <label>By direct Assigment</label>
        </rules>
        <rules>
            <name>By_direct_Assigment_With_Acceptance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Direct Assigment with Acceptance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automatic_Scheduling_Attempts_Is_Greater_Than_Or_Equal_4</targetReference>
            </connector>
            <label>By direct Assigment With Acceptance</label>
        </rules>
        <rules>
            <name>By_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automatic_Scheduling_Attempts_Is_Grether_Than_3</targetReference>
            </connector>
            <label>By Offer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RTF Automatic Scheduling Attempts SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF Validate Automatic Scheduling Attempts</label>
    <loops>
        <name>Loop_Get_Resource_Preference</name>
        <label>Loop Get Resource Preference</label>
        <locationX>1215</locationX>
        <locationY>1140</locationY>
        <collectionReference>Filter_Resource_Preference_Change_To_Prefered</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Record_Resource_Preference</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Resource_Preference</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Get_ResourcePreference_Remove</name>
        <label>Loop Get Resource Preference Remove</label>
        <locationX>1347</locationX>
        <locationY>1848</locationY>
        <collectionReference>Filter_Resource_Preference_Remove</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigment_Info_Resource_Preference_Remove</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Resource_Preference</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Resource_Preference</name>
        <label>Delete Resource Preference</label>
        <locationX>1347</locationX>
        <locationY>2148</locationY>
        <inputReference>ResourcePreferenceDeleted_Collection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Resource_Preference</name>
        <label>Get Resource Preference</label>
        <locationX>1501</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Resource_Preference_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_WOM_TransactionAfterScheduled__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Is_failed_schedule</name>
        <label>Update Is failed schedule</label>
        <locationX>291</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Set_Service_Appointment_Jeopardy_and_Create_Record_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Is_Failed_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Is_failedSchedule</name>
        <label>Update Is failed schedule</label>
        <locationX>1501</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_Resource_Preference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Is_Failed_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resource_Preference</name>
        <label>Update Resource Preference</label>
        <locationX>1215</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Filter_Resource_Preference_Remove</targetReference>
        </connector>
        <inputReference>ResourcePreference_Update_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>CoIT_AutomaticSchedulingAttempts__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_None</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Evaluate_Case_Assignment</name>
        <label>Evaluate Case Assignment</label>
        <locationX>291</locationX>
        <locationY>1092</locationY>
        <flowName>CoIT_AF_Evaluate_Case_Assignment</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_Service_Appointment_Jeopardy_and_Create_Record_History</name>
        <label>Set Service Appointment Jeopardy and Create Record History</label>
        <locationX>291</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Evaluate_Case_Assignment</targetReference>
        </connector>
        <flowName>CoIT_AF_Set_SAJeopardy_and_Create_RecordHistory</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_InJeopardyReason</name>
            <value>
                <stringValue>Unscheduled service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_Resource_Preference_Change_To_Prefered</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Resource_Preference_Remove</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>ResourcePreference_Update_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>ResourcePreference_Update_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>ResourcePreferenceDeleted_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>V_CountPreferedResourcePrefered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_CountResourcePreference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
