force-app/main/default/flows/CoIT_AF_Notificaciones_SMS_Tecnico.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notificacion_tecnico</name>
        <label>Notificación técnico</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <actionName>IntegracionSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_WO.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerPhoneNumber</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecord.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistencia</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextAsistenciaGN</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCarroT</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextCerrajeria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorEleg</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextConductorF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextGruas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUpdatedSMSTextLM</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeyTask</name>
            <value>
                <elementReference>Get_WO.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mark</name>
        </inputParameters>
        <inputParameters>
            <name>NameNotification</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroAutorizacion</name>
            <value>
                <elementReference>Get_WO.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneNumbers</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecord.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceName</name>
            <value>
                <elementReference>Get_WO.WorkType.CoIT_NameClean__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>NotificacionAsistenciaDiferentea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Record.ActualStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StreetDirection</name>
            <value>
                <elementReference>$Record.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskDate</name>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>Get_WO.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionSMS</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>No_pertenece_a</name>
        <label>No pertenece a</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_pertenece_a_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>(AA) Asistencia Movil presencial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>(AH) Cotizaciones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>(AH) Supervisor - virtual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Drop Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notificacion_tecnico</targetReference>
            </connector>
            <label>No pertenece a</label>
        </rules>
    </decisions>
    <description>se dispone para todos los servicios</description>
    <environments>Default</environments>
    <interviewLabel>CoIT AF Notificaciones SMS Tecnico {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Notificaciones SMS Tecnico</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_pertenece_a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WO.Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_WO</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Cuando se despacha una Tarea de Asistencia que sea diferente de los siguientes tipos en Click:
(AA) Asistencia movil reacción virtual
(AA) Asistencia movil apoyo virtual
(AH) Cotizaciones, 
NO USAR (AH Supervisor Virtual
(AH) Supervisor - virtual
(AA) Traslado aeropuerto terminal
(AA) Transporte funcuionarios
NO (AH) Supervision virtual
(AH) Supervisor - virtual mal 1</description>
        <name>NotificacionAsistenciaDiferentea</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Asistencia Bolívar: Hola, Le hemos asignado un servicio de {!Get_WO.WorkType.CoIT_NameClean__c}, para el día {!$Record.SchedStartTime}. Nuestro cliente le espera, por favor ingrese a Salesforce Field Service para conocer en detalle la información del servicio.</text>
    </textTemplates>
</Flow>
