force-app/main/default/flows/CoIT_TF_Send_New_Product_Required_for_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Product_Required_for_Approval</name>
        <label>New Product Required for Approval</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Se ha solicitado la creación de un nuevo servicio</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>Asesor_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CoIT_AP_Novedad_Nuevo_Servicio</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Asesor_Id</name>
        <label>Asignar Asesor_Id</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Asesor_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_WOLI_Record.WorkOrder.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Product_Required_for_Approval</targetReference>
        </connector>
    </assignments>
    <description>- Approval para el owner de la WO.</description>
    <environments>Default</environments>
    <interviewLabel>CoIT TF Send New Product Required for Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT TF Send New Product Required for Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_WOLI_Record</name>
        <label>Get WOLI Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Asesor_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WOLI_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_To_AP__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductRequired</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>Asesor_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
