force-app/main/default/flows/CoIT_SF_Create_WO_Diagnostico_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Cliente</name>
        <label>Asignar Cliente</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>NewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LU_Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_WT_DIagnostico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Type_Name_Asegurado</name>
        <label>Set Work Type Name Asegurado</label>
        <locationX>204</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>T_WorkTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Diagnostico</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_ContactSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Type_NameRC</name>
        <label>Set Work Type Name RC</label>
        <locationX>468</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>T_WorkTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Diagnostico RC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_ContactSelect</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ch_CreateContact</name>
        <choiceText>Crear</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crear</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Diagnostic</name>
        <choiceText>Asegurado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asegurado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_DiagnosticRC</name>
        <choiceText>RC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_SearchContact</name>
        <choiceText>Buscar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buscar</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Evaluate_Diagnostic_Type</name>
        <label>Evaluate Diagnostic Type</label>
        <locationX>468</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asegurado_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_DiagnosticType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_Diagnostic</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Type_Name_Asegurado</targetReference>
            </connector>
            <label>Asegurado</label>
        </rules>
        <rules>
            <name>RC_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_DiagnosticType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_DiagnosticRC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Type_NameRC</targetReference>
            </connector>
            <label>RC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Contact</name>
        <label>Exist Contact?</label>
        <locationX>468</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>SC_CreateClientForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_ContactOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_SearchContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cliente</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_impacto</name>
        <label>Tipo de impacto?</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Obtener_SA_Asesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alto</defaultConnectorLabel>
        <rules>
            <name>Medio_o_bajo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_reunion_mediante_videollamada_a_WO_Diagnostico</targetReference>
            </connector>
            <label>Medio o bajo</label>
        </rules>
    </decisions>
    <description>- Cambio en la asignación de WT:  Mismo WT para alto/medio/bajo impacto.
- Asignación &quot;reunión mediante videollamada&quot; a la WO-Diagnostico.
- Asignacion de entitlement.
- Asignación de WT mediante busqueda por su nombre.
- SA del Tecnico sobre la WO, eliminacion WOLI Asesor
- Asignado Start Date a WO-Diagnostico
- Eliminado Resource Preference WOLI-Asesor
- Asignado CoIT_Proveedor_ID a WO-Diagnostico y SA Tecnico 
- Asignacion de contacto a la SA Tecnico
- Eliminado Resource Preference WO-Tecnico
- Asignado ST a WO 
- Asignado ST a WOLI y SAs v3
- Asignacion Work Order a las SA
- Asignacion Contacto a SA Tecnico
- Eliminado el &quot;Offsite appointment a SA-Tecnico&quot;
- Latitude, Longitude sin Data Integration Rules. v5
- Fix ST Agent v3
- Contact Modify 2.0
- Numero de siniestro agregado</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Latitude</name>
        <dataType>Number</dataType>
        <expression>{!Obtener_Case.CoIT_SFS_Interaction_Click__r.CoIT_Latitude__c}/1000000</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>Longitude</name>
        <dataType>Number</dataType>
        <expression>{!Obtener_Case.CoIT_SFS_Interaction_Click__r.CoIT_Longitude__c}/1000000</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>CoIT SF Create WO Diagnostico Details {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT SF Create WO Diagnostico Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Appointment_Dependency_para_las_SA</name>
        <label>Appointment Dependency para las SA</label>
        <locationX>182</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Obtener_WO_Diagnostico</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_1__c</field>
            <value>
                <elementReference>Obtener_SA_Asesor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_2__c</field>
            <value>
                <elementReference>Obtener_SA_Tecnico.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSL__Time_Dependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_WO_Diagnostico</name>
        <label>Crear WO-Diagnostico</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Resource_preference_WO_Asesor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Creacion_Wo_Diagnostico_fallida</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Obtener_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Impacto__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Impacto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Numero_Siniestro__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Numero_del_Siniestro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Partner_Account__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Partner_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Proveedor_ID__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Proveedor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Technician__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Tecnico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Obtener_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_STM_Asesor.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Obtener_WT_DIagnostico.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_WOLI_Tecnico</name>
        <label>Crear WOLI-Tecnico</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Tipo_de_impacto</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Partner_Account__r.CoIt_Territorio_Servicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Obtener_WT_WOLI_Tecnico.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>754</locationX>
        <locationY>1406</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ContactSelect</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_Client.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_N_Documento__c</field>
            <value>
                <elementReference>T_Numero_de_Documento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>CT_ContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CT_NameClient.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CT_NameClient.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>CT_AddressContact.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>CT_AddressContact.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>CT_AddressContact.addressLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>#322</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Resource_preference_WO_Asesor</name>
        <label>Resource preference WO-Asesor</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Actualizar_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Obtener_Sr_Asesor.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Client</name>
        <label>Get Account Client</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seguros Bolivar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_STM_Asesor</name>
        <label>Get STM Asesor</label>
        <locationX>468</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_SelectDiagnosticType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Sr_Asesor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Case</name>
        <label>Obtener Case</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Entitlement</name>
        <label>Obtener Entitlement</label>
        <locationX>468</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Sr_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orden de Trabajo - Diagnóstico Alto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_SA_Asesor</name>
        <label>Obtener SA-Asesor</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_SA_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_SA_Tecnico</name>
        <label>Obtener SA-Tecnico</label>
        <locationX>182</locationX>
        <locationY>2570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Tecnico</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Sr_Asesor</name>
        <label>Obtener Sr-Asesor</label>
        <locationX>468</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_STM_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Case.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResourceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_WO_Diagnostico</name>
        <label>Obtener WO-Diagnostico</label>
        <locationX>182</locationX>
        <locationY>3002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creaci_n_exitosa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_WT_DIagnostico</name>
        <label>Obtener WT - DIagnostico</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_WO_Diagnostico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>T_WorkTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_WT_WOLI_Tecnico</name>
        <label>Obtener WT WOLI Tecnico</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_WOLI_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Diagnóstico Técnico (Acompañamiento)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Case</name>
        <label>Actualizar Case</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Obtener_WT_WOLI_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Wo_Diagnostico_creada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_Offsite_appointment_SA_Asesor</name>
        <label>Asignar &quot;Offsite appointment&quot; SA-Asesor</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Obtener_SA_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsOffsiteAppointment</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_reunion_mediante_videollamada_a_WO_Diagnostico</name>
        <label>Asignar &quot;reunion mediante videollamada?&quot; a WO Diagnostico</label>
        <locationX>50</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Asignar_Offsite_appointment_SA_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Servicio_mediante_videollamada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Asesor</name>
        <label>Update SA Asesor</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Update_SA_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_SA_Asesor.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Proveedor_ID__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Proveedor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Related_Service__c</field>
            <value>
                <elementReference>Obtener_SA_Tecnico.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Time_Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Work_Order__c</field>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_STM_Asesor.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Tecnico</name>
        <label>Update SA Tecnico</label>
        <locationX>182</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Appointment_Dependency_para_las_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_SA_Tecnico.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Proveedor_ID__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Proveedor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Related_Service__c</field>
            <value>
                <elementReference>Obtener_SA_Asesor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Time_Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Work_Order__c</field>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Partner_Account__r.CoIt_Territorio_Servicio__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Creaci_n_exitosa</name>
        <label>Creación exitosa</label>
        <locationX>182</locationX>
        <locationY>3110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_WO_Exitosa</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Se ha creado exitosamente la Orden de trabajo para el Diagnostico:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Orden de trabajo: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Obtener_WO_Diagnostico.WorkOrderNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Creacion_Wo_Diagnostico_fallida</name>
        <label>Creacion Wo Diagnostico fallida</label>
        <locationX>490</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_WO_diag_fallida</name>
            <fieldText>&lt;p&gt;No es posible crear Ordene de trabajo para Diagnostico.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Por favor revisa que el propietario (Owner) del Caso (Case) sea un usuario y no una cola (Queue).&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_CreateClientForm</name>
        <label>SC_CreateClientForm</label>
        <locationX>754</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
        <fields>
            <name>SC_CreateClientForm_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_CreateClientForm_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CT_NameClient</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>T_Numero_de_Documento</name>
                    <dataType>String</dataType>
                    <fieldText>Numero de Documento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_CreateClientForm_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CT_ContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CT_PhoneContact</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CT_AddressContact</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_ContactSelect</name>
        <label>Seleccione el Contacto</label>
        <locationX>468</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Exist_Contact</targetReference>
        </connector>
        <fields>
            <name>PL_ContactOption</name>
            <choiceReferences>Ch_SearchContact</choiceReferences>
            <choiceReferences>Ch_CreateContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione la opción deseada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LU_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Buscar Contacto Existente</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Obtener_Case.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PL_ContactOption</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ch_SearchContact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SelectDiagnosticType</name>
        <label>Crear Orden de Diagnostico</label>
        <locationX>468</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_Diagnostic_Type</targetReference>
        </connector>
        <fields>
            <name>PL_DiagnosticType</name>
            <choiceReferences>Ch_Diagnostic</choiceReferences>
            <choiceReferences>Ch_DiagnosticRC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccion el tipo de diagnostico que desea Crear</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Client</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>T_WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
