force-app/main/default/flows/CoIT_SF_Complete_WP_To_Change_Repair_WO_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>MessageInfo_WO_WOLI</name>
        <label>Message Info WO</label>
        <locationX>2514</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>MessageInfo_WO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debe seleccionar un item para Eliminar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen1_Query_Repair_WO_Draft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Expense_Values</name>
        <label>Set Expense Values</label>
        <locationX>578</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>Get_Expense_Record.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CU_UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Expense_Record.CoIT_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_Expense_Zone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_InfoWOLI</name>
        <label>Set Message Info WOLI</label>
        <locationX>2250</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>MessageInfo_WOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seleccione una Opción para continuar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen2_ManageWOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageInfo_ProductRequired</name>
        <label>Set Message Info Product Required</label>
        <locationX>1018</locationX>
        <locationY>2504</locationY>
        <assignmentItems>
            <assignToReference>MessageInfo_WOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debe seleccionar un item para Eliminar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen2_ManageWOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageInfo_WO</name>
        <label>Message Info WO</label>
        <locationX>4186</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>MessageInfo_WO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seleccione una Opción para continuar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen1_Query_Repair_WO_Draft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_WO_EndDate</name>
        <label>Set New WO End Date</label>
        <locationX>3746</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>WO_EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repair_WO_WOLIs.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_WO_StartDate</name>
        <label>Set New WO Start DateTime</label>
        <locationX>3746</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>WO_StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repair_WO_WOLIs.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_WO_EndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ProductRequired_Values</name>
        <label>Set ProductRequired Values</label>
        <locationX>314</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>ProductRequired_Record.CoIT_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_ProductRequired_Zone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ProductRequired</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ch_Cancel</name>
        <choiceText>Cancelar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_WO</name>
        <choiceText>Volver al Plan de Reparación</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_WO_Complete</name>
        <choiceText>Finalizar proceso de Elaboración de plan de reparación</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WO_Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_WOLI</name>
        <choiceText>Volver al Capitulo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WOLI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_WOLI_Dates</name>
        <choiceText>Editar Fechas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WOLI_Dates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_WOLI_Delete</name>
        <choiceText>Eliminar Capitulo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WOLI_Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_WOLI_Expense</name>
        <choiceText>Editar Otros Costos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WOLI_Expense</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_WOLI_Expense_Delete</name>
        <choiceText>Eliminar Otros Costos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WOLI_Expense_Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_WOLI_ProductRequired</name>
        <choiceText>Editar Servicios</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WOLI_ProductRequired</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_WOLI_ProductRequired_Delete</name>
        <choiceText>Eliminar Servicio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WOLI_ProductRequired_Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_WOLI_Update</name>
        <choiceText>Editar Capitulo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WOLI_Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Yes</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Delete_Expense</name>
        <label>Decision Delete Expense</label>
        <locationX>1854</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>WOLI_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_Expense_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_ConfirmarDelete_Expense</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Expense_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Delete_ProductRequest</name>
        <label>Decision Delete Product Request</label>
        <locationX>1150</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>WOLI_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_ProductRequest_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_ConfirmarDelete_ProductRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ProductRequired_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Delete_WOLI</name>
        <label>Decision Delete WOLI</label>
        <locationX>2910</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_WOLI_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_ConfirmarDelete_WOLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_WOLI_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Action_WO</name>
        <label>Evaluate Action WO</label>
        <locationX>2602</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Set_MessageInfo_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_WOLI_Update_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_WO_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_WOLI_Update</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOLI_Record</targetReference>
            </connector>
            <label>WOLI Update</label>
        </rules>
        <rules>
            <name>Action_WOLI_Delete_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_WO_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_WOLI_Delete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Delete_WOLI</targetReference>
            </connector>
            <label>WOLI Delete</label>
        </rules>
        <rules>
            <name>Action_WO_Complete_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_WO_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_WO_Complete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2_Complete_WO</targetReference>
            </connector>
            <label>WO Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Action_WOLI</name>
        <label>Evaluate Action WOLI</label>
        <locationX>1018</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Set_Message_InfoWOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_WOLI_WO_Outocome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_WO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Screen1_Query_Repair_WO_Draft</targetReference>
            </connector>
            <label>WO</label>
        </rules>
        <rules>
            <name>Action_WOLI_Dates_Outocome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_WOLI_Dates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WOLI_Dates</targetReference>
            </connector>
            <label>WOLI Dates</label>
        </rules>
        <rules>
            <name>Action_WOLI_ProductRequired_Outocome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_WOLI_ProductRequired</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductRequired_Record</targetReference>
            </connector>
            <label>WOLI Product Required</label>
        </rules>
        <rules>
            <name>Action_WOLI_Expense_Outocome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_WOLI_Expense</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Expense_Record</targetReference>
            </connector>
            <label>WOLI Expense</label>
        </rules>
        <rules>
            <name>Action_WOLI_ProductRequired_Delete_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_WOLI_ProductRequired_Delete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Delete_ProductRequired</targetReference>
            </connector>
            <label>WOLI Product Required Delete</label>
        </rules>
        <rules>
            <name>Action_WOLI_Expense_Delete_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_WOLI_Expense_Delete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Delete_Expense</targetReference>
            </connector>
            <label>WOLI Expense Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Status_For_Diagnostic_WorkOrder</name>
        <label>Evaluate Status For Diagnostic Work Order</label>
        <locationX>3790</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Screen1_WorkPlan_InCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WorkPlan_IsComplete_Outcome</name>
            <conditionLogic>((2 AND 3) AND 1)</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkStep_for_WorkOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Diagnostic_Work_Order.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Diagnostic_Work_Order.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Draft_Rapair_WO_for_Diagnostic_WO</targetReference>
            </connector>
            <label>WorkPlan Is Complete</label>
        </rules>
        <rules>
            <name>Diagnostic_WorkOrder_IsCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Diagnostic_Work_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rapair_WO_for_Diagnostic_WO</targetReference>
            </connector>
            <label>Diagnostic Work Order is Completed</label>
        </rules>
        <rules>
            <name>Diagnostic_WorkOrder_IsCancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Diagnostic_Work_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1_Diagnostic_WorkOrder_IsCancelled</targetReference>
            </connector>
            <label>Diagnostic Work Order is Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Work_type_for_Work_Order</name>
        <label>Evaluate Work type for Work Order</label>
        <locationX>4516</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Diagnostic_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_WorkOrder_Record.WorkType.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Diagnostico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Diagnostic_Work_Order</targetReference>
            </connector>
            <label>Diagnostic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Complete_WO</name>
        <label>Do you want Complete Repair Work Plan?</label>
        <locationX>3790</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Complete_WO_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_Complete_WO_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Repair_WO_WOLIs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Delete_Expense</name>
        <label>Validate that you want to delete this item</label>
        <locationX>1700</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Confirm_Delete_Expense</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requerir_Expense_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Table_Expense.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageInfo_ProductRequired</targetReference>
            </connector>
            <label>Requerir Selección</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Delete_ProductRequired</name>
        <label>Validate that you want to delete this item</label>
        <locationX>996</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Screen3_Delete_ProductRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requerir_ProductRequest_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Table_ProductRequired.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageInfo_ProductRequired</targetReference>
            </connector>
            <label>Requerir Selección</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Delete_WOLI</name>
        <label>Validate that you want to delete this item</label>
        <locationX>2712</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Confirm_Delete_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requerir_WOLI_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Table_WOLI_Draft.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageInfo_WO_WOLI</targetReference>
            </connector>
            <label>Requerir Selección</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_WO_EndDate</name>
        <label>Validate WO End Date</label>
        <locationX>3878</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Update_Status_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_EndDate_Assign_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Repair_WO_WOLIs.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>WO_EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WO_EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_WO_EndDate</targetReference>
            </connector>
            <label>Assign highest datetime</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_WO_StartDate</name>
        <label>Validate WO Start Date</label>
        <locationX>3878</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Validate_WO_EndDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_StartDate_Assign_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Repair_WO_WOLIs.StartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>WO_StartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WO_StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_WO_StartDate</targetReference>
            </connector>
            <label>Assign smallest datetime</label>
        </rules>
    </decisions>
    <description>This Screen Flow manage de process to:
1) Update Start and End dates for WOLIs
2) Update, add and delete product required for WOLIs
3) Update, add and delete expense for WOLIs
4) Update, start and end dates for WO
5) Update status to New for repair and diagnostic WO and WOLIs
6) Update Refresh Pages with the table fields
7)Date time Configuration 2.0</description>
    <dynamicChoiceSets>
        <name>RCS_Zone</name>
        <dataType>String</dataType>
        <displayField>CoIT_Zone_Name__c</displayField>
        <object>CoIT_Zone__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>F_EndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!DateTime_StartDate}+ IF(ISPICKVAL({!WOLI_Record.DurationType}, &quot;Minutes&quot;), {!NU_Duration}/60/24,{!NU_Duration}/24)</expression>
    </formulas>
    <interviewLabel>CoIT SF Complete WP To Change Repair WO Status {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT SF Complete WP To Change Repair WO Status</label>
    <loops>
        <name>Loop_Repair_WO_WOLIs</name>
        <label>Loop Repair WO - WOLIs</label>
        <locationX>3658</locationX>
        <locationY>1430</locationY>
        <collectionReference>DraftWorkOrderLineItem_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_WO_StartDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Repair_WO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Expense_Record</name>
        <label>Delete Expense</label>
        <locationX>1722</locationX>
        <locationY>2078</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>WOLI_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Table_Expense.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>Expense</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_ProductRequired_Record</name>
        <label>Delete Product Required</label>
        <locationX>1018</locationX>
        <locationY>2078</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>WOLI_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Table_ProductRequired.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>ProductRequired</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_WOLI_Record</name>
        <label>Delete WOLI</label>
        <locationX>2778</locationX>
        <locationY>1538</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Draft_Repair_WorkOrder_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Table_WOLI_Draft.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Draft_Repair_WorkOrder_Record</name>
        <label>Get Draft Repair Work Order</label>
        <locationX>2602</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DraftWorkOrderLineItem_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DraftRepairWorkOrderID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DraftWorkOrderLineItem_Collection</name>
        <label>Get WOLI for Draft Repair Work Order</label>
        <locationX>2602</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1_Query_Repair_WO_Draft</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Draft_Repair_WorkOrder_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Expense_Collection</name>
        <label>Get Expense for WOLI</label>
        <locationX>1018</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen2_ManageWOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_WorkOrderLineItemId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Table_WOLI_Draft.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Diagnostic_Work_Order</name>
        <label>Get Diagnostic Work Order</label>
        <locationX>3790</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkStep_for_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Start_WorkOrder_Record.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Start_WorkOrder_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Draft_Rapair_WO_for_Diagnostic_WO</name>
        <label>Get Draft Rapair WO for Diagnostic WO</label>
        <locationX>2602</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Draft_Repair_WorkOrder_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Diagnostic_Work_Order.Id</elementReference>
            </value>
        </filters>
        <object>CoIT_RepairPlan__c</object>
        <outputAssignments>
            <assignToReference>DraftRepairWorkOrderID</assignToReference>
            <field>Repair_Work_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Expense_Record</name>
        <label>Get Expense</label>
        <locationX>578</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen3_UpdateExpense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Table_Expense.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rapair_WO_for_Diagnostic_WO</name>
        <label>Get Rapair WO for Diagnostic WO</label>
        <locationX>4450</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Repair_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Diagnostic_Work_Order.Id</elementReference>
            </value>
        </filters>
        <object>CoIT_RepairPlan__c</object>
        <outputAssignments>
            <assignToReference>RepairWorkOrderID</assignToReference>
            <field>Repair_Work_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Repair_Work_Order</name>
        <label>Get Repair Work Order</label>
        <locationX>4450</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkOrderLineItem_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RepairWorkOrderID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkStep_for_WorkOrder</name>
        <label>Get WorkStep for WorkOrder</label>
        <locationX>3790</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Status_For_Diagnostic_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Diagnostic_Work_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProductRequired_Collection</name>
        <label>Get Product Required for WOLI</label>
        <locationX>1018</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expense_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Table_WOLI_Draft.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProductRequired_Record</name>
        <label>Get Product Required</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen3_UpdateProductRequired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Table_ProductRequired.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Start_WorkOrder_Record</name>
        <label>Get Work Order Data</label>
        <locationX>4516</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Work_type_for_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOLI_Record</name>
        <label>Get WOLI</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProductRequired_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Table_WOLI_Draft.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WorkOrderLineItem_Collection</name>
        <label>Get WOLI for Repair Work Order</label>
        <locationX>4450</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1_Query_Repair_WO_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Repair_Work_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Diagnostic_WO</name>
        <label>Update Diagnostic WO</label>
        <locationX>3658</locationX>
        <locationY>2438</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Diagnostic_Work_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Expense</name>
        <label>Update Expense</label>
        <locationX>578</locationX>
        <locationY>2078</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Draft_Repair_WorkOrder_Record</targetReference>
        </connector>
        <inputReference>Get_Expense_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ProductRequired</name>
        <label>Update Product Required</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Draft_Repair_WorkOrder_Record</targetReference>
        </connector>
        <inputReference>ProductRequired_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Repair_WO</name>
        <label>Update Repair WO</label>
        <locationX>3658</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Update_Diagnostic_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Draft_Repair_WorkOrder_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>WO_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>WO_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_WOLI</name>
        <label>Update Status WOLI</label>
        <locationX>3878</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Loop_Repair_WO_WOLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Repair_WO_WOLIs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WOLI_Dates</name>
        <label>Update WOLI Dates</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Draft_Repair_WorkOrder_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Table_WOLI_Draft.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>NU_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>F_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>DateTime_StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>Confirm_Delete_Expense</name>
        <label>Confirm Delete Expense</label>
        <locationX>1854</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Delete_Expense</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_DT_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(228, 13, 27); background-color: rgb(255, 255, 255);&quot;&gt;{!MessageInfo_WOLI}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_ConfirmarDelete_Expense</name>
            <choiceReferences>Ch_Yes</choiceReferences>
            <choiceReferences>Ch_Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione la opción para continuar</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Delete_WOLI</name>
        <label>Confirm Delete WOLI</label>
        <locationX>2910</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Delete_WOLI</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_DT_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(228, 13, 27); background-color: rgb(255, 255, 255);&quot;&gt;{!MessageInfo_WOLI}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_ConfirmarDelete_WOLI</name>
            <choiceReferences>Ch_Yes</choiceReferences>
            <choiceReferences>Ch_Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione la opción para continuar</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_Diagnostic_WorkOrder_IsCancelled</name>
        <label>Diagnostic Work Order Is Cancelled</label>
        <locationX>4714</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DT_Screen1_Info2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 98, 47);&quot;&gt;El plan de reparación fue cancelado&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_Query_Repair_WO_Draft</name>
        <label>Plan de Reparación</label>
        <locationX>2602</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evaluate_Action_WO</targetReference>
        </connector>
        <fields>
            <name>DT_Screen1_WO_Draft_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 98, 47);&quot;&gt;Plan de Reparación&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Work Order No: &lt;/strong&gt;{!Draft_Repair_WorkOrder_Record.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Inicio:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Draft_Repair_WorkOrder_Record.StartDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Fin:&lt;/strong&gt;{!Draft_Repair_WorkOrder_Record.EndDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estado:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.Status}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Porcentaje de Avance:&lt;/strong&gt; %&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo de servicio:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.CoIT_Costo_de_Servicio__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Otros Costos:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.CoIT_Costo_de_Materiales__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo Total: &lt;/strong&gt;{!Draft_Repair_WorkOrder_Record.GrandTotal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_Screen1_MessageInfo_WO_Draft</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 13, 27); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;{!MessageInfo_WO}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_WO_Option</name>
            <choiceReferences>Ch_WOLI_Update</choiceReferences>
            <choiceReferences>Ch_WOLI_Delete</choiceReferences>
            <choiceReferences>Ch_WO_Complete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione la Opción Deseada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Table_WOLI_Draft</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Capítulos del plan de reparación</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>DraftWorkOrderLineItem_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;LineItemNumber&quot;,&quot;guid&quot;:&quot;column-b88c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Numero&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Order Line Item Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CoIT_WorkType_Name__c&quot;,&quot;guid&quot;:&quot;column-cb4b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Tipo de trabajo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Work Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CoIT_Costo_de_Servicio__c&quot;,&quot;guid&quot;:&quot;column-82b4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Servicios&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Costo de Servicio&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CoIT_Costo_de_Materiales__c&quot;,&quot;guid&quot;:&quot;column-c015&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Otros Costos&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Costo de Materiales&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;StartDate&quot;,&quot;guid&quot;:&quot;column-3db8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Inicio&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Duration&quot;,&quot;guid&quot;:&quot;column-2d61&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Duración&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Duration&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-16f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Fin&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_Query_Repair_WO_New</name>
        <label>Plan de Reparación</label>
        <locationX>4450</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_DT_Screen1_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 98, 47); font-size: 18px;&quot;&gt;Plan de Reparación&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Work Order No: &lt;/strong&gt;{!Get_Repair_Work_Order.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Inicio:&lt;/strong&gt; {!Get_Repair_Work_Order.StartDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Fin:&lt;/strong&gt;{!Get_Repair_Work_Order.EndDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estado:&lt;/strong&gt; {!Get_Repair_Work_Order.Status}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Porcentaje de Avance:&lt;/strong&gt; %&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo de servicio:&lt;/strong&gt; {!Get_Repair_Work_Order.CoIT_Costo_de_Servicio__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Otros Costos:&lt;/strong&gt; {!Get_Repair_Work_Order.CoIT_Costo_de_Materiales__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo Total: &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Table_WOLI</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Capítulos del plan de reparación</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>WorkOrderLineItem_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;LineItemNumber&quot;,&quot;guid&quot;:&quot;column-b88c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Numero&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Order Line Item Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CoIT_WorkType_Name__c&quot;,&quot;guid&quot;:&quot;column-cb4b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Tipo de trabajo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Work Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CoIT_Costo_de_Servicio__c&quot;,&quot;guid&quot;:&quot;column-82b4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Servicios&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Costo de Servicio&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CoIT_Costo_de_Materiales__c&quot;,&quot;guid&quot;:&quot;column-c015&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Otros Costos&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Costo de Materiales&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;StartDate&quot;,&quot;guid&quot;:&quot;column-3db8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Inicio&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Duration&quot;,&quot;guid&quot;:&quot;column-2d61&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Duración&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Duration&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-16f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Fin&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_WorkPlan_InCompleted</name>
        <label>WorkPlan In Completed</label>
        <locationX>4978</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Screen1_Info2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 98, 47); font-size: 18px;&quot;&gt;Para tener acceso a la vista consolidada debe completar primero el plan de trabajo de diagnostico&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2_Complete_WO</name>
        <label>Completar Plan de Reparación?</label>
        <locationX>3790</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Complete_WO</targetReference>
        </connector>
        <fields>
            <name>DT_Screen2_Complete_WO_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 98, 47); font-size: 18px;&quot;&gt;Plan de Reparación&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Work Order No: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Draft_Repair_WorkOrder_Record.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Inicio:&lt;/strong&gt; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Draft_Repair_WorkOrder_Record.StartDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Fin:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Draft_Repair_WorkOrder_Record.EndDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estado:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.Status}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Porcentaje de Avance:&lt;/strong&gt; %&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo de servicio:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.CoIT_Costo_de_Servicio__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Otros Costos:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.CoIT_Costo_de_Materiales__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo Total: &lt;/strong&gt;{!Draft_Repair_WorkOrder_Record.GrandTotal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_Screen2_MessageInfo_Complete_WO</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(228, 13, 27);&quot;&gt;¿Esta seguro que desea Completar el finalizar la elaboración del Plan de reparación?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_Complete_WO_Option</name>
            <choiceReferences>Ch_Yes</choiceReferences>
            <choiceReferences>Ch_WO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione la Opción Deseada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2_ManageWOLI</name>
        <label>Capitulo Plan de Reparación</label>
        <locationX>1018</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evaluate_Action_WOLI</targetReference>
        </connector>
        <fields>
            <name>DT_Screen2_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 98, 47);&quot;&gt;Plan de Reparación&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Work Order No: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Draft_Repair_WorkOrder_Record.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Inicio:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Draft_Repair_WorkOrder_Record.StartDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Fin:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Draft_Repair_WorkOrder_Record.EndDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estado:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.Status}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Porcentaje de Avance:&lt;/strong&gt; %&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo de servicio:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.CoIT_Costo_de_Servicio__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Otros Costos:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.CoIT_Costo_de_Materiales__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo Total: &lt;/strong&gt;{!Draft_Repair_WorkOrder_Record.GrandTotal}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 98, 47); font-size: 18px;&quot;&gt;Capítulo&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;No.:&lt;/strong&gt; {!WOLI_Record.LineItemNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Nombre: &lt;/strong&gt;{!WOLI_Record.CoIT_WorkType_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo de servicios: &lt;/strong&gt;{!WOLI_Record.CoIT_Costo_de_Servicio__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Otros costos: &lt;/strong&gt;{!WOLI_Record.CoIT_Costo_de_Materiales__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total costos: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!WOLI_Record.TotalPrice}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_Screen2_Message_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 13, 27); font-size: 18px;&quot;&gt;{!MessageInfo_WOLI}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_Opcion_WOLI</name>
            <choiceReferences>Ch_WO</choiceReferences>
            <choiceReferences>Ch_WOLI_Dates</choiceReferences>
            <choiceReferences>Ch_WOLI_ProductRequired</choiceReferences>
            <choiceReferences>Ch_WOLI_Expense</choiceReferences>
            <choiceReferences>Ch_WOLI_ProductRequired_Delete</choiceReferences>
            <choiceReferences>Ch_WOLI_Expense_Delete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione la Opción deseada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DateTime_StartDate</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>WOLI_Record.StartDate</elementReference>
            </defaultValue>
            <fieldText>Fecha de Inicio</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ch_WOLI_Dates</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NU_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>WOLI_Record.Duration</elementReference>
            </defaultValue>
            <fieldText>Duracion</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>WOLI_Record.DurationType</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Table_ProductRequired</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ProductRequired</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Servicios a Prestar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ProductRequired_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CoIT_ZoneName__c&quot;,&quot;guid&quot;:&quot;column-003d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Zone&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nombre Zona&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ProductName&quot;,&quot;guid&quot;:&quot;column-5233&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Servicio&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;QuantityUnitOfMeasure&quot;,&quot;guid&quot;:&quot;column-1881&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Unidad de Medida&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity Unit Of Measure&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CoIT_Quantity_Affected__c&quot;,&quot;guid&quot;:&quot;column-4365&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cantidad Afectada&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Quantity Affected&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;QuantityRequired&quot;,&quot;guid&quot;:&quot;column-3004&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cantidad a Reparar&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Quantity Required&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;CoIT_Precio_Unitario__c&quot;,&quot;guid&quot;:&quot;column-2db7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Precio Unitario&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Precio Unitario&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CoIT_Precio_Total__c&quot;,&quot;guid&quot;:&quot;column-4e84&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Precio Total&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Precio Total&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ch_WOLI_ProductRequired</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ch_WOLI_ProductRequired_Delete</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Table_Expense</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Expense</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Otros Costos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Expense_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CoIT_ZoneName__c&quot;,&quot;guid&quot;:&quot;column-e70b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Zona&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nombre Zona&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-f738&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Descripcion&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-c316&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cantidad&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-31ad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Precio unitario&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-db4b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total  Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ch_WOLI_Expense</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PL_Opcion_WOLI</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ch_WOLI_Expense_Delete</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen3_Delete_ProductRequired</name>
        <label>Confirm Delete Product Required</label>
        <locationX>1150</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Delete_ProductRequest</targetReference>
        </connector>
        <fields>
            <name>DT_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(228, 13, 27); background-color: rgb(255, 255, 255);&quot;&gt;{!MessageInfo_WOLI}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_ConfirmarDelete_ProductRequest</name>
            <choiceReferences>Ch_Yes</choiceReferences>
            <choiceReferences>Ch_Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione la opción para continuar</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen3_UpdateExpense</name>
        <label>Actualizar Otros Costos</label>
        <locationX>578</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Expense_Values</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Copy_1_of_DT_Screen1_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 98, 47); font-size: 18px;&quot;&gt;Plan de Reparación&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Work Order No: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Draft_Repair_WorkOrder_Record.WorkOrderNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Inicio:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Draft_Repair_WorkOrder_Record.StartDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Fin:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Draft_Repair_WorkOrder_Record.EndDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estado:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.Status}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Porcentaje de Avance:&lt;/strong&gt; %&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo de servicio:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.CoIT_Costo_de_Servicio__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Otros Costos:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.CoIT_Costo_de_Materiales__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo Total: &lt;/strong&gt;{!Draft_Repair_WorkOrder_Record.GrandTotal}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 98, 47); font-size: 18px;&quot;&gt;Capítulo&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;No.:&lt;/strong&gt; {!WOLI_Record.LineItemNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Nombre: &lt;/strong&gt;{!WOLI_Record.CoIT_WorkType_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo de servicios: &lt;/strong&gt;{!WOLI_Record.CoIT_Costo_de_Servicio__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Otros costos: &lt;/strong&gt;{!WOLI_Record.CoIT_Costo_de_Materiales__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total costos: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!WOLI_Record.TotalPrice}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_3_of_DT_Screen2_Message_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 13, 27); font-size: 18px;&quot;&gt;{!MessageInfo_WOLI}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_Opcion_WOLI_Expense</name>
            <choiceReferences>Ch_WOLI</choiceReferences>
            <choiceReferences>Ch_WOLI_Expense</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ch_WOLI_Expense</defaultSelectedChoiceReference>
            <fieldText>Seleccione la Opción deseada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_Expense_Zone</name>
            <choiceReferences>RCS_Zone</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Expense_Record.CoIT_Zone__r.Id</elementReference>
            </defaultValue>
            <fieldText>Zona</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Expense_Record.ExpenseType</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Expense_Record.Description</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Expense_Record.Quantity</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CU_UnitPrice</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Expense_Record.UnitPrice</elementReference>
            </defaultValue>
            <fieldText>Valor Unitario</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen3_UpdateProductRequired</name>
        <label>Actualizar Servicios</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_ProductRequired_Values</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Copy_1_of_DT_Screen1_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 98, 47);&quot;&gt;Plan de Reparación&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Work Order No: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Draft_Repair_WorkOrder_Record.WorkOrderNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Inicio:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Draft_Repair_WorkOrder_Record.StartDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de Fin:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Draft_Repair_WorkOrder_Record.EndDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estado:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.Status}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Porcentaje de Avance:&lt;/strong&gt; %&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo de servicio:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.CoIT_Costo_de_Servicio__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Otros Costos:&lt;/strong&gt; {!Draft_Repair_WorkOrder_Record.CoIT_Costo_de_Materiales__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo Total: &lt;/strong&gt;{!Draft_Repair_WorkOrder_Record.GrandTotal}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 98, 47);&quot;&gt;Capítulo&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;No.:&lt;/strong&gt; {!WOLI_Record.LineItemNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Nombre: &lt;/strong&gt;{!WOLI_Record.CoIT_WorkType_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Costo de servicios: &lt;/strong&gt;{!WOLI_Record.CoIT_Costo_de_Servicio__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Otros costos: &lt;/strong&gt;{!WOLI_Record.CoIT_Costo_de_Materiales__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total costos: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!WOLI_Record.TotalPrice}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_DT_Screen2_Message_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 13, 27); font-size: 18px;&quot;&gt;{!MessageInfo_WOLI}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_Opcion_WOLI_ProductRequired</name>
            <choiceReferences>Ch_WOLI</choiceReferences>
            <choiceReferences>Ch_WOLI_ProductRequired</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ch_WOLI_ProductRequired</defaultSelectedChoiceReference>
            <fieldText>Seleccione la Opción deseada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_ProductRequired_Zone</name>
            <choiceReferences>RCS_Zone</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ProductRequired_Record.CoIT_Zone__r.Id</elementReference>
            </defaultValue>
            <fieldText>Zona</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ProductRequired_Record.Product2Id</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ProductRequired_Record.CoIT_Quantity_Affected__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ProductRequired_Record.QuantityRequired</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>4390</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_WorkOrder_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Diagnostic_WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DraftRepairWorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageInfo_WO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageInfo_WOLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepairWorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WO_EndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WO_StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
