force-app/main/default/flows/CoIT_AF_Manage_RepairPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_CoIT_RepairPlan</name>
        <label>Set CoIT Repair Plan</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CoIT_RepairPlan_Record.Parent_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStep_Record.WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoIT_RepairPlan_Record.Work_Type_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStep_Record.CoIT_WorkType_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoIT_RepairPlan_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CoIT_Repair_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Repair_WO_and_WOLI</name>
        <label>Set Repair WO and WOLI</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Repair_WorkOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CoIT_RepairPlans.Repair_Work_Order__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Repair_WorkOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CoIT_RepairPlans.Repair_Work_Order_Line_Item__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_CoIT_RepairPlan_Exists</name>
        <label>There is a Repair Plan</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_CoIT_RepairPlan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome_RepairPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CoIT_RepairPlans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>There_is_a_repair_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Exist_Repair_WorkOrderLineItem</name>
        <label>There is a repair Work Order Line Item</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome_Exist_Repair_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CoIT_RepairPlans.Repair_Work_Order_Line_Item__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Repair_WO_and_WOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_is_a_repair_Work_Order</name>
        <label>There is a repair Work Order</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_CoIT_RepairPlans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome_Exist_Repair_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CoIT_RepairPlans.Repair_Work_Order__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Exist_Repair_WorkOrderLineItem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT AF Manage RepairPlan {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT AF Manage RepairPlan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CoIT_Repair_Plan</name>
        <label>Create CoIT Repair Plan</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_CoIT_RepairPlans</targetReference>
        </connector>
        <inputReference>CoIT_RepairPlan_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CoIT_RepairPlans</name>
        <label>Get CoIT Repair Plans</label>
        <locationX>501</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_CoIT_RepairPlan_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStep_Record.WorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Type_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStep_Record.CoIT_WorkType_Required__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CoIT_RepairPlan__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CoIT_RepairPlans</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CoIT_RepairPlan_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CoIT_RepairPlan__c</objectType>
    </variables>
    <variables>
        <name>Repair_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </variables>
    <variables>
        <name>Repair_WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </variables>
    <variables>
        <name>WorkStep_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
