force-app/main/default/flows/CoIT_Update_WOLI_Repair_Plan_Register.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_WOLI_Details</name>
        <label>Assignment WOLI Details</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>WOLI_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Work_Step_Collection.CoiT_Detail_WorkStep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Work_Step_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Work_Step_Name</name>
        <label>Assignment Work Step Name</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>WOLI_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkStepName_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_WOLI_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_Work_Step_Detail</name>
        <label>Existe Work Step Detail</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Work_Step_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_WorkStepDetail</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Work_Step_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Count_WorkStepDetail</name>
        <dataType>Number</dataType>
        <expression>LEN({!Loop_Work_Step_Collection.CoiT_Detail_WorkStep__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>WorkStepName_Formula</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;h2&gt;&quot;+{!Loop_Work_Step_Collection.Name}+&quot;&lt;/h2&gt;&quot;</expression>
    </formulas>
    <interviewLabel>CoIT Update WOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT Update WOLI Repair Plan Register</label>
    <loops>
        <name>Loop_Work_Step_Collection</name>
        <label>Loop Work Step Collection</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Work_Step_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existe_Work_Step_Detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WOLI_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work_Step_Collection</name>
        <label>Get Work Step Collection</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Work_Step_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkStep</object>
        <sortField>ExecutionOrder</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WOLI_Details</name>
        <label>Update WOLI Details</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Reparation_Plan_Register__c</field>
            <value>
                <elementReference>WOLI_Details</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Step_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderLineItemId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkStep</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WOLI_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
