force-app/main/default/flows/Coit_RTF_Automatic_Dispatched_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Coit RTF Automatic Dispatched WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coit RTF Automatic Dispatched WO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>CoIT_Is_AutomaticDispatched__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Is_AutomaticDispatched__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Completed_Waiting_for_Dispatched_Milestone</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Completed_Waiting_for_Dispatched_Milestone</name>
        <label>Completed Waiting for Dispatched Milestone</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <flowName>CoIT_ALF_Complete_Milestone</flowName>
        <inputAssignments>
            <name>CompletationDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Esperando por Despachado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentEntityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlaProcessId</name>
            <value>
                <elementReference>$Record.EntitlementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
