force-app/main/default/flows/CoIT_RTF_Share_Case_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_ShareCase_To_Collection</name>
        <label>Add Share Case To Collection</label>
        <locationX>572</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>ShareCase_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShareCase_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_InJeopardyHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigment_ShareCase</name>
        <label>Assigment Share Case</label>
        <locationX>572</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>ShareCase_Record.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareCase_Record.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareCase_Record.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceAppointment.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ShareCase_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentCountCaseShare_Collection</name>
        <label>Assigment Count Case Share Collection</label>
        <locationX>484</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Count_ShareCase</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ShareCase_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exist_Record</name>
        <label>Exist Record</label>
        <locationX>484</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistRecord_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_ShareCase</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Share_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Service_Appointment</name>
        <label>Exist Service Appointment</label>
        <locationX>704</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Loop_InJeopardyHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistServiceAppointment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ServiceAppointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigment_ShareCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT RTF Share Case Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT RTF Share Case Collection</label>
    <loops>
        <name>Loop_InJeopardyHistory</name>
        <label>Loop In Jeopardy History</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <collectionReference>InJeopardyHistory_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_ServiceAppointment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssigmentCountCaseShare_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Share_Case</name>
        <label>Create Share Case</label>
        <locationX>352</locationX>
        <locationY>1308</locationY>
        <inputReference>ShareCase_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ServiceAppointment</name>
        <label>Get Service Appointment</label>
        <locationX>704</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_Service_Appointment</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_InJeopardyHistory.CoIT_Service_Appointment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InJeopardyHistory_Record</name>
        <label>Get In Jeopardy History</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_InJeopardyHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoIT_In_Jeopardy_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>InJeopardyHistory_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count_ShareCase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShareCase_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>ShareCase_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
</Flow>
