force-app/main/default/flows/CoIT_AF_AssignOwner_From_WorkOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Evaluate_ManagementType</name>
        <label>Evaluate Management Type</label>
        <locationX>1062</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GestionAutomatica_ManagementType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestión Automatica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ManagementType_To_GestionAutomatica</targetReference>
            </connector>
            <label>Gestion Automatica</label>
        </rules>
        <rules>
            <name>Agendamiento_ManagementType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agendamiento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ManagementType_To_Agendamiento</targetReference>
            </connector>
            <label>Agendamiento</label>
        </rules>
        <rules>
            <name>Alertamientos_ManagementType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alertamientos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQueueIdAlertamiento</targetReference>
            </connector>
            <label>Alertamientos</label>
        </rules>
        <rules>
            <name>FallidoCompletado_ManagementType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fallido Completado</stringValue>
                </rightValue>
            </conditions>
            <label>Fallido Completado</label>
        </rules>
        <rules>
            <name>Cerrado_ManagementType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <label>Cerrado</label>
        </rules>
        <rules>
            <name>Alto_Impacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alto impacto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Management_Type_To_Alto_Impacto</targetReference>
            </connector>
            <label>Alto Impacto</label>
        </rules>
        <rules>
            <name>Bajo_Medio_Impactp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo/medio impacto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Management_Type_To_Bajo_Medio_Impacto</targetReference>
            </connector>
            <label>Bajo/Medio Impactp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_MembersQueueAgendamiento</name>
        <label>Current Owner Is Member Of Queue Agendamiento</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Evaluate_ManagementType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MembersQueueAgendamiento_Outcome</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_MembersQueue_Agendamiento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AgendamientoQueueId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManagementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agendamiento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AgentWork</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_MembersQueueAlertamientos</name>
        <label>Current Owner Is Member Of Queue Alertamiento</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_ManagementType_To_Alertamientos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MembersQueueAlertamientos_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Members_QueueAlertamientos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AlertamientosQueueId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AgentWork</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT AF Assigment Owner From Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Assign Owner From Work Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Members_QueueAlertamientos</name>
        <label>Get Members Queue Alertamientos</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_MembersQueueAlertamientos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AlertamientosQueueId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MembersQueue_Agendamiento</name>
        <label>Get Members Queue Agendamiento</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_MembersQueueAgendamiento</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgendamientoQueueId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueueIdAlertamiento</name>
        <label>Get Queue Id Alertamiento</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Members_QueueAlertamientos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alertamientos</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>AlertamientosQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_AgentWork</name>
        <label>Update Agent Work</label>
        <locationX>468</locationX>
        <locationY>1250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_SendNotify__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AgentWork</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Management_Type_To_Alto_Impacto</name>
        <label>Update Management Type To Alto Impacto</label>
        <locationX>1546</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Management_Type__c</field>
            <value>
                <stringValue>Alto impacto</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Management_Type_To_Bajo_Medio_Impacto</name>
        <label>Update Management Type To Bajo/Medio Impacto</label>
        <locationX>1810</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Management_Type__c</field>
            <value>
                <stringValue>Bajo/medio impacto</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ManagementType_To_Agendamiento</name>
        <label>Update Management Type To Agendamiento</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Management_Type__c</field>
            <value>
                <stringValue>Agendamiento</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ManagementType_To_Alertamientos</name>
        <label>Update Management Type To Alertamientos</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Management_Type__c</field>
            <value>
                <stringValue>Alertamientos</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ManagementType_To_GestionAutomatica</name>
        <label>Update Management Type To Gestión Automatica</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Management_Type__c</field>
            <value>
                <stringValue>Gestión Automatica</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MembersQueue_Agendamiento</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgendamientoQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AlertamientosQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountInJeopardyHistoryAgendamiento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ManagementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
