force-app/main/default/flows/CoIT_TF_Create_WorkOffer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_FirstSchedulePolicyId</name>
        <label>Assignment First Schedule Policy Id</label>
        <locationX>704</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>SchedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSL__Scheduling_Policy_Used__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Offer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SecondSchedulePolicyId</name>
        <label>Assignment Second Schedule Policy Id</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>SchedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_SecondScheduling_PolicyUsed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Offer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ThirdSchedulePolicyId</name>
        <label>Assignment Third Schedule Policy Id</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>SchedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_ThirdScheduling_PolicyUsed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Offer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_WorkOfferQuantity</name>
        <label>Evaluate Work Offer Quantity</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Assignment_FirstSchedulePolicyId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SecondSchedulePolicyId</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ThirdSchedulePolicyId</targetReference>
            </connector>
            <label>2</label>
        </rules>
    </decisions>
    <description>- Create Work Offer Asynchronous in Service Appointment</description>
    <environments>Default</environments>
    <interviewLabel>CoIT TF Create Work Offer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT TF Create Work Offer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Create_WorkOffer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Evaluate_WorkOfferQuantity</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Work_Offer</name>
        <label>Create Work Offer</label>
        <locationX>440</locationX>
        <locationY>576</locationY>
        <flowName>CoIT_WOM_2_AF_CreateWorkOffer_to_AvailableCandidates</flowName>
        <inputAssignments>
            <name>SchedulingPolicyId</name>
            <value>
                <elementReference>SchedulePolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOfferQuantity</name>
            <value>
                <elementReference>$Record.CoIT_Work_Offer_Quantity__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SchedulePolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
