force-app/main/default/flows/CoIT_SFSMF_AdicionalesOperativos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_CountExpensesType</name>
        <label>Assignment Count Expenses Type</label>
        <locationX>1947</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Count_ExpenseTypeAvailable</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ExpenseTypeAvailable_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exists_ExpenseType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Message_Info</name>
        <label>Assignment Message Info</label>
        <locationX>1040</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>MessageInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registro Actualizado con Exito</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ExistExpenseType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewValues_For_Expense1</name>
        <label>Assignment New Values For Expense</label>
        <locationX>1172</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Expense_Record.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_Record.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_Record.CoIT_Expense_SIAB_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseType_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_Record.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_Record.CoIT_ExpenseType_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseType_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_Record.ExpenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseType_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Quantity_BooleanNO</name>
        <label>Assignment Quantity Boolean NO</label>
        <locationX>1370</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ExpenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_ExpenseType_For_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Quantity_BooleanSI</name>
        <label>Assignment Quantity Bolean Yes</label>
        <locationX>1106</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ExpenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_ExpenseType_For_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Quantity_Decimal</name>
        <label>Assignment Quantity Decimal</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ExpenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NU_Cantidad2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_ExpenseType_For_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Quantity_DecimalWOValidation</name>
        <label>Assignment Quantity Decimal</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ExpenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NU_Cantidad2WOValidation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_ExpenseType_For_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Quantity_String</name>
        <label>Assignment Quantity String</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>ExpenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TXT_Otros</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_ExpenseType_For_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QuantityNumber</name>
        <label>Assignment Quantity Number</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ExpenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NU_Cantidad</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_ExpenseType_For_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QuantityNumber_WOValidation</name>
        <label>Assignment Quantity Number</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ExpenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NU_CantidadWOValidation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_ExpenseType_For_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_UpdateValues_For_Expense</name>
        <label>Assignment Update Values For Expense</label>
        <locationX>908</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Expense_Record.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense_Record.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Expense</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CH_NO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Si</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Evaluate_Decision</name>
        <label>Evaluate Decision to Continue</label>
        <locationX>1557</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_AdicionalesOperativos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Select_ExpenseType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_InputDataType</name>
        <label>Input Data Type</label>
        <locationX>1040</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Exist_ExpenseType_For_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_InputDataType_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExpenseType_Record.CoIT_InputDataType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Quantity_Number</targetReference>
            </connector>
            <label>Number</label>
        </rules>
        <rules>
            <name>Decimal_InputDataType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpenseType_Record.CoIT_InputDataType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decimal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Quantity_Decimal</targetReference>
            </connector>
            <label>Decimal</label>
        </rules>
        <rules>
            <name>SI_NO_InputDataType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpenseType_Record.CoIT_InputDataType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boolean</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_CreateUpdate_ExpenseType_Boolean</targetReference>
            </connector>
            <label>SI/NO</label>
        </rules>
        <rules>
            <name>String_InputDataType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpenseType_Record.CoIT_InputDataType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>String</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_CreateUpdate_ExpenseType_String</targetReference>
            </connector>
            <label>String</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Selection_Boolean</name>
        <label>Evaluate Selection Boolean</label>
        <locationX>1238</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Assignment_Quantity_BooleanNO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Selection_Boolean_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_Quantity_Bolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Quantity_BooleanSI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_ExpenseType_For_WorkOrder</name>
        <label>Exist Expense Type For Work Order</label>
        <locationX>1040</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Assignment_NewValues_For_Expense1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist_ExpenseType_For_WorkOrder_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Expense_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_UpdateValues_For_Expense</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_ExpenseType</name>
        <label>Exists Expense Type</label>
        <locationX>1947</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Screen_NoExtist_ExpenseType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_ExpenseType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_ExpenseTypeAvailable</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_ExistExpenseType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Quantity_Decimal</name>
        <label>Validate Quantity Decimal</label>
        <locationX>710</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Screen_CreateUpdate_ExpenseType_Decimal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Zero_or_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExpenseType_Record.CoIT_InputQuantityLimit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExpenseType_Record.CoIT_InputQuantityLimit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_CreateUpdate_ExpenseType_DecimalWOValidation</targetReference>
            </connector>
            <label>Is Zero or Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Quantity_Number</name>
        <label>Validate Quantity Number</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Screen_CreateUpdate_ExpenseType_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuantityNumber_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExpenseType_Record.CoIT_InputQuantityLimit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExpenseType_Record.CoIT_InputQuantityLimit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_CreateUpdate_ExpenseType_Number_WOValidation</targetReference>
            </connector>
            <label>Is Zero or Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RCS_ExpenseTypeAvailable</name>
        <dataType>String</dataType>
        <displayField>CoIT_ExpenseTypeName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Type_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </filters>
        <object>CoIT_Expense_Type_Selection_Rule__c</object>
        <valueField>CoIT_ExpenseType_Id__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CoIT SFSMF Adicionales Operativos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT SFSMF Adicionales Operativos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Expense</name>
        <label>Create Expense</label>
        <locationX>1172</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Assignment_Message_Info</targetReference>
        </connector>
        <inputReference>Expense_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Expense_Data</name>
        <label>Get Expense Data</label>
        <locationX>1040</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_InputDataType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_ExpenseType_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PL_ExpenseType1</elementReference>
            </value>
        </filters>
        <object>Expense</object>
        <outputReference>Expense_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Quantity</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ExpensesType_Collection</name>
        <label>Get Expenses Type Collection</label>
        <locationX>1947</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_CountExpensesType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Type_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </filters>
        <object>CoIT_Expense_Type_Selection_Rule__c</object>
        <outputReference>ExpenseTypeAvailable_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CoIT_ExpenseType_Id__c</queriedFields>
        <queriedFields>CoIT_ExpenseTypeName__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_ExpenseType_Record</name>
        <label>Get Expense Type Data</label>
        <locationX>1040</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Expense_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PL_ExpenseType1</elementReference>
            </value>
        </filters>
        <object>CoIT_Expense_Type__c</object>
        <outputReference>ExpenseType_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CoIT_External_SIAB_Id__c</queriedFields>
        <queriedFields>CoIT_InputDataType__c</queriedFields>
        <queriedFields>CoIT_InputUnitMeasurement__c</queriedFields>
        <queriedFields>CoIT_InputQuantityLimit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrderId</name>
        <label>Get WorkOrder Id</label>
        <locationX>1947</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputAssignments>
            <assignToReference>WorkOrderId</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkTypeId</name>
        <label>Get Work Type Id</label>
        <locationX>1947</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ExpensesType_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>WorkTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expense</name>
        <label>Update Expense</label>
        <locationX>908</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Assignment_Message_Info</targetReference>
        </connector>
        <inputReference>Expense_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_CreateUpdate_ExpenseType_Boolean</name>
        <label>Create or Update Expense Type</label>
        <locationX>1238</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evaluate_Selection_Boolean</targetReference>
        </connector>
        <fields>
            <name>DT_Screen_AO_SiNo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Agregar o Actualizar Adicional Operativo&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo&lt;/strong&gt;: {!ExpenseType_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Unidad de medida&lt;/strong&gt;: {!ExpenseType_Record.CoIT_InputUnitMeasurement__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_Quantity_Bolean</name>
            <choiceReferences>CH_Si</choiceReferences>
            <choiceReferences>CH_NO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione la Opcion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_CreateUpdate_ExpenseType_Decimal</name>
        <label>Create or Update Expense Type Decimal</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Quantity_Decimal</targetReference>
        </connector>
        <fields>
            <name>DT_Screen_AO_Decimal</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Agregar o Actualizar Adicional Operativo&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo&lt;/strong&gt;: {!ExpenseType_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Unidad de medida&lt;/strong&gt;: {!ExpenseType_Record.CoIT_InputUnitMeasurement__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NU_Cantidad2</name>
            <dataType>Number</dataType>
            <fieldText>Cantidad</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La cantidad Ingresada, excede el limite permitido, por favor ingrese una cantidad inferior a {!ExpenseType_Record.CoIT_InputQuantityLimit__c} {!ExpenseType_Record.CoIT_InputUnitMeasurement__c}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!NU_Cantidad2} &lt;= {!ExpenseType_Record.CoIT_InputQuantityLimit__c}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_CreateUpdate_ExpenseType_DecimalWOValidation</name>
        <label>Create or Update Expense Type Decimal</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Quantity_DecimalWOValidation</targetReference>
        </connector>
        <fields>
            <name>DT_Screen_AO_DecimalWOValidation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Agregar o Actualizar Adicional Operativo&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo&lt;/strong&gt;: {!ExpenseType_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Unidad de medida&lt;/strong&gt;: {!ExpenseType_Record.CoIT_InputUnitMeasurement__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NU_Cantidad2WOValidation</name>
            <dataType>Number</dataType>
            <fieldText>Cantidad</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_CreateUpdate_ExpenseType_Number</name>
        <label>Create or Update Expense Type</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_QuantityNumber</targetReference>
        </connector>
        <fields>
            <name>DT_Screen_AO_Number</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Agregar o Actualizar Adicional Operativo&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo&lt;/strong&gt;: {!ExpenseType_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Unidad de medida&lt;/strong&gt;: {!ExpenseType_Record.CoIT_InputUnitMeasurement__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NU_Cantidad</name>
            <dataType>Number</dataType>
            <fieldText>Cantidad</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;La cantidad Ingresada, excede el limite permitido, por favor ingrese una cantidad inferior a {!ExpenseType_Record.CoIT_InputQuantityLimit__c}  {!ExpenseType_Record.CoIT_InputUnitMeasurement__c}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!NU_Cantidad} &lt;={!ExpenseType_Record.CoIT_InputQuantityLimit__c}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_CreateUpdate_ExpenseType_Number_WOValidation</name>
        <label>Create or Update Expense Type Without Validation</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_QuantityNumber_WOValidation</targetReference>
        </connector>
        <fields>
            <name>DT_Screen_AO_NumberWOValidation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Agregar o Actualizar Adicional Operativo&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo&lt;/strong&gt;: {!ExpenseType_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Unidad de medida&lt;/strong&gt;: {!ExpenseType_Record.CoIT_InputUnitMeasurement__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NU_CantidadWOValidation</name>
            <dataType>Number</dataType>
            <fieldText>Cantidad</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_CreateUpdate_ExpenseType_String</name>
        <label>Create or Update Expense Type</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Quantity_String</targetReference>
        </connector>
        <fields>
            <name>DT_Screen_AO_String</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Agregar o Actualizar Adicional Operativo&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo&lt;/strong&gt;: {!ExpenseType_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Unidad de medida&lt;/strong&gt;: {!ExpenseType_Record.CoIT_InputUnitMeasurement__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TXT_Otros</name>
            <dataType>String</dataType>
            <fieldText>Ingrese el Concepto</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;La cantidad Ingresada, excede el limite permitido, por favor ingrese una cantidad inferior a &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); --darkreader-inline-bgcolor: #dcdad7; --darkreader-inline-color: #484e51;&quot; data-darkreader-inline-bgcolor=&quot;&quot; data-darkreader-inline-color=&quot;&quot;&gt;{!ExpenseType_Record.CoIT_InputQuantityLimit__c} caracteres.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!TXT_Otros}) &lt;= {!ExpenseType_Record.CoIT_InputQuantityLimit__c}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_ExistExpenseType</name>
        <label>Screen Exist Expense Type</label>
        <locationX>1557</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evaluate_Decision</targetReference>
        </connector>
        <fields>
            <name>DT_Screen_Exist_ExpenseType</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Agregar Actualizar Adicionales Operativos&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_GeneralInfo</name>
            <fieldText>&lt;p&gt;Este tipo de Trabajo permite agregar adicionales Operativos.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Selecione la opción SI para agregar o actualizar un adicional operativo.&lt;/li&gt;&lt;li&gt;Seleccione NO para finalizar el proceso&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_AdicionalesOperativos</name>
            <choiceReferences>CH_Si</choiceReferences>
            <choiceReferences>CH_NO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione la opción deseada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_Screen_ExistExpenseType_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(35, 38, 173);&quot;&gt;{!MessageInfo}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_NoExtist_ExpenseType</name>
        <label>Gestionar Adicionales Operativos</label>
        <locationX>2338</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Screen_NoExtist_ExpenseType</name>
            <fieldText>&lt;p&gt;No existen adicionales operativos disponibles para agregar a este tipo de trabajo, si considera que esto es un error por favor comuniquese con su administrador de Salesforce&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_ExpenseType</name>
        <label>Screen Select Expense Type</label>
        <locationX>1040</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ExpenseType_Record</targetReference>
        </connector>
        <fields>
            <name>DT_Screen_ExpenseType_SelectedOption</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Agregar Actualizar Adicionales Operativos&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_ExpenseType1</name>
            <choiceReferences>RCS_ExpenseTypeAvailable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione una Opción:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1821</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WorkOrderId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Count_ExpenseTypeAvailable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Expense_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>ExpenseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ExpenseQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExpenseType_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CoIT_Expense_Type__c</objectType>
    </variables>
    <variables>
        <name>ExpenseTypeAvailable_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CoIT_Expense_Type_Selection_Rule__c</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
