force-app/main/default/flows/CoIT_TF_Update_WorkOffer_CandidatesInfo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_CandidatesOfTheRing</name>
        <label>Assignment Candidates Of The Ring</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>CountOutsideOfTheRing</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_WorkOfferDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WorkOffer</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CoIT TF Update Candidates Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT TF Update Work Offer Candidates Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_WorkOfferDetails</name>
        <label>Get Work Offer Details</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_CandidatesOfTheRing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WOM_WorkOffer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_OutsideOfTheRing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WOM_WorkOfferDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WorkOffer</name>
        <label>Update Work Offer</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Update_CandidatesNumber__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WOM_NumberOfCandidatesOutsideRing__c</field>
            <value>
                <elementReference>CountOutsideOfTheRing</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Update_CandidatesNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WOM_WorkOffer__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_WorkOfferDetails</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOutsideOfTheRing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
