force-app/main/default/flows/CoIT_TF_ValidateScheduling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_WorkOrder_New</name>
        <label>Work Order have status New?</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_WorkOrder_New_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Appointment_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_IJH_Unscheduled_service</name>
        <label>Exist IJH Unscheduled service?</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>CoIT_AF_Set_SA_Jeopardy_and_Create_Record_History_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IJH_Unscheduled_service</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TF Validate Scheduling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TF Validate Scheduling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_IJH_Unscheduled_service</name>
        <label>Get IJH Unscheduled service</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_IJH_Unscheduled_service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unscheduled service</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CoIT_In_Jeopardy_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_Id</name>
        <label>Get Service Appointment Id</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IJH_Unscheduled_service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>AppointmentNumber</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>226</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>CoIT_ValidateScheduling__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_WorkOrder_New</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_ValidateScheduling__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CoIT_AF_Evaluate_Case_Assignment_Flow</name>
        <label>CoIT AF Evaluate Case Assignment Flow</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <flowName>CoIT_AF_Evaluate_Case_Assignment</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CoIT_AF_Set_SA_Jeopardy_and_Create_Record_History_Flow</name>
        <label>CoIT AF Set SA Jeopardy and Create Record History Flow</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>CoIT_AF_Evaluate_Case_Assignment_Flow</targetReference>
        </connector>
        <flowName>CoIT_AF_Set_SAJeopardy_and_Create_RecordHistory</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_InJeopardyReason</name>
            <value>
                <stringValue>Service accepted but not scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
