force-app/main/default/flows/CoIT_AF_Create_SkillRequirement_For_WOLIs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_NewSkillRequirement</name>
        <label>Add New Skill Requirement</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SkillRequirement_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SkillRequirement_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WorkOrder_SkillsRequirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CountSkillRequirement</name>
        <label>Assignment Count Skill Requirement</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Count_SkillRequirement</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SkillsRequiriment_From_WorkOrder_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_SkillRequirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SkillRequirement_NewRecord</name>
        <label>Set Skill Requirement Data</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SkillRequirement_Record.SkillId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WorkOrder_SkillsRequirement.SkillId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SkillRequirement_Record.SkillLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WorkOrder_SkillsRequirement.SkillLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SkillRequirement_Record.SkillPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WorkOrder_SkillsRequirement.SkillPriority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SkillRequirement_Record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_NewSkillRequirement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exist_SkillRequirement</name>
        <label>Exist Skill Requirement</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SkillRequirement_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_SkillRequirement</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_WorkOrder_SkillsRequirement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Create Skill Requirement For WOLIs</label>
    <loops>
        <name>Loop_WorkOrder_SkillsRequirement</name>
        <label>Loop Work Order Skills Requirement</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>SkillsRequiriment_From_WorkOrder_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_SkillRequirement_NewRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Skill_Requirement_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Skill_Requirement_Collection</name>
        <label>Create Skill Requirement Collection</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <inputReference>SkillRequirement_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>SkillsRequiriment_From_WorkOrder_Records</name>
        <label>Get Skills Requiriment From Work Order</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_CountSkillRequirement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SkillRequirement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SkillsRequiriment_From_WorkOrder_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Count_SkillRequirement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SkillRequirement_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>SkillRequirement_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
