force-app/main/default/flows/CoIT_WOM_6_RTF_Retry_ScheduleExtendedProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_SchedulePolicyId_With_FirstPolicy</name>
        <label>Assignment Schedule Policy Id With First Policy</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>SchedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSL__Scheduling_Policy_Used__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LaunchScheduleExtended</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SchedulePolicyId_With_SecondPolicy</name>
        <label>Assignment Schedule Policy Id With Second Policy</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>SchedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_SecondScheduling_PolicyUsed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LaunchScheduleExtended</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SchedulePolicyId_With_ThirdPolicy</name>
        <label>Assignment Schedule Policy Id With First Policy</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>SchedulePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoIT_ThirdScheduling_PolicyUsed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LaunchScheduleExtended</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Preference_ResourceIsNull</name>
        <label>Preference Resource Is Null ?</label>
        <locationX>908</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PreferenceResourceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_WorkOfferQuantity</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PreferenceResourceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WorkOrder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_WorkOfferQuantity</name>
        <label>Validate Work Offer Quantity</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assignment_SchedulePolicyId_With_FirstPolicy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SchedulePolicyId_With_FirstPolicy</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SchedulePolicyId_With_SecondPolicy</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3_WorkOfferQuantity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Work_Offer_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SchedulePolicyId_With_ThirdPolicy</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT WOM 6 RTF Retryd Schedule Extended Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT WOM 6 RTF Retry Schedule Extended Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PreferenceResourceRecord</name>
        <label>Get Preference Resource</label>
        <locationX>908</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Preference_ResourceIsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ServiceAppointment</name>
        <label>Update Service Appointment</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>CoIT_WOM_ValidateSchedule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrder</name>
        <label>Update Work Order</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Update_ServiceAppointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Is_Failed_Scheduled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_WOM_ScheduleExtended__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_WOM_ValidateSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_PreferenceResourceRecord</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>LaunchScheduleExtended</name>
        <label>Launch Schedule Extended</label>
        <locationX>446</locationX>
        <locationY>792</locationY>
        <flowName>CoIT_WOM_2_AF_Lauch_Schedule_Extended</flowName>
        <inputAssignments>
            <name>PreferenceType</name>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingPolicyId</name>
            <value>
                <elementReference>SchedulePolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TransactionAfterSchedule</name>
            <value>
                <stringValue>Change to Preferred After Scheduled</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SchedulePolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
