force-app/main/default/flows/CoIT_AF_Integracion_Actualizacion_de_Estados_Fallidos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_update</name>
        <label>Integracion Autos Status</label>
        <locationX>209</locationX>
        <locationY>2016</locationY>
        <actionName>IntegracionStateBolivar</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActividadesCantidades</name>
        </inputParameters>
        <inputParameters>
            <name>AssignmentFinish</name>
            <value>
                <elementReference>$Record.ActualEndTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AssignmentStart</name>
            <value>
                <elementReference>$Record.ActualStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Attachments</name>
            <value>
                <elementReference>V_Attachment_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BLDestinationCity</name>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BLDestinationLatitude</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Address__Latitude__s</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BLSchedulingType</name>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BLStreet</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Address__Street__s</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CancellationReason</name>
            <value>
                <elementReference>$Record.CoIT_Status_Reason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Causa</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Causa__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CausaCodigo</name>
            <value>
                <elementReference>Get_Case.CoIT_Codigo_Causa__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CausaDano</name>
        </inputParameters>
        <inputParameters>
            <name>CedulaAsegurado</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Documento_Asegurado__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>City</name>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CodigoRamo</name>
            <value>
                <elementReference>Get_Case.CoIT_Codigo_del_Ramo__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Comment</name>
            <value>
                <elementReference>V_Comments_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CompletionDate</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Expected_Completed_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ConfirmationDate</name>
            <value>
                <stringValue>1899-12-30T00:00:00</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactDate</name>
            <value>
                <stringValue>1899-12-30T00:00:00</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactEmail</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Continent</name>
            <value>
                <stringValue>Grupo Bolivar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CostoTotalAtencion</name>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Customer</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Nombre_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerEmail</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Email_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DanosOcurridos</name>
        </inputParameters>
        <inputParameters>
            <name>Diagnostico</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Diagnostico__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DispatchDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DueDate</name>
            <value>
                <elementReference>$Record.DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <elementReference>$Record.DurationInMinutes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EarliestStart</name>
            <value>
                <elementReference>$Record.EarliestStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FailConfirmed</name>
            <value>
                <stringValue>0.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FailureReason</name>
            <value>
                <elementReference>$Record.CoIT_Status_Subreason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>GuaranteeObservations</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>GuaranteeReason</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IDEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.CoIT_N_Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IDResponsable</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsGuarantee</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Garantia__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Kilometraje</name>
            <value>
                <elementReference>$Record.CoIT_Kilometer__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LateStart</name>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Latitude</name>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Longitude</name>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameArea</name>
            <value>
                <stringValue>Asistencia Bolivar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Numero</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroDocumento</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Account.CoIT_Numero_de_Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroDocumentoEnginner</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.CoIT_N_Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroDocumentoProveedor</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Account.CoIT_Numero_de_Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroOT</name>
        </inputParameters>
        <inputParameters>
            <name>NumeroSiniestro</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Numero_Siniestro__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Observaciones</name>
            <value>
                <elementReference>Get_Case.CoIT_Observaciones__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObservationsAsset</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OnSiteDate</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Expected_InProgress_Start__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OpenDate</name>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PlanReparacion</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_WOM_Requires_Repair_Plan__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductoCodigo</name>
            <value>
                <elementReference>Get_Case.CoIT_Codigo_del_Producto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Proveedor</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Region</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Riesgo</name>
            <value>
                <elementReference>Get_Case.CoIT_Riesgo__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SchedEndTime</name>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SchedStartTime</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ScheduleDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServCodigo</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Codigo_Servicio__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAccepted</name>
            <value>
                <elementReference>$Record.CoIT_Acceptance_Status__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceResource</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTerritory</name>
            <value>
                <elementReference>Get_Work_Order.ServiceTerritory.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServicioNoestandar</name>
        </inputParameters>
        <inputParameters>
            <name>Signature</name>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Street</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Technician</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TelefonoAsegurado</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Telefono_Asegurado__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TiempoSoluccionDiccionario</name>
            <value>
                <elementReference>Get_Case.CoIT_Click_Severity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TipificaSiab</name>
            <value>
                <stringValue>-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TipoDocumentoEnginner</name>
            <value>
                <stringValue>CC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TipoDocumentoPro</name>
            <value>
                <stringValue>NT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TipoDocumentoResponsable</name>
            <value>
                <stringValue>CC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TravelDate</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Expected_Travel_Start__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VigenciaSOAT</name>
        </inputParameters>
        <inputParameters>
            <name>VigenciaTecno</name>
        </inputParameters>
        <inputParameters>
            <name>WorkTypeId</name>
            <value>
                <elementReference>Get_Work_Order.WorkType.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionStateBolivar</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Integracion_Hogares_Status</name>
        <label>Integracion Hogares Status</label>
        <locationX>473</locationX>
        <locationY>2124</locationY>
        <actionName>IntegracionStateBolivar</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActividadesCantidades</name>
        </inputParameters>
        <inputParameters>
            <name>AssignmentFinish</name>
            <value>
                <elementReference>$Record.ActualEndTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AssignmentStart</name>
            <value>
                <elementReference>$Record.ActualStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Attachments</name>
            <value>
                <elementReference>V_Attachment_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BLDestinationCity</name>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BLDestinationLatitude</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Address__Latitude__s</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BLSchedulingType</name>
            <value>
                <elementReference>$Record.CoIT_WOM_Scheduling_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BLStreet</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Address__Street__s</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallID</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Authorization_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CancellationReason</name>
            <value>
                <elementReference>$Record.CoIT_Status_Reason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Causa</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Causa__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CausaCodigo</name>
            <value>
                <elementReference>Get_Case.CoIT_Codigo_Causa__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CausaDano</name>
        </inputParameters>
        <inputParameters>
            <name>CedulaAsegurado</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Documento_Asegurado__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>City</name>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CodigoRamo</name>
            <value>
                <elementReference>Get_Case.CoIT_Codigo_del_Ramo__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Comment</name>
            <value>
                <elementReference>V_Comments_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CompletionDate</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Expected_Completed_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ConfirmationDate</name>
            <value>
                <stringValue>1899-12-30T00:00:00</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactDate</name>
            <value>
                <stringValue>1899-12-30T00:00:00</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactEmail</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPhoneNumber</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Telefono_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Continent</name>
            <value>
                <stringValue>Grupo Bolivar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CostoTotalAtencion</name>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Customer</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Nombre_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerEmail</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Email_Solicitante__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DanosOcurridos</name>
        </inputParameters>
        <inputParameters>
            <name>Diagnostico</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Diagnostico__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DispatchDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DueDate</name>
            <value>
                <elementReference>$Record.DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <elementReference>$Record.DurationInMinutes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EarliestStart</name>
            <value>
                <elementReference>$Record.EarliestStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FailConfirmed</name>
            <value>
                <stringValue>0.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FailureReason</name>
            <value>
                <elementReference>$Record.CoIT_Status_Subreason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>GuaranteeObservations</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>GuaranteeReason</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IDEngineer</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.CoIT_N_Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IDResponsable</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsGuarantee</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Garantia__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LateStart</name>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Latitude</name>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Longitude</name>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameArea</name>
            <value>
                <stringValue>Asistencia Bolivar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Numero</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroDocumento</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Account.CoIT_Numero_de_Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroDocumentoEnginner</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.CoIT_N_Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroDocumentoProveedor</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Account.CoIT_Numero_de_Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumeroOT</name>
        </inputParameters>
        <inputParameters>
            <name>NumeroSiniestro</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Numero_Siniestro__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Observaciones</name>
            <value>
                <elementReference>Get_Case.CoIT_Observaciones__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObservationsAsset</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OnSiteDate</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Expected_InProgress_Start__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OpenDate</name>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PlanReparacion</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_WOM_Requires_Repair_Plan__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductoCodigo</name>
            <value>
                <elementReference>Get_Case.CoIT_Codigo_del_Producto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Proveedor</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Region</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Riesgo</name>
            <value>
                <elementReference>Get_Case.CoIT_Riesgo__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SchedEndTime</name>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SchedStartTime</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ScheduleDate</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServCodigo</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Codigo_Servicio__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceAccepted</name>
            <value>
                <elementReference>$Record.CoIT_Acceptance_Status__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceResource</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTerritory</name>
            <value>
                <elementReference>Get_Work_Order.ServiceTerritory.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServicioNoestandar</name>
        </inputParameters>
        <inputParameters>
            <name>Signature</name>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Street</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Technician</name>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TelefonoAsegurado</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Telefono_Asegurado__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TiempoSoluccionDiccionario</name>
            <value>
                <elementReference>Get_Case.CoIT_Click_Severity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TipificaSiab</name>
            <value>
                <stringValue>-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TipoDocumentoEnginner</name>
            <value>
                <stringValue>CC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TipoDocumentoPro</name>
            <value>
                <stringValue>NT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TipoDocumentoResponsable</name>
            <value>
                <stringValue>CC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TravelDate</name>
            <value>
                <elementReference>Get_Work_Order.CoIT_Expected_Travel_Start__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VigenciaSOAT</name>
        </inputParameters>
        <inputParameters>
            <name>VigenciaTecno</name>
        </inputParameters>
        <inputParameters>
            <name>WorkTypeId</name>
            <value>
                <elementReference>Get_Work_Order.WorkType.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegracionStateBolivar</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Attachment_Name</name>
        <label>Add Attachment Name</label>
        <locationX>387</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>V_Attachment_Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>F_Attachment_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Comments_Name</name>
        <label>Add Comments Name</label>
        <locationX>387</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>V_Comments_Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>F_Comment_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection_Attachment</name>
        <label>Assign Collection Attachment</label>
        <locationX>407</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>V_Count_Attachment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Attachment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection_Comments</name>
        <label>Assign Collection Comments</label>
        <locationX>407</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>V_Count_Comments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_Comments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exist_Attachment</name>
        <label>Exist Attachment</label>
        <locationX>407</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Is_a_RT_Autos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist_Attach_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Count_Attachment</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Attachment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Comments</name>
        <label>Exist Comments</label>
        <locationX>407</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Get_Attachment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist_Comments_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Count_Comments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Comments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_RT_Autos</name>
        <label>Is a RT Autos?</label>
        <locationX>407</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>Is_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Autos_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fallido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_update</targetReference>
            </connector>
            <label>Yes Is Autos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Approved</name>
        <label>Is Approved</label>
        <locationX>605</locationX>
        <locationY>2016</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hogares</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoIT_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fallido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integracion_Hogares_Status</targetReference>
            </connector>
            <label>Yes Is Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>F_Attachment_Name</name>
        <dataType>String</dataType>
        <expression>{!Loop_Attachment.ContentDocument.Title} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>F_Comment_Name</name>
        <dataType>String</dataType>
        <expression>{!Loop_Comments.Body} + &quot;;&quot;</expression>
    </formulas>
    <interviewLabel>CoIT AF Integracion Actualizacion de Estados Fallidos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Integracion Actualizacion de Estados Fallidos</label>
    <loops>
        <name>Loop_Attachment</name>
        <label>Loop Attachment</label>
        <locationX>299</locationX>
        <locationY>1524</locationY>
        <collectionReference>Get_Attachment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Attachment_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_a_RT_Autos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Comments</name>
        <label>Loop Comments</label>
        <locationX>299</locationX>
        <locationY>816</locationY>
        <collectionReference>Get_Comment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Comments_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Attachment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Attachment</name>
        <label>Get Attachment</label>
        <locationX>407</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Collection_Attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>407</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Comment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Comment</name>
        <label>Get Comment</label>
        <locationX>407</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Collection_Comments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>407</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Attachment_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Attachment_Name_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Comments_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Count_Attachment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_Count_Comments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
