force-app/main/default/flows/CoIT_AF_Set_SAJeopardy_and_Create_RecordHistory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_exist_injeopardy</name>
        <label>Assignment exist injeopardy</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ExistInJeopardy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Injeopardy_reason</name>
        <label>Injeopardy reason</label>
        <locationX>1502</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ServiceAppointment_UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unscheduled_service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_InJeopardyReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unscheduled service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_SA</targetReference>
            </connector>
            <label>Unscheduled service</label>
        </rules>
        <rules>
            <name>No_candidates_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_InJeopardyReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No candidates found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Status_SA</targetReference>
            </connector>
            <label>No candidates found</label>
        </rules>
        <rules>
            <name>No_technicians_were_found_available_for_the_offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_InJeopardyReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No technicians were found available for the offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Status_SA</targetReference>
            </connector>
            <label>No technicians were found available for the offer</label>
        </rules>
        <rules>
            <name>The_service_has_not_been_accepted_by_any_technician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_InJeopardyReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>The service has not been accepted by any technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Status_SA</targetReference>
            </connector>
            <label>The service has not been accepted by any technician</label>
        </rules>
        <rules>
            <name>Service_not_dispatched_to_technician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_InJeopardyReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service not dispatched to technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_Dispatched_SA</targetReference>
            </connector>
            <label>Service not dispatched to technician</label>
        </rules>
        <rules>
            <name>Technician_has_not_started_travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_InJeopardyReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician has not started travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Travel_SA</targetReference>
            </connector>
            <label>Technician has not started travel</label>
        </rules>
        <rules>
            <name>Technician_has_not_arrived_on_site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_InJeopardyReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician has not arrived on site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_In_Progress_SA</targetReference>
            </connector>
            <label>Technician has not arrived on site</label>
        </rules>
        <rules>
            <name>Technician_is_taking_more_time_than_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_InJeopardyReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician is taking more time than required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_Completed_SA</targetReference>
            </connector>
            <label>Technician is taking more time than required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sa_Is_Completed</name>
        <label>Sa Is Completed?</label>
        <locationX>2646</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ServiceAppointment_UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SaIsCompleted_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assignment_exist_injeopardy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sa_Is_Dispatched</name>
        <label>Sa Is Dispatched?</label>
        <locationX>1326</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ServiceAppointment_UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SaIsDispatched_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assignment_exist_injeopardy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sa_Is_In_Progress</name>
        <label>Sa Is In Progress?</label>
        <locationX>2206</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ServiceAppointment_UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SaIsInProgress_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assignment_exist_injeopardy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sa_Is_none</name>
        <label>Sa Is none ?</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assignment_exist_injeopardy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SaIsNone_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ServiceAppointment_UpdateRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sa_Is_Travel</name>
        <label>Sa Is Travel?</label>
        <locationX>1766</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ServiceAppointment_UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SaIsTravel_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assignment_exist_injeopardy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>- Asignar campo de recent queue</description>
    <environments>Default</environments>
    <interviewLabel>CoIT AF Set Jeopardy and Create Record History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT AF Set SA Jeopardy and Create Record History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InJeopardyHistoryRecord_CreateRecord</name>
        <label>Create In Jeopardy History Record</label>
        <locationX>1502</locationX>
        <locationY>950</locationY>
        <inputAssignments>
            <field>CoIT_Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_In_Jeopardy_Reason__c</field>
            <value>
                <elementReference>V_InJeopardyReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Service_Appointment__c</field>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Work_Order__c</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_In_Jeopardy_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Status_Completed_SA</name>
        <label>Get Status Completed SA</label>
        <locationX>2646</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sa_Is_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppointmentStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Status_Dispatched_SA</name>
        <label>Get Status Dispatched SA</label>
        <locationX>1326</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sa_Is_Dispatched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppointmentStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Status_In_Progress_SA</name>
        <label>Get Status In Progress SA</label>
        <locationX>2206</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sa_Is_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppointmentStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Status_SA</name>
        <label>Get Status SA</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sa_Is_none</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppointmentStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Status_Travel_SA</name>
        <label>Status Travel SA</label>
        <locationX>1766</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sa_Is_Travel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppointmentStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ServiceAppointment_UpdateRecord</name>
        <label>Update Service Appointment Record</label>
        <locationX>1502</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>InJeopardyHistoryRecord_CreateRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__InJeopardyReason__c</field>
            <value>
                <elementReference>V_InJeopardyReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InJeopardy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Injeopardy_reason</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistInJeopardy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ManagementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_AutoSchedule</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>V_InJeopardyReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
