force-app/main/default/flows/CoIT_SFSMF_Reporte_de_Novedades.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Product_Required_Update_for_Approval</name>
        <label>Product Required Update for Approval</label>
        <locationX>534</locationX>
        <locationY>2678</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ProductRequiredId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Se ha actualizado el valor de la cantidad requerida, por favor verifíquelo en el campo Nueva Cantidad Requerida</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>Asesor_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CoIT_AP_Novedad_Actualizacion_Servicio</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Work_Order_Line_Item_for_Approval</name>
        <label>Work Order Line Item for Approval</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>WorkOrderLineItem_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>LTA_Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>Asesor_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CoIT_AP_Novedad_Fecha</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
    </actionCalls>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Asesor_Id</name>
        <label>Asignar Asesor Id</label>
        <locationX>1733</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Asesor_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrder_Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeNameIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Expense_Record</name>
        <label>Set Expense Record</label>
        <locationX>1326</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>NewExpense_Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_Record.CoIT_Partner_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.CoIT_WorkOrderLineItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineItem_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DT_Material_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.ExpenseEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.ExpenseStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.ExpenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facturable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.CoIT_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_Zona</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Cantidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExpense_Record.CoIT_To_AP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Zone_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Dates_on_WOLI_Record</name>
        <label>Set New Dates on WOLI Record</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>New_WOLI_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineItem_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_WOLI_Record.CoIT_New_StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DT_StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_WOLI_Record.CoIT_New_EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DT_EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order_Line_Item_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Required_ID</name>
        <label>Set Product Required ID</label>
        <locationX>754</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>ProductRequiredId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Variable_Loop_ProductRequired.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Aux_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Product_Required_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Required_Record</name>
        <label>Set Product Required Record</label>
        <locationX>666</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>NewProductRequired_Record.CoIT_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_Zona2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductRequired_Record.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineItem_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductRequired_Record.ParentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductRequired_Record.CoIT_New_Quantity_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_QuantityRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductRequired_Record.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductRequired_Record.CoIT_Quantity_Affected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_QuantityAffected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductRequired_Record.QuantityRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_QuantityRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductRequired_Record.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductRequired_Record.CoIT_To_AP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Product_Required_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>C_Dates</name>
        <choiceText>Fechas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fechas</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Materials</name>
        <choiceText>Materiales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiales</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_No</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Services</name>
        <choiceText>Servicios</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicios</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Yes</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Dates_or_Materials</name>
        <label>Dates or Materials</label>
        <locationX>1084</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dates_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_New_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Dates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Select_Dates</targetReference>
            </connector>
            <label>Dates</label>
        </rules>
        <rules>
            <name>Materials_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_New_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Materials</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seleccione_Servicio_o_Material</targetReference>
            </connector>
            <label>Materials</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Product_Required</name>
        <label>Exist Product Required?</label>
        <locationX>886</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Loop_Product_Required_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Variable_Loop_ProductRequired.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NewProductRequired_Record.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Required_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_ProductRequiredId</name>
        <label>Exist ProductRequiredId?</label>
        <locationX>666</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Create_New_Product_Required_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Aux_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Required</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeNameIs</name>
        <label>RecordType Name Is</label>
        <locationX>1733</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SC_Message_Advice_Cars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otros</defaultConnectorLabel>
        <rules>
            <name>Hogar_RecordTypeNameIs_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_RecordType_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hogares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Select_Type</targetReference>
            </connector>
            <label>Hogar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Services_or_Materials</name>
        <label>Services or Materials?</label>
        <locationX>1359</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Services_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_New_Type_MS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Services</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Required_on_WOLI</targetReference>
            </connector>
            <label>Services</label>
        </rules>
        <rules>
            <name>Materials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_New_Type_MS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Materials</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Create_New_Material</targetReference>
            </connector>
            <label>Materials</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_New_Material</name>
        <label>Want New Material?</label>
        <locationX>1458</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RB_Decision_New_Material</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_New_Material</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_New_Service</name>
        <label>Want New Service?</label>
        <locationX>864</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RB_Decision_New_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_New_Service</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>- Envío de aprobación al Owner de la WO v2</description>
    <dynamicChoiceSets>
        <name>PCS_Quantity_Unit_Measure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>QuantityUnitOfMeasure</picklistField>
        <picklistObject>ProductRequired</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Expense</name>
        <dataType>String</dataType>
        <displayField>Description</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_WorkOrderLineItemId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItem_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExpenseType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facturable</stringValue>
            </value>
        </filters>
        <object>Expense</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_ProductRequired</name>
        <dataType>String</dataType>
        <displayField>ProductName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItem_Record.Id</elementReference>
            </value>
        </filters>
        <object>ProductRequired</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Products</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Zone</name>
        <dataType>String</dataType>
        <displayField>CoIT_Zone_Name__c</displayField>
        <object>CoIT_Zone__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CoIT SFSMF Reporte de Novedades {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CoIT SFSMF Reporte de Novedades</label>
    <loops>
        <name>Loop_Product_Required_Records</name>
        <label>Loop Product Required Records</label>
        <locationX>666</locationX>
        <locationY>1646</locationY>
        <assignNextValueToReference>Variable_Loop_ProductRequired</assignNextValueToReference>
        <collectionReference>Colllection_ProductRequired_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exist_Product_Required</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Zone_Record2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Expense_Record</name>
        <label>Create Expense Record</label>
        <locationX>1326</locationX>
        <locationY>1754</locationY>
        <inputReference>NewExpense_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Product_Required_Record</name>
        <label>Create New Product Required Record</label>
        <locationX>798</locationX>
        <locationY>2570</locationY>
        <inputReference>NewProductRequired_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Name</name>
        <label>Get Product Name</label>
        <locationX>666</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_Resume_New_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProductRequired_Record.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Aux_Product_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Required_on_WOLI</name>
        <label>Get Product Required on WOLI</label>
        <locationX>864</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sc_Question_New_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItem_Record.Id</elementReference>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>Colllection_ProductRequired_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductName</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Id</name>
        <label>Get RecordType Id</label>
        <locationX>1733</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Asesor_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder_Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>V_RecordType_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Item_Record</name>
        <label>Get Work Order Line Item Record</label>
        <locationX>1733</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WorkOrderLineItem_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LineItemNumber</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Record</name>
        <label>Get Work Order Record</label>
        <locationX>1733</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItem_Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>CoIT_Partner_Account__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Zone_Record</name>
        <label>Get Zone Record</label>
        <locationX>1326</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_Resume_Material</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewExpense_Record.CoIT_Zone__c</elementReference>
            </value>
        </filters>
        <object>CoIT_Zone__c</object>
        <outputReference>CoIT_Zone_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CoIT_Zone_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Zone_Record2</name>
        <label>Get Zone Record</label>
        <locationX>666</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProductRequired_Record.CoIT_Zone__c</elementReference>
            </value>
        </filters>
        <object>CoIT_Zone__c</object>
        <outputReference>CoIT_Zone_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CoIT_Zone_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Required</name>
        <label>Update Product Required</label>
        <locationX>534</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Product_Required_Update_for_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRequiredId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_New_Quantity_Required__c</field>
            <value>
                <elementReference>NewProductRequired_Record.QuantityRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Zone__c</field>
            <value>
                <elementReference>PL_Zona2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <elementReference>NewProductRequired_Record.QuantityUnitOfMeasure</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequired</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Line_Item_Record</name>
        <label>Update Work Order Line Item Record</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Work_Order_Line_Item_for_Approval</targetReference>
        </connector>
        <inputReference>New_WOLI_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>SC_Create_New_Material</name>
        <label>Crear nueva Expense?</label>
        <locationX>1458</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Want_New_Material</targetReference>
        </connector>
        <fields>
            <name>DT_Expenses_Titlte</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Resumen de los materiales incluidos en la partida de Orden de trabajo # {!WorkOrderLineItem_Record.LineItemNumber}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RB_Materials</name>
            <choiceReferences>RCS_Expense</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Materiales agregados al registro</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;Esta sección solo se muestra de forma informativa, no debe seleccionar ningún elemento&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RB_Decision_New_Material</name>
            <choiceReferences>C_Yes</choiceReferences>
            <choiceReferences>C_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>C_Yes</defaultSelectedChoiceReference>
            <fieldText>Desea agregar un nuevo material?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Message_Advice_Cars</name>
        <label>SC_Message_Advice_Cars</label>
        <locationX>2382</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_Advice_Cars</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(11, 147, 63); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Las novedades no están habilitadas para este tipo de servicio.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_New_Material</name>
        <label>Nuevo Material</label>
        <locationX>1326</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Expense_Record</targetReference>
        </connector>
        <fields>
            <name>DT_Title_NewMaterial</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ingrese los datos del material que desea solicitar&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_Material_Name</name>
            <dataType>String</dataType>
            <fieldText>Nombre del Material</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>N_Cantidad</name>
            <dataType>Number</dataType>
            <fieldText>Cantidad</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_Zona</name>
            <choiceReferences>RCS_Zone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Zona</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_New_Service</name>
        <label>Nuevo Servicio</label>
        <locationX>666</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Product_Required_Record</targetReference>
        </connector>
        <fields>
            <name>DT_Title_NewService</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ingrese los datos del servicio que desea agregar o modificar&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_ProductId</name>
            <choiceReferences>RCS_Products</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>N_QuantityAffected</name>
            <dataType>Number</dataType>
            <fieldText>Cantidad Afectada</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>3</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>N_QuantityRequired</name>
            <dataType>Number</dataType>
            <fieldText>Cantidad Requerida</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_QuantityUnitOfMeasure</name>
            <choiceReferences>PCS_Quantity_Unit_Measure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unidad de Medida</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_Zona2</name>
            <choiceReferences>RCS_Zone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Zona</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sc_Question_New_Service</name>
        <label>Crear nuevo Servicio?</label>
        <locationX>864</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Want_New_Service</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_DT_Expenses_Titlte</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Resumen de los servicios incluidos en la partida de Orden de trabajo # {!WorkOrderLineItem_Record.LineItemNumber}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RB_Services</name>
            <choiceReferences>RCS_ProductRequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Servicios agregados al registro</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Esta sección solo se muestra de forma informativa, no debe seleccionar ningún elemento&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RB_Decision_New_Service</name>
            <choiceReferences>C_Yes</choiceReferences>
            <choiceReferences>C_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>C_Yes</defaultSelectedChoiceReference>
            <fieldText>Desea agregar o actualizar un nuevo servicio?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Resume_Material</name>
        <label>Resumen Nuevo Material</label>
        <locationX>1326</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Expense_Record</targetReference>
        </connector>
        <fields>
            <name>Dt_Resume_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Resumen Material&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_Resume_Description</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Nombre: &lt;/strong&gt;{!NewExpense_Record.Description}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Cantidad: &lt;/strong&gt;{!NewExpense_Record.Quantity}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Zona: &lt;/strong&gt;{!CoIT_Zone_Record.CoIT_Zone_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de transacción: &lt;/strong&gt;{!NewExpense_Record.TransactionDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Resume_New_Service</name>
        <label>Resumen Nuevo Servicio</label>
        <locationX>666</locationX>
        <locationY>2354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Exist_ProductRequiredId</targetReference>
        </connector>
        <fields>
            <name>Dt_Resume_Title_Service</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Resumen Servicio&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_Resume_Description_PR</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Nombre: &lt;/strong&gt;{!Aux_Product_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Cantidad Requerida: &lt;/strong&gt;{!NewProductRequired_Record.QuantityRequired}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Cantidad Afectada: &lt;/strong&gt;{!NewProductRequired_Record.CoIT_Quantity_Affected__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Unidad de medida: &lt;/strong&gt;{!NewProductRequired_Record.QuantityUnitOfMeasure}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Zona: &lt;/strong&gt;{!CoIT_Zone_Record.CoIT_Zone_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Select_Dates</name>
        <label>Seleccione las fechas</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_New_Dates_on_WOLI_Record</targetReference>
        </connector>
        <fields>
            <name>DT_SelectDates</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Seleccione la nueva fecha y hora de inicio y finalización&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_StartDate</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>WorkOrderLineItem_Record.StartDate</elementReference>
            </defaultValue>
            <fieldText>Fecha de inicio</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DT_EndDate</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>WorkOrderLineItem_Record.EndDate</elementReference>
            </defaultValue>
            <fieldText>Fecha de finalización</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LTA_Comments</name>
            <fieldText>Especifique la razón del cambio</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Select_Type</name>
        <label>Seleccione el tipo de novedad</label>
        <locationX>1084</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dates_or_Materials</targetReference>
        </connector>
        <fields>
            <name>DT_Select</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Seleccione el tipo de novedad que desea reportar&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_New_Type</name>
            <choiceReferences>C_Dates</choiceReferences>
            <choiceReferences>C_Materials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Novedad</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Seleccione_Servicio_o_Material</name>
        <label>Seleccione Servicio o Material</label>
        <locationX>1359</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Services_or_Materials</targetReference>
        </connector>
        <fields>
            <name>DT_Select_Material_Service</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Seleccione si desea agregar un Servicio o Material&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_New_Type_MS</name>
            <choiceReferences>C_Services</choiceReferences>
            <choiceReferences>C_Materials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1607</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order_Line_Item_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Asesor_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Asesor_Id2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Aux_Expense_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>Aux_Product_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>CoIT_Zone_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CoIT_Zone__c</objectType>
    </variables>
    <variables>
        <name>Colllection_ProductRequired_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>Expenses_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_WOLI_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>NewExpense_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>NewProductRequired_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>ProductRequiredId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Aux_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>V_Loop_Expenses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>V_RecordType_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_Loop_ProductRequired</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>WorkOrder_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderLineItem_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
