force-app/main/default/flows/CoIT_RTF_NotifyAgent_on_AssignedCase_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_on_Case_Assignment</name>
        <label>Send Notification on Case Assignment</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_SendNotifyToFalse</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Case_Assignment_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Notification_recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Case_title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_SeverityCase_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_on_JeopardizedCaseAssignment</name>
        <label>Send Notification on Jeopardized Case Assignment</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_SendNotifyToFalse</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Case_Assignment_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Notification_recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!Notification_Case_title}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_CaseJeopardized_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>InJeopardyHistory_Record.CoIT_Service_Appointment__r.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_CaseIdValue</name>
        <label>Assignment Case Id Value</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assigned_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Notification_Recipients</name>
        <label>Set Notification Recipients</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Notification_recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCS_CaseSeverity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DCS_CaseSeverity</name>
        <label>Does the case have severity?</label>
        <locationX>248</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>InJeopardyHistory_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Jeopardized</defaultConnectorLabel>
        <rules>
            <name>DCS_Outcome_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Assigned_Case.CoIT_Click_Severity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_on_Case_Assignment</targetReference>
            </connector>
            <label>Case with severity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_RecordAvailable_InJeopardyHistory</name>
        <label>Exits Record Available In Jeopardy History</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_SendNotifyToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InJeopardyHistory_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_on_JeopardizedCaseAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT RTF Notify Agent on Assigned Case Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT RTF Notify Agent on Assigned Case Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the assigned case to the agent</description>
        <name>Get_Assigned_Case</name>
        <label>Get Assigned Case</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Assignment_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Assignment_Notification</name>
        <label>Get Case Assignment Notification</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Notification_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CoIT_Case_Assigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the last modified record from the object In Jeopardy History which is related to the assigned case.</description>
        <name>InJeopardyHistory_Record</name>
        <label>Get Latest In Jeopardy History</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_RecordAvailable_InJeopardyHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_Date_Close__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CoIT_In_Jeopardy_History__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SendNotifyToFalse</name>
        <label>Update Send Notify To False</label>
        <locationX>248</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>CoIT_SendNotify__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_CaseIdValue</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoIT_SendNotify__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AgentWork</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Case_title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>¡Se ha asignado el caso con número {!Get_Assigned_Case.CaseNumber}!</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_CaseJeopardized_body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Los siguientes registros están generando el estado de alerta.
Orden de trabajo: {!InJeopardyHistory_Record.CoIT_Work_Order__r.WorkOrderNumber}
Cita de servicio: {!InJeopardyHistory_Record.CoIT_Service_Appointment__r.AppointmentNumber}
Motivo: {!InJeopardyHistory_Record.CoIT_In_Jeopardy_Reason__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_SeverityCase_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;El caso asignado con severidad {!Get_Assigned_Case.CoIT_Click_Severity__c} requiere de su gestión&lt;/p&gt;&lt;p&gt;¡Urgente No es posible reparar, requiere asistencia!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notification_recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
