force-app/main/default/flows/CoIT_SFSMF_Change_SA_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Selected_SA_Status_Failed</name>
        <label>Set Selected SA Status Failed</label>
        <locationX>732</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.CoIT_Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fallido</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.CoIT_Status_Subreason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SA_Status_Reason_Failed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_SA_Status_Progress_cars</name>
        <label>Set Selected SA Status Progress cars</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>PL_SA_Status_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SA_Status_Progress_Cars</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_SA_Status_Progress_Homes</name>
        <label>Set Selected SA Status Progress Homes</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>PL_SA_Status_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SA_Status_Progress_Homes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Appointment_Status_Cannot_Complete</name>
        <label>Set Service Appointment Status Cannot Complete</label>
        <locationX>292</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SA_Status_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.CoIT_Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_Status_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.CoIT_Rescheduling_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time_Reschedule_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Appointment_Status_Complete2</name>
        <label>Set Service Appointment Status Complete</label>
        <locationX>1260</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SA_Status_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.CoIT_Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.CoIT_Status_Subreason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Steps_from_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Appointment_Status_Default</name>
        <label>Set Service Appointment Status Default</label>
        <locationX>1524</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SA_Status_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.CoIT_Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.CoIT_Status_Subreason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceAppointment_StatusSelected_InProgressCanceled</name>
        <label>Set Service Appointment Status Selected InProgress Canceled</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>PL_SA_Status_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SA_StatusTravel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceAppointment_StatusTravel</name>
        <label>Set Service Appointment Status Travel</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_SA_StatusDispatched</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ServiceAppointmentRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ch_StatusTravel</name>
        <choiceText>En viaje</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA_Status_Reason_Failed_1</name>
        <choiceText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Cliente cancelo el servicio&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente cancelo el servicio</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA_Status_Reason_Failed_2</name>
        <choiceText>El cliente soluciono la emergencia por su cuenta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>El cliente soluciono la emergencia por su cuenta</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA_Status_Reason_Failed_3</name>
        <choiceText>Error en la direccion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Error en la direccion</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA_Status_Reason_Failed_4</name>
        <choiceText>Hay otro tecnico en sitio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hay otro tecnico en sitio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_CannotCompletedFailed</name>
        <choiceText>Fallida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fallido</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Dispatched_1</name>
        <choiceText>Accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_InProgress</name>
        <choiceText>En sitio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Progress_1</name>
        <choiceText>Completada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Progress_2</name>
        <choiceText>No puede completarse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Progress_3</name>
        <choiceText>Fallida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fallido</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Reason_1</name>
        <choiceText>El cliente solicita reagendar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>El cliente solicita reagendar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Reason_2</name>
        <choiceText>Falta definicion por Asistencia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Falta definicion por Asistencia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Reason_3</name>
        <choiceText>Falta herramientas y/o repuesto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Falta herramientas y/o repuesto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Reason_Canceled_1</name>
        <choiceText>Cliente cancela servicio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente cancela servicio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Reason_Canceled_2</name>
        <choiceText>Novedades con Proveedor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Novedades con Proveedor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Reason_canceled_3</name>
        <choiceText>CLS cancela el servicio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLS cancela el servicio</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Current_Service_Appointment_Status</name>
        <label>Current Service Appointment Status</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_No_Status_To_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Scheduling_Model</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_StatusDispatched</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_StatusTravel</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_In_Progress</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Scheduling_Model</name>
        <label>Evaluate Scheduling Model</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Screen_No_Status_To_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SchedulingModel_RequireAcceptance_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.CoIT_WOM_Scheduling_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>By Direct Assigment with Acceptance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Require_Acceptance</targetReference>
            </connector>
            <label>Require Acceptance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluation_Work_Step_Status</name>
        <label>Evaluation Work Step Status</label>
        <locationX>1436</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Screen_CantCompleteServiceAppointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Completed</defaultConnectorLabel>
        <rules>
            <name>Completed_EvaluationWorkstepStatus_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar_Worksteps.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVar_Worksteps.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Work_Steps_from_Work_Order</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluation_Work_Step_Tiempo_de_Solucion_Completed</name>
        <label>Evaluation Work Step Tiempo de Solucion Completed</label>
        <locationX>116</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Screen_Work_Step_Tiempo_de_Solucion_No_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WorkOrder_WorkStep_TiempodeSolucion_Completed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_WorkOrder_WorkStepId_TiempodeSolucion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>V_WorkOrder_WorkStepStatus_TiempodeSolucion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Appointment_Status_Cannot_Complete</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_In_Progress</name>
        <label>Record Type - In Progress</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SA_Change_Status_Progress_Cars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hogares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_RecordType_Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hogares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Change_Status_Progress_Homes</targetReference>
            </connector>
            <label>Hogares</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Appointment_Status</name>
        <label>Service Appointment Status</label>
        <locationX>908</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Set_Service_Appointment_Status_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cannot_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PL_SA_Status_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Change_Status_Reason_Cannot_Complete_Hogares</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_SA_Status_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fallido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_StatusReason_Failed</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
        <rules>
            <name>Completado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_SA_Status_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Appointment_Status_Complete2</targetReference>
            </connector>
            <label>Completado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Reason_Cannot_Complete</name>
        <label>Status Reason Cannot Complete</label>
        <locationX>292</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>SA_Rescheduling_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Falta_definicion_por_Asistencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_Status_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Falta definicion por Asistencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WorkOrder_WorkStep_Tiempodesolucion</targetReference>
            </connector>
            <label>Falta definicion por Asistencia</label>
        </rules>
    </decisions>
    <description>VERSION 29+:
The labels of Resources of type Choices are changed to Spanish
-------
- Status Reason
-DateNull corregido
-DateNull eliminado
-Eliminado Cambio de estado a Cancelado desde la app movil
-Cambio estado disponibles2
-Display text cuando no es posible cambiar el estado
,
- Transicion a Aceptado modificada - eliminado campo Acetada
- Selección de razon de fallido con componente personalizado (NO field component)
-Agregado mensaje cuando la cita requiere aceptación.
- Actualización estado fallido.
- Advertencia de no permitir realizar (cannot complete--&gt;requiere definición de aisstencia) sin completar el workstep de &quot;tiempo de solucion&quot;
- Alerta cuando no se puede completar una SA v8
- Label Choise en In progres cambia a En sitio</description>
    <dynamicChoiceSets>
        <name>SA_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CoIT FSMF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT SFSMF Change SA Status</label>
    <loops>
        <name>Loop_Work_Steps_from_Work_Order</name>
        <label>Loop Work Steps from Work Order</label>
        <locationX>1260</locationX>
        <locationY>1298</locationY>
        <assignNextValueToReference>LoopVar_Worksteps</assignNextValueToReference>
        <collectionReference>Collection_WorkSteps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluation_Work_Step_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Service_Appointment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_SA_Record_Type</name>
        <label>Get SA Record Type</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Service_Appointment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>SA_RecordType_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_Record</name>
        <label>Get Service Appointment Record</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>CoIT_Acceptance_Status__c</queriedFields>
        <queriedFields>CoIT_WOM_Scheduling_Model__c</queriedFields>
        <queriedFields>FSSK__FSK_Work_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Steps_from_Work_Order</name>
        <label>Get Work Steps from Work Order</label>
        <locationX>1260</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Work_Steps_from_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>Collection_WorkSteps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder_WorkStep_Tiempodesolucion</name>
        <label>Get Work Order Work Step Tiempo de solucion</label>
        <locationX>116</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluation_Work_Step_Tiempo_de_Solucion_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputAssignments>
            <assignToReference>V_WorkOrder_WorkStepId_TiempodeSolucion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_WorkOrder_WorkStepStatus_TiempodeSolucion</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>908</locationX>
        <locationY>2090</locationY>
        <inputReference>ServiceAppointmentRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ServiceAppointmentRecord</name>
        <label>Update Service Appointment Record</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <inputReference>ServiceAppointmentRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>SA_Change_Status_Progress_Cars</name>
        <label>SA Change Status Progress Cars</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Selected_SA_Status_Progress_cars</targetReference>
        </connector>
        <fields>
            <name>PL_SA_Status_Progress_Cars</name>
            <choiceReferences>Status_Progress_1</choiceReferences>
            <choiceReferences>Status_Progress_3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona el estado a cambiar:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SA_Change_Status_Progress_Homes</name>
        <label>SA Change Status Progress Homes</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Selected_SA_Status_Progress_Homes</targetReference>
        </connector>
        <fields>
            <name>PL_SA_Status_Progress_Homes</name>
            <choiceReferences>Status_Progress_1</choiceReferences>
            <choiceReferences>Status_Progress_2</choiceReferences>
            <choiceReferences>Status_Progress_3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona el estado a cambiar:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SA_Change_Status_Reason_Cannot_Complete_Hogares</name>
        <label>SA Change Status Reason Cannot Complete Hogares</label>
        <locationX>292</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Status_Reason_Cannot_Complete</targetReference>
        </connector>
        <fields>
            <name>PL_Status_Reason</name>
            <choiceReferences>Status_Reason_1</choiceReferences>
            <choiceReferences>Status_Reason_2</choiceReferences>
            <choiceReferences>Status_Reason_3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione un motivo del cambio de estado.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SA_Rescheduling_Date</name>
        <label>SA Get Rescheduling Date</label>
        <locationX>468</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Service_Appointment_Status_Cannot_Complete</targetReference>
        </connector>
        <fields>
            <name>Date_Time_Reschedule_date</name>
            <dataType>DateTime</dataType>
            <fieldText>Seleccione una fecha de reprogramación del servicio.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_CantCompleteServiceAppointment</name>
        <label>Screen_CantCompleteServiceAppointment</label>
        <locationX>1524</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_DT_CantCompleteSErviceAppointment</name>
            <fieldText>&lt;p&gt;No es posible completar la cita de servicio. Por favor primero complete todo el plan de trabajo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_No_Status_To_Change</name>
        <label>Screen No Status To Change</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_No_Status_Tu_Change</name>
            <fieldText>&lt;p&gt;No es posible cambiar de estado para el estado actual en el que se encuentra la cita de servicio.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Require_Acceptance</name>
        <label>Screen Require Acceptance</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DT_No_Status_Tu_Change</name>
            <fieldText>&lt;p&gt;Esta cita de servicio requiere aceptación, por favor diríjase al menú de acciones y seleccione &quot;Aceptar Cita de Servicio&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_StatusDispatched</name>
        <label>Screen Status Dispatched</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_ServiceAppointment_StatusTravel</targetReference>
        </connector>
        <fields>
            <name>PL_SA_StatusDispatched</name>
            <choiceReferences>Ch_StatusTravel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona el estado a cambiar:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_StatusReason_Failed</name>
        <label>Screen Status Reason Failed</label>
        <locationX>732</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Selected_SA_Status_Failed</targetReference>
        </connector>
        <fields>
            <name>PL_SA_Status_Reason_Failed</name>
            <choiceReferences>SA_Status_Reason_Failed_1</choiceReferences>
            <choiceReferences>SA_Status_Reason_Failed_2</choiceReferences>
            <choiceReferences>SA_Status_Reason_Failed_3</choiceReferences>
            <choiceReferences>SA_Status_Reason_Failed_4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione un motivo de cambio de estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_StatusTravel</name>
        <label>Screen Status Travel</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_ServiceAppointment_StatusSelected_InProgressCanceled</targetReference>
        </connector>
        <fields>
            <name>PL_SA_StatusTravel</name>
            <choiceReferences>Status_InProgress</choiceReferences>
            <choiceReferences>Status_CannotCompletedFailed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona el estado a cambiar:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Work_Step_Tiempo_de_Solucion_No_Completed</name>
        <label>Screen Work Step Tiempo de Solucion No Completed</label>
        <locationX>204</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_No_Completed_WorkStep_TiempodeSolucion</name>
            <fieldText>&lt;p&gt;Para seleccionar esta razon de cambio de estado se requiere que primero se realice el paso del plan de trabajo de la Orden del Servicio llamado: &quot;Tiempo de solución&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_WorkSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopVar_Worksteps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>PL_SA_Status_Selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_RecordType_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SA_WorkTypeGroupRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroup</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>translatedOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_WorkOrder_WorkStepId_TiempodeSolucion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_WorkOrder_WorkStepStatus_TiempodeSolucion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
