force-app/main/default/flows/CoIT_TF_Set_Assigned_Service_Resource_Field_To_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>-Se actualiza cuando se crea o actualiza.
-Crear registro de SASH</description>
    <environments>Default</environments>
    <interviewLabel>CoIT TF Set Assigned Service Resource Field To SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT TF Set Assigned Service Resource Field To SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Appointment_Status_History_Record</name>
        <label>Create Service Appointment Status History Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CoIT_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Last_Date_Location__c</field>
            <value>
                <elementReference>$Record.ServiceResource.LastKnownLocationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Last_Latitud_Location__c</field>
            <value>
                <elementReference>$Record.ServiceResource.LastKnownLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Last_Longitude_Location__c</field>
            <value>
                <elementReference>$Record.ServiceResource.LastKnownLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_New_Status__c</field>
            <value>
                <elementReference>$Record.ServiceAppointment.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Previous_Status__c</field>
            <value>
                <elementReference>$Record.ServiceAppointment.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Service_Appointment__c</field>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Service_Resource__c</field>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Work_Type__c</field>
            <value>
                <elementReference>$Record.ServiceAppointment.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>CoIT_Service_Appointment_Status_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Assigned_Resource_Field_To_SA</name>
        <label>Update Assigned Resource Field To SA</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_Service_Appointment_Status_History_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Assigned_Resource_Field_To_SA</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
