force-app/main/default/flows/CoIT_RTF_Change_Partner_Status_in_Service_Resources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Service_Resource_Collection</name>
        <label>Set Service Resource Collection</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Service_Resource_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Resource_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_a_Service_Resource</name>
        <label>Has a Service Resource?</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_Contacts_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Resource_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Resource_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Partner_Status_Active</name>
        <label>Is Partner Status Active?</label>
        <locationX>358</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Partner_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Service_Resource_Collection_Active</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Inactive_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoIT_Partner_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Service_Resource_Collection_Inactive</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoIT RTF Change Partner Status in Service Resources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoIT RTF Change Partner Status in Service Resources</label>
    <loops>
        <name>Loop_Contacts_Records</name>
        <label>Loop Contacts Records</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Contacts_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Service_Resource_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Partner_Status_Active</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Service_Resource_Collection_Active</name>
        <label>Loop Service Resource Collection Active</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <collectionReference>Service_Resource_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Partner_Status_In_Service_Resource_Active</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Service_Resource_Collection_Inactive</name>
        <label>Loop Service Resource Collection Inactive</label>
        <locationX>402</locationX>
        <locationY>1139</locationY>
        <collectionReference>Service_Resource_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Partner_Status_In_Service_Resource_Inactive</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts_Records</name>
        <label>Get Contacts Records</label>
        <locationX>358</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contacts_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Record</name>
        <label>Get Service Resource Record</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Contacts_Records.Service_Resource__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partner_Status_In_Service_Resource_Active</name>
        <label>Update Partner Status In Service Resource Active</label>
        <locationX>138</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Loop_Service_Resource_Collection_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Service_Resource_Collection_Active.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Is_Account_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Status_In_Service_Resource_Inactive</name>
        <label>Update Partner Status In Service Resource Inactive</label>
        <locationX>490</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Loop_Service_Resource_Collection_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Service_Resource_Collection_Inactive.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Is_Account_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Socio</stringValue>
            </value>
        </filters>
        <filters>
            <field>CoIT_Partner_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Service_Resource_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
</Flow>
