force-app/main/default/flows/Crear_WO_DIagnostico.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Tipo_de_impacto</name>
        <label>Tipo de impacto?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Asignar_WT_a_WOLI_Asesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alto</defaultConnectorLabel>
        <rules>
            <name>Medio_o_bajo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Case.CoIT_Impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_WT_a_WOLI_Asesor</targetReference>
            </connector>
            <label>Medio o bajo</label>
        </rules>
    </decisions>
    <description>- Actualización del Case a &quot;WO_diagnostico_creada&quot; = True
- Asignacion SA owner v3</description>
    <environments>Default</environments>
    <interviewLabel>Crear WO-DIagnostico {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Crear WO-DIagnostico</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Appointment_Dependency_para_las_SA</name>
        <label>Appointment Dependency para las SA</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Obtener_WO_Diagnostico</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_1__c</field>
            <value>
                <elementReference>Obtener_SA_Asesor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_2__c</field>
            <value>
                <elementReference>Obtener_SA_Tecnico.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSL__Time_Dependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_WO_Diagnostico</name>
        <label>Crear WO-Diagnostico</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Actualizar_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Creacion_Wo_Diagnostico_fallida</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Obtener_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoIT_Impacto__c</field>
            <value>
                <elementReference>Obtener_Case.CoIT_Impacto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Obtener_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Obtener_Case.Contact.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q8I0000004Ui8QAE</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_WOLI_Asesor</name>
        <label>Crear WOLI-Asesor</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Crear_WOLI_Tecnico</targetReference>
        </connector>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_WOLI_Tecnico</name>
        <label>Crear WOLI-Tecnico</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Tipo_de_impacto</targetReference>
        </connector>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Resource_preference_WOLI_Asesor</name>
        <label>Resource preference WOLI-Asesor</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Resource_preference_WOLI_Tecnico</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Crear_WOLI_Asesor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Obtener_Sr_Asesor.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Resource_preference_WOLI_Tecnico</name>
        <label>Resource preference WOLI-Tecnico</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Obtener_SA_Asesor</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Crear_WOLI_Tecnico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Obtener_Case.null__NotFound.Service_Resource__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Case</name>
        <label>Obtener Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_WO_Diagnostico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_SA_Asesor</name>
        <label>Obtener SA-Asesor</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_SA_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Asesor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_SA_Tecnico</name>
        <label>Obtener SA-Tecnico</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relacionar_SA_Asesor_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Tecnico</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Sr_Asesor</name>
        <label>Obtener Sr-Asesor</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_preference_WOLI_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Case.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_WO_Diagnostico</name>
        <label>Obtener WO-Diagnostico</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creaci_n_exitosa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WO_Diagnostico</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Case</name>
        <label>Actualizar Case</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Crear_WOLI_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoIT_Wo_Diagnostico_creada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_SA_Asesor</name>
        <label>Actualizar SA-Asesor</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Actualizar_SA_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Asesor</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsOffsiteAppointment</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_SA_Tecnico</name>
        <label>Actualizar SA-Tecnico</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Obtener_Sr_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Tecnico</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsOffsiteAppointment</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_WT_a_WOLI_Asesor</name>
        <label>Asignar WT a WOLI-Asesor</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Asignar_WT_a_WOLI_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Asesor</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q8I0000004Ui9QAE</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_WT_a_WOLI_Tecnico</name>
        <label>Asignar WT a WOLI-Tecnico</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Actualizar_SA_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Tecnico</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q8I0000004UiVQAU</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Actualizar_SA_Asesor</name>
        <label>Copy 2 of Actualizar SA-Asesor</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_2_of_Actualizar_SA_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_SA_Asesor.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Actualizar_SA_Tecnico</name>
        <label>Copy 2 of Actualizar SA-Tecnico</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Obtener_Sr_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_SA_Tecnico.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Asignar_WT_a_WOLI_Asesor</name>
        <label>Copy 2 of Asignar WT a WOLI-Asesor</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_2_of_Asignar_WT_a_WOLI_Tecnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Asesor</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q8I0000004Ui6QAE</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Asignar_WT_a_WOLI_Tecnico</name>
        <label>Copy 2 of Asignar WT a WOLI-Tecnico</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Copy_2_of_Actualizar_SA_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_WOLI_Tecnico</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q8I0000004UiXQAU</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Relacionar_SA_Asesor_Tecnico</name>
        <label>Relacionar SA Asesor-Tecnico</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Relacionar_SA_Tecnico_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_SA_Asesor.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__Related_Service__c</field>
            <value>
                <elementReference>Obtener_SA_Tecnico.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Time_Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Relacionar_SA_Tecnico_Asesor</name>
        <label>Relacionar SA Tecnico-Asesor</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Appointment_Dependency_para_las_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_SA_Tecnico.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__Related_Service__c</field>
            <value>
                <elementReference>Obtener_SA_Asesor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Time_Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Case.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Creaci_n_exitosa</name>
        <label>Creación exitosa</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_WO_Exitosa</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Se ha creado exitosamente la Orden de trabajo para el Diagnostico:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Orden de trabajo: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Obtener_WO_Diagnostico.WorkOrderNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Creacion_Wo_Diagnostico_fallida</name>
        <label>Creacion Wo Diagnostico fallida</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_WO_diag_fallida</name>
            <fieldText>&lt;p&gt;No es posible crear Ordene de trabajo para Diagnostico.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Por favor revisa que el propietario (Owner) del Caso (Case) sea un usuario y no una cola (Queue).&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Case</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
