force-app/main/default/flows/Custom_Fix_Overlap.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_if_Overlap_is_Today</name>
        <label>Check if Overlap is Today</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FSL__IsStartTodayAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Sheduling_Policy</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>objectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>objectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timezoneName</name>
            <value>
                <elementReference>serviceResourceTimezone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSL__IsStartTodayAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Fix_Schedule_Overlaps</name>
        <label>Fix Schedule Overlaps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FSL__RunFixScheduleOverlaps</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EndTime</name>
            <value>
                <elementReference>end</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ResourceId</name>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ResourceTimeZone</name>
            <value>
                <elementReference>serviceResourceTimezone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SchedulingPolicyId</name>
            <value>
                <elementReference>Get_Sheduling_Policy.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartTime</name>
            <value>
                <elementReference>start</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSL__RunFixScheduleOverlaps</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Custom Fix Overlap {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Fix Overlap</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sheduling_Policy</name>
        <label>Get Sheduling Policy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fix_Schedule_Overlaps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoIT Bolivar Emergency Policy</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL__Scheduling_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Overlap_is_Today</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>end</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>schedulePolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>start</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
