force-app/main/default/flows/RTF_Create_Resource_Preference_Second_Work_Order_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Evaluate_Work_Type</name>
        <label>Evaluate  Work Type</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Second_Work_Order_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pick Up</defaultConnectorLabel>
        <rules>
            <name>EvaluateWorkType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Line_Itme</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Drop Off</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RTF Create Resource Preference Second Work Order Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF Create Resource Preference Second Work Order Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Second_Work_Order_Line_Item</name>
        <label>Get Second Work Order Line Item</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Service_Resource_Preference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_WorkType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drop Off</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>RelatedRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Itme</name>
        <label>Get Work Order Line Itme</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CoIT_WorkType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pick Up</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>WorkOrderId</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order_Line_Itme</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreferenceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedRecordId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>1WL</stringValue>
            </value>
        </filters>
        <object>ResourcePreference</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Service_Resource_Preference</name>
        <label>Create Service Resource Preference</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <flowName>CoIT_AF_Create_Service_Resource_Preference_for_Work_Order</flowName>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TransactionAfterScheduled</name>
            <value>
                <elementReference>$Record.CoIT_WOM_TransactionAfterScheduled__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_PreferenceType</name>
            <value>
                <elementReference>$Record.PreferenceType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>RelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
